.top-navigation-menu {
    @include breakpoint(smd) {
        position: fixed;
        // right: -100%;
        left: -100%;
        top: 60px;
        // padding-right: 16px;
        padding-bottom: 62px;
        height: 100%;
        width: 100%;
        max-width: 600px;
        background-color: #FFFFFF;
        transition: left 0.65s cubic-bezier(0.5, 0.5, 0, 1);
        // border-top: 1px solid #E0E0E0;
        overflow-y: auto;
        position: fixed;
        top: 60px;
        z-index: 1001;

        &__ham {
            width: 20px;
            height: 14px;
            position: relative;
            float: left;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            margin-top: 24px;

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: #666;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2) {
                    top: 6px;
                }

                &:nth-child(3) {
                    top: 12px;
                }
            }

            &.open span:nth-child(1) {
                top: 6px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            &.open span:nth-child(2) {
                opacity: 0;
                left: -10px;
            }

            &.open span:nth-child(3) {
                top: 6px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }

        }

        &__menuimg {
            float: left;
        }

        &__angle {
            float: right;
            position: relative;
            top: 17px;
            right: 10px;
            transition: all 0.5s ease;
            cursor: pointer;

            &.active {
                transform: rotate(180deg);
            }
        }

        & ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;
            text-align: center;
            padding-top: 50px;
            >li {
                display: block;
                float: left;
                width: 100%;
                padding: 5px 0;
                // border-bottom: 1px solid #E6E6E6;
                position: relative;
                transform: translate3d(-100%, 0, 0);
                transition: transform 0.4s ease;
                a {
                    // color: $tkpd-black-trans;
                    color: rgba(0, 0, 0, 0.34);
                    padding: 15px 10px;
                    display: inline-block;
                    font-size: 17px;
                    font-weight: 800;

                    &:hover {
                        opacity: .8;
                        text-decoration: none;
                    }

                    &.active {
                        // color: #42B549;
                        color: rgba(0, 0, 0, 0.7);
                    }
                }

                &.top-navigation-menu__drop-down {
                    ul {
                        max-height: 0px;
                        overflow: hidden;
                        transition: max-height 0.5s ease-out;

                        li {
                            border-bottom: 0px;
                            border-top: 1px solid #E6E6E6;
                            padding-left: 25px;
                        }
                    }

                    &::before {
                        content: "";
                        box-sizing: border-box;
                        height: 6px;
                        width: 6px;
                        border-style: solid;
                        border-color: rgba(0, 0, 0, 0.25);
                        border-width: 0px 1px 1px 0px;
                        display: block;
                        position: absolute;
                        top: 27px;
                        transform: rotate(45deg);
                        right: 20px;
                        transition: transform 0.5s ease;
                    }

                    &.active {
                        &::before {
                            transform: rotate(225deg);
                        }

                        ul {
                            max-height: 1000px;
                            transition: max-height 0.6s ease-in;
                        }
                    }
                }
            }
        }

        &.active {
            // -webkit-transform: translate3d(-100%, 0, 0);
            // transform: translate3d(-100%, 0, 0);
            // right: 0;
            left: 0;
            & ul>li {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    @include breakpoint(md) {
        >ul {
            position: relative;
            // display: inline;
            float: right;
            margin-left: 15px;
            // top: -5px;
            box-sizing: border-box;

            >li {
                position: relative;
                text-align: center;
                // padding: 21px 16px;
                display: inline-block;
                margin-top: 21px;
                margin-bottom: 21px;

                a {
                    color: rgba(0, 0, 0, 0.38);
                    font-size: 13px;
                    font-weight: 600;
                    transition: color 0.6s ease;
                    padding: 21px 16px;
                    // opacity: 0.5;

                    &:hover,
                    &.active {
                        color: rgba(0, 0, 0, .8);
                        // font-weight: 600;
                        // opacity: 1;
                    }
                }

                >ul {
                    position: absolute;
                    z-index: 1000;
                    padding: 0 16px;
                    border: 1px solid #d5d5d5;
                    border-radius: 3px;
                    background-color: #fff;
                    width: 200px;
                    transition: all 0.2s ease-out 0.12s;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    top: 59px;
                    right: -80px;
                    opacity: 0;
                    visibility: hidden;
                    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);

                    &::before {
                        top: -6px;
                        right: 108px;
                        display: block;
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        border-radius: 4px;
                        background-color: #FFFFFF;
                    }

                    &::after {
                        display: block;
                        content: '';
                        position: absolute;
                        top: -7px;
                        right: 108px;
                        width: 16px;
                        height: 16px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        border-radius: 4px;
                        background-color: #FFFFFF;
                        border: 1px solid #E0E0E0;
                        z-index: -1;
                    }

                    li {
                        padding: 10px 0;
                        font-size: 13px;
                        font-weight: 600;
                        border-bottom: 1px solid #E0E0E0;
                        text-align: left;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }

                &:hover {
                    >ul {
                        top: 64px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            .top-navigation-menu__drop-down {
                padding-right: 18px;

                &::before {
                    content: "";
                    box-sizing: border-box;
                    height: 6px;
                    width: 6px;
                    border-style: solid;
                    border-color: rgba(0, 0, 0, 0.25);
                    border-width: 0px 1px 1px 0px;
                    display: block;
                    position: absolute;
                    top: 30px;
                    transform: rotate(45deg);
                    right: 5px;
                    transition: transform 0.2s ease, top 0.2s ease;
                }

                &:hover {
                    >a {
                        color: #42b549;
                    }

                    &::before {
                        border-color: #42b549;
                        transform: rotate(225deg);
                        top: 32px;
                    }
                }
            }
        }
    }
}

.top-navigation-menu--specmenu {
    width: 12%;
    float: right;
}

.menu-header {
    @include breakpoint(xs) {
        background: #42b549;
        color: #fff;
        padding: 15px;
        display: block;

        & a {
            color: #fff;
        }
    }

    @include breakpoint(sm) {
        background: #42b549;
        color: #fff;
        padding: 15px;
        display: block;

        & a {
            color: #fff;
        }
    }

    @include breakpoint(md) {
        display: none;
    }
}

.menu {
    display: inline-block;
}

.menu-close {
    @include breakpoint(xs) {
        font-size: 20px;
        top: -3px;
        position: relative;

        &:hover {
            text-decoration: none;
        }
    }

    @include breakpoint(sm) {
        font-size: 20px;
        top: -3px;
        position: relative;

        &:hover {
            text-decoration: none;
        }
    }
}


#header {
    position: fixed;
    z-index: 1002;
    background: white;
    width: 100%;
    margin: 0 auto;
    height: 64px;
    top: 0;
    left: 0;
    // box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
    padding: 0px 24px 0px 30px;
    transition: top .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-family: Montserrat;

    &.hid {
        top: -64px;
    }

    @include breakpoint(smd) {
        // padding: 0px 16px;
        padding: 0;
    }
}

.header__title {
    font-size: 1.6em;
    margin-top: 0;
    line-height: 32px;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-cover {
    background-size: cover;
}

.top-navigation-logo {
    @include breakpoint(xs) {
        display: block;
        float: left;
        // width: 220px;
        margin-top: 19px;
        text-align: center;
    }

    @include breakpoint(sm) {
        float: left;
        // width: 220px;
        margin-top: 19px;
        text-align: center;
    }

    @include breakpoint(md) {
        float: left;
        width: 17%;
        margin: 0;
        text-align: left;
    }
}

.site-logo {
    display: inline-block;
    cursor: pointer;
}

.site__logo {
    display: block;
    height: 26px;
    width: auto;
    margin-top: 19px;

    @include breakpoint(smd) {
        margin-top: 0;
        margin-left: 16px;
    }
}

.header-menu {
    float: left;
    margin-top: 6px;

    @include breakpoint(sm) {
        float: right;
    }
}

.page-header {
    margin: 51px 0 20px;
}

.bridge-widget {
    font-family: 'Open Sans', sans-serif;
    margin-top: 11px;
    opacity: .5;
    transition: opacity 0.5s ease;

    &:hover {
        opacity: 1;
    }

    @include breakpoint(xs) {
        display: none;
    }

    @include breakpoint(sm) {
        display: none;
    }

    @include breakpoint(md) {
        position: relative;
        display: inline;
        float: right;
        margin-left: 15px;
        top: 8px;
        box-sizing: border-box;
    }

    &:hover .bw-container {
        opacity: 1;
        visibility: visible;
        top: 45px;
    }
}


.bw-container::before {
    top: -6px;
    right: 24px;
    display: none;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 4px;
    background-color: #FFFFFF;
}

.bw-container::after {
    display: none;
    content: '';
    position: absolute;
    top: -7px;
    right: 24px;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    z-index: -1;
}

.bw-pivot {
    display: inline;
    margin-top: -2px;
    transition: opacity .25s ease;
}

.bw-button:hover {
    opacity: .8;
}

.bw-container {
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    background-color: #fff;
    width: 240px;
    top: 40px;
    right: -18px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out 0.12s;
    box-shadow: 0 30px 50px 0 rgba(29, 65, 98, 0.2);
}

.bw-item {
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    padding: 12px;
    transition: background 0.4s ease-in-out;
    background: transparent;
    border-radius: 12px;
}

.bw-item:hover {
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #F4F7FD;
}

.bw-item a {
    text-decoration: none;
}

.bw-icon__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 70px;
    background: transparent;
    transition: background .25s ease;
}

.bw-icon__text {
    display: block;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    font-family: Montserrat;
    line-height: 1.5;
    font-weight: 600;
    white-space: nowrap;
}

.bw-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}

.bw-icon-pulsa {
    background-image: url("https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/10/pivot-pulsa2x.png");
}

.bw-icon-tiket {
    background-image: url("https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/10/pivot-kereta2x.png");
}

.bw-icon-toped {
    background-image: url("https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/10/pivot-toped2x.png");
}

.bw-icon-ofstore {
    background-image: url("https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/10/pivot-mp2x.png");
}

.bw-icon-bantuan {
    background-image: url("https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/10/pivot-cs2x.png");
}

.bw-icon-donasi {
    background-image: url("https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/10/pivot-donasi2x.png");
}

.mobile-animation-wrapper {
    transition: -webkit-transform 0.65s cubic-bezier(0.5, 0.5, 0, 1);
    transition: transform 0.65s cubic-bezier(0.5, 0.5, 0, 1);
    transition: transform 0.65s cubic-bezier(0.5, 0.5, 0, 1), -webkit-transform 0.65s cubic-bezier(0.5, 0.5, 0, 1);

    &.active {
        -webkit-transform: translate3d(80%, 0, 0);
        transform: translate3d(80%, 0, 0);
    }
    &.toLeft {
        -webkit-transform: translate3d(-80%, 0, 0);
        transform: translate3d(-80%, 0, 0);
    }
}

// Our Workplace

.nav-workplace {
    &:hover .tn-workplace {
        opacity: 1;
        visibility: visible;
        top: 44px;
        transition: opacity 0.4s ease, top 0.4s ease, visibility 0.4s ease;

        @include breakpoint(smd) {
            top: 0;
            left: 0;
        }
    }
}

.tn-arrow {
    position: absolute;
    right: 3px;
    top: 47%;
    width: 8px;
    height: auto;

    @include breakpoint(smd) {
        position: absolute;
        right: 10px;
        top: 8px;
        width: 50px;
        padding: 20px;
        height: auto;
    }
}

.tn-workplace {
    position: absolute;
    top: 29px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .1);
    // overflow: hidden;
    width: 240px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, top 0.4s ease, visibility .3s ease;

    @include breakpoint(smd) {
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
        border: none;
        border-radius: 0;
        width: auto;
        opacity: 0;
        visibility: hidden;
        transform: none;
        margin-top: -10px;
        display: none;
    }

    &:hover {
        opacity: 1;
        visibility: visible;
        top: 44px;
        transition: opacity 0.4s ease, top 0.4s ease, visibility 0.4s ease;
    }

    &:before {
        content: "";
        width: 0;
        height: 0;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 10px solid #FFF;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        display: block;
        position: absolute;
        z-index: 1;

        @include breakpoint(smd) {
            display: none;
        }
    }

    &:after {
        content: "";
        width: 0;
        height: 0;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 12px solid #E0E0E0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        display: block;
        position: absolute;
        z-index: 0;

        @include breakpoint(smd) {
            display: none;
        }
    }

    & a {
        padding: 0 !important;

        @include breakpoint(smd) {
            width: 100% !important;
        }

        & span {
            border-bottom: 1px solid #E0E0E0;
        }

        &:last-child span {
            border-bottom: none;
        }
    }

    & div {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 600;
        background: #FFF;
        transition: color 0.5s ease;
        cursor: pointer;
        text-align: left;

        &:hover {
            color: #42b549;
            transition: color 0.5s ease;
        }
    }

    & span {
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.top-nav-search {
    float: right;
    margin-top: 18px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
    height: 24px;
    width: 24px;
    // overflow: hidden;
    position: relative;
    &__search {
        position: absolute;
        left: 0;
        top: 0;
        transition: left 0.4s ease;
    }
    &__close {
        position: absolute;
        left: 24px;
        top: 0;
        transition: left 0.4s ease;
    }

    @include breakpoint(smd) {
        display: block;
    }

    & .fa-times {
        display: none;
    }

    &.active {
        // & .fa-times {
        //     display: inline-block;
        // }

        // & .fa-search {
        //     display: none;
        // }
        & .top-nav-search__search {
            left: -24px;
        }
        & .top-nav-search__close {
            left: 0;
        }
    }
}

// Hamburger Icon 

#burger-menu {
    cursor: pointer;
    height: 24px;
    width: 24px;
    // margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2;
    float: left;
    margin-top: 14px;
    &.close {
        opacity: 0.8;
    }
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: #AEAEAE;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu span {
    right: 0px;
    top: 14px;
    width: 24px;
}

#burger-menu span:before {
    left: 0px;
    top: -7px;
    width: 16px;
}

#burger-menu span:after {
    left: 0px;
    top: 7px;
    width: 20px;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

/////////////
// Search //
////////////

$background: lightslategray;
$easing: cubic-bezier(.25,1.7,.35,.8);
$duration: 0.6s;

.search-icon {
    // background-color:$background;
    height: 2.8em;
    width: 2.8em;
    display:block;
    padding: 0.5em;
    // margin: 1em auto;
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
    top: 0;
    left: 0;
  }
  .circle {
    position: absolute;
    display: block;
    height: 18px;
    width: 18px;
    background-color: #FFF;
    border-radius: 70px;
    z-index:0;
    border: 3px solid #AEAEAE;
    transition: all $duration $easing;
    z-index: 1;
    top: 2px;
    left: 5px;
  }
  
  .handle {
    position: absolute;
    background-color: #AEAEAE;
    top: 13px;
    left: 5px;
    width: 22px;
    height: 3px;
    display: block;
    transform: rotate(45deg);
    float: right;
    border-radius: 2px;
    &:after {
      content:"";
      background-color: #AEAEAE;
      width: 22px;
      height: 3px;
      display: block;
      float: right;
      border-radius: 2px;
      transition: all $duration $easing;
      z-index: -1;
    }
  }
  
  .open {
    .circle {
      transform: scale(.02);
      transform-origin: 30% 40%;
      background: white;
      border-color:white;
    }
    .handle:after {
      transform-origin: center center;
      transform: rotate(90deg);
    }
  }

.fix-body {
    overflow: hidden;
}