body.error404 {
    height: 100%;
}

.main-404 {
    // min-height: calc(100% - 85px);
    display: table;
    width: 100%;
    height: calc(100vh - 85px);
    @include breakpoint(xs) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include breakpoint(sm) {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    @include breakpoint(md) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    @include breakpoint(hd) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.wrapper-404 {
    display: table-row;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
}

.the-404 {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    width: 500px;
    height: 500px;
}

/* image */

.img-wrapper {
    margin-top: 147px;
}
.the404-img {
    position: relative;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

/* copy */
.the404-copy {
    z-index: 0;
    margin-top: 5px;
    position: relative;
    margin-bottom: 64px;
}
.the404-copy__hero {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1.3px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    @include breakpoint(xs) {
        font-size: 42px;
    }
}
.the404-copy__sub {
    font-size: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    @include breakpoint(xs) {
        font-size: 16px;
    }
}

.hero-img {
    position: relative;
    z-index: 0;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* circles */
.small-circle {
    position: absolute;
    top: 8%;
    left: 30.5%;
    transform-origin: 50% 50%;
    bottom: 0;
    right: 0;
    width: 170px;
    height: 170px;
    -webkit-animation: spin-right 120s linear infinite;
    animation: spin-right 120s linear infinite;
    border: dashed 2px #E7E7E7;
    border-radius: 170px;
}

.middle-circle{
    position: absolute;
    top: -33%;
    left: 12.5%;
    transform-origin: 50% 50%;
    bottom: 0;
    right: 0;
    width: 340px;
    height: 340px;
    -webkit-animation: spin-left 180s linear infinite;
    animation: spin-left 180s linear infinite;
    border: dashed 2px #E7E7E7;
    border-radius: 340px;
}

.big-circle {
    position: absolute;
    top: -74%;
    left: -2.5%;
    transform-origin: 50% 50%;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
    -webkit-animation: spin-right 240s linear infinite;
    animation: spin-right 240s linear infinite;
    border: dashed 2px #E7E7E7;
    border-radius: 500px;
}
.astro-img {
    position: absolute;
    top: -75px;
    left: -22px;
    -webkit-animation: astro-sway 10s linear infinite;
    animation: astro-sway 10s linear infinite;
    z-index: 1;
    @include breakpoint(xs) {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.rocket-img {
    position: absolute;
    top: -96px;
    right: 34px;
    -webkit-animation: rocket-jitter 2.5s infinite linear;
    animation: rocket-jitter 2.5s infinite linear;
    z-index: 1;
}
.planetright-img {
    position: absolute;
    bottom: -62px;
    right: -16px;
    -webkit-animation: spin-left 100s linear infinite;
    animation: spin-left 100s linear infinite;
    z-index: 1;
}
.planetmiddle-img {
    position: absolute;
    top: -80px;
    left: 33%;
    z-index: 1;
}
.planetleft-img {
    position: absolute;
    bottom: -62px;
    left: -4px;
    z-index: 1;
}

@keyframes astro-sway {
    0% { transform: rotate(0deg) translateY(0px); } 
    25% { transform: rotate(-7deg) translateY(-7px); }
    75% { transform: rotate(7deg) translateY(7px); } 
    100% { transform: rotate(0deg) translateY(0px); } 
}

@keyframes rocket-jitter {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }
    25% {
        transform: rotate(0.5deg) translate(-2px, 2px);
    }

    75% {
        transform: rotate(-0.5deg) translate(2px, 2px);
    }

    100% {
        transform: rotate(0deg) translate(0px, 0px);
    }
}

@keyframes spin-right {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spin-left {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}