body.join{
  background:#f8f8f8;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

.cwh{
  margin-top:60px;
}

.apply{
  & .tkpd-form{
    margin-bottom:65px;
  }
  & .stepper-width{
    width:3%;
  }
  .education{
    position: relative;
    margin-top:10px;
    & > div{
      padding:0;
    }
    & .education-delete{
      position: absolute;
      z-index: 2;
      color:#ff5722;
      border-radius:50%;
      padding:7px 11px;
      background:#fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      top:10px;
      right:-0;
      cursor:pointer;
    }
    &.clone{
      display: none;
    }
  }
  .experience{
    position: relative;
    margin-top:10px;
    padding:0;
    & > div{
      padding:0;
    }
    & .experience-delete{
      position: absolute;
      z-index: 2;
      color:#ff5722;
      border-radius:50%;
      padding:7px 11px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background:#fff;
      top:10px;
      right:-0;
      cursor:pointer;
    }
    &.clone{
      display: none;
    }
  }
  h1{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    margin-top:80px;
    span{
      color:#42b549;
    }
  }
  & p{
    font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  margin-top:10px;
  color: rgba(0, 0, 0, 0.38);
  }
  .tkpd-form{
    input[type='submit']{
      background:green;
      color:#fff;
    }
    h2{
      font-size:20px;
      margin-top:0;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom:40px;
      font-weight: 600;
    }
    .row{
      position: relative;
      padding-bottom:20px;
      .stepper{
        position: absolute;
        height:100%;
        width:4px;
        background:#d3d3d3;
        left:-5px;
        top:4px;
        transition:background .3s ease;
        &.active{
          background:#27ae60;
        }
        &.quite-long{
          height:calc(100% + 30px);
        }
      }
      & .stepper-point{
        position: absolute;
        height:12px;
        width:12px;
        background:#d3d3d3;
        left:-9px;
        top:4px;
        border-radius:50%;
        transition:background .3s ease;
        &.big{
          height:16px;
          width:16px;
          left:-11px;
        }
        &.active{
          background:#27ae60;
        }
      }
      &.header{
        margin-top:30px;
      }
    }
  }
}

.tkpd-form {
  label{
    font-weight: 600;
    display:block;
    color:rgba(0,0,0,.7);
  }

  .tkpd-input{
    margin-bottom: 15px;
    position: relative;
    & .prepend{
      position: absolute;
      top:35px;
      left:10px;
      font-weight: bold;
    }
    &.select .icon{
      position: absolute;
      right:20px;
      top:35px;
      font-family: FontAwesome;
      font-size:1.3em;
      cursor: pointer;
    }
    &.select input[readonly="true"]{
      cursor: pointer;
    }
    & ul.select{
      position: absolute;
      z-index: 2;
      top:25px;
      left:0;
      width: 100%;
      background:#fff;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      display:none;
      opacity: 0;
      transition:all .3s ease;
      &.offset{
        top:68px;
      }
      & .option{
        padding:10px 25px;
        cursor: pointer;
        &:hover{
          background:rgba(0,0,0,.1);
        }
        &.default{
          color:rgba(0,0,0,.58);
          &:hover{
            background: #fff;
          }
        }
      }
    }
  }

  textarea{
    resize:none;
  }

  input[typet="text"]:not(.theInput), textarea{
    width:100%;
    border-radius:3px;
    border:1px solid #ccc;
    padding:10px 5px;
    outline:none;
    &:focus{
      border-color:#42b549;
    }
    &:valid{
      border-color:#42b549;
    }
    &:disabled{
      background:#e3e3e3;
      cursor: not-allowed;
    }
  }

  .info{
    color:rgba(0,0,0,.58);
    font-size:.9em;
    line-height: 1.7;
    &.error{
      color:red;
    }
  }
}



.tkpd-switch-track{
  display: inline-block;
  height: 14px;
  width: 35px;
  border-radius:7px;
  background:rgb(200,200,200);
  position:relative;
  transition: all .3s ease;
  .tkpd-switch-thumb{
    height: 20px;
    width: 20px;
    border-radius:50%;
    background:#fff;
    position: absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .3s ease;
  }
}
input[type="checkbox"],input[type="file"]{
  position: absolute;
  left:-999999px;
}
input[type="checkbox"]:disabled+label.tkpd-switch-wrap{
  cursor:not-allowed;
  & .tkpd-switch-thumb{
    background:rgb(170,170,170);
  }
}
input[type="checkbox"]:checked+label .tkpd-switch-track{ background:#64e06c }
input[type="checkbox"]:checked+label .tkpd-switch-thumb{ left:calc(100% - 20px); background:#42b549 }

.form-button{
  border:1px solid #ddd;
  border-radius:3px;
  padding:10px 20px;
  display: inline-block;
  cursor:pointer;
  &.disabled{
    cursor:not-allowed;
    background:#ddd;
  }
}

.inputContainer {
            margin:0 0 20px 40px;
            width: 400px;
            border-radius: 4px;
            padding: 5px;
            border: 1px solid #ccc;
            background:#fff;
        }
        .theInput {
            /* width: 100%; */
            border: none;
            outline: none;
            background-color: transparent;
            display: inline-block;
            padding: 2px 5px;
            float: left;
        }
        .theChip {
            color: #FFF;
            padding: 2px 5px;
            background-color: #45B249;
            border-radius: 10px;
            margin-right: 5px;
            overflow: hidden;
            display: inline-block;
            height: 24px;
            float: left;
            margin-bottom: 5px;
        }
        .theChip__text {
            max-width: 150px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
        }
        .theChip__delete {
            color: #FFF;
            display: inline-block;
            cursor: pointer;
            padding-left: 5px;
            font-size: 14px;
            vertical-align: top;
            margin-top: 3px;
        }




$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
