body.job{
  background:#f8f8f8;
}

.side-share-container{
  & .apply-text{
    font-size: 14px;
  line-height: 1.57;
  & a{
    text-decoration: underline;
  }
  }
  & .apply-share-text{
    font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom:20px;
  }
  & .apply-divider{
    text-align: center;
    position: relative;
    margin:20px 0;
    & span{
      background:#fff;
      position: relative;
      padding: 0 10px;
    }
    &::before{
      content:'';
      position: absolute;
      left:0;
      width:100%;
      height: 1px;
      top:50%;
      transform:translateY(-50%);
      background:#979797;
    }
  }
  & .text-center{
    text-align: center;
  }
  margin-top:145px;
  padding:20px;
  padding-right: 40px;
  &.mobile{
    @include breakpoint(smd){
      display:block;
    }
  }
  @include breakpoint(smd){
    display:none;
  }
}


.apply-bottom-mobile{
  text-align: center;
  & .apply-text{
    font-size: 14px;
  line-height: 1.57;
  & a{
    text-decoration: underline;
  }
  }
  & .apply-share-text{
    font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom:20px;
  }
  & .apply-divider{
    text-align: center;
    position: relative;
    margin:20px 0;
    & span{
      background:#f8f8f8;
      position: relative;
      padding: 0 10px;
    }
    &::before{
      content:'';
      position: absolute;
      left:0;
      width:100%;
      height: 1px;
      top:50%;
      transform:translateY(-50%);
      background:#979797;
    }
  }
  & .text-center{
    text-align: center;
  }
}

.side-apply-btn{
  border-radius: 3px;
  background-color: #42b549;
  padding:20px 0;
  color:#fff;
  text-align: center;
  margin-top:40px;
  margin-bottom:20px;
  font-size:14px;
  &:hover{
    background:#4fa149;
  }
}

.detail-job{
  margin-top:50px;
  & .job-apply-mobile{
    display:none;
    margin-top:20px;
    @include breakpoint(smd){
      display:block;
    }
  }
  & .white-container{
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.05);
    // transform:translateY(-102px);
    margin-top: -102px;
    padding:0;
    padding-bottom:40px;
    margin-bottom:40px;
    @include breakpoint(smd){
      margin-top:-91px;
    }
    & .detail-job-sub-container{
      padding-left:40px;
      padding-top:22px;
      padding-bottom:44px;
      @include breakpoint(smd){
        padding-left:20px;
        padding-top:12px;
        padding-bottom:42px;
      }
      & .detail-job-sub{
        display: inline-block;
        margin-right:20px;
        @include breakpoint(xs){
          // font-size:12px;
        }
        @include breakpoint(max480){
          margin-right:10px;
        }
        & img{
          margin-right:5px;
          transform: translateY(25%);
          //
          // @include breakpoint(max480){
          //   width:15px;
          // }
        }
      }

    }

    & h1{
      padding-left:40px;
      font-family: Montserrat;
  font-size: 38px;
  font-weight: bold;
  line-height: 1.16;
  color: rgba(0, 0, 0, 0.7);
  @include breakpoint(smd){
    padding:0 20px;
    font-size:26px;
    font-weight: 500;
    line-height: 1.46;
  }
    }
    &.mobile{
      display: none;
      width:90%;
      margin-left:5%;

      @include breakpoint(smd){
        display:block;
      }
    }
    @include breakpoint(smd){
      // display: none;
    }
    & h3{
      font-size:18px;
      color:rgba(0,0,0,.7);
      font-weight: 600;
      padding:20px 40px;
      margin:0;
      @include breakpoint(smd){
        padding-left:20px;
        padding-right: 20px;
      }
    }
    & ul{
      list-style: disc;
      padding-left:65px;
      padding-right:40px;
      @include breakpoint(smd){
        padding-left:50px;
      }
      & li{
        font-size:14px;
        color:rgba(0,0,0,.54);
        list-style:disc !important;
        margin:8px 0;
      }
    }
    & p{
      font-size:14px;
      color:rgba(0,0,0,.38);
      padding:0 40px;
      line-height: 2;
        @include breakpoint(smd){
          padding:0 20px;
        }
    }

  }

  & .detail-job-banner{
    height:300px;
    width:100%;
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    @include breakpoint(smd){
      height: 250px;
    }
    & .banner-btn{
      margin:20px 0;
    }
    & .alpha-layer{
      position: absolute;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      background:rgba(0,0,0,.4);
    }
    & .banner-text{
      color:#fff;
      position: absolute;
      transform:translateY(-50%);
      top:50%;
      width:100%;

      & h1{
        font-size: 36px;
        font-weight: 600;
        @include breakpoint(xs){
          font-size:12px;
          font-size:30px;
        }
      }
      & p{
        margin:20px 0;
        @include breakpoint(max480){
          font-size:12px;
        }
      }

    }



    & .detail-job-sub{
      display: inline-block;
      margin-right:20px;
      @include breakpoint(xs){
        // font-size:12px;
      }
      @include breakpoint(max480){
        margin-right:10px;
      }
      & img{
        margin-right:5px;
        transform: translateY(25%);
        //
        // @include breakpoint(max480){
        //   width:15px;
        // }
      }
    }
  }
  & .btn-green{
    padding:10px 20px;
    font-size:14px;
    border-radius:3px;
  }
  & .job-apply-btn{
    margin:20px 0;
    transition: all .3s ease;
    @include breakpoint(smd){
      width:100%;
      margin-bottom:0;
      border-radius: 0;
    }
    &.fixed{
      position:fixed;
      left:0;
      bottom:0;
    }
  }
  & .breadcrumb-container{
    padding:40px;
    &.mobile{
      display: none;
      @include breakpoint(smd){
        display: block;
        padding:10px 0;
      }
    }
    @include breakpoint(smd){
      // display: none;
      padding-left:20px;
      padding-right:20px;
      padding-bottom:20px;
    }

    & .breadcrumb-wrapper{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include breakpoint(smd){
        // float:none;
        // border-bottom:solid 2px #e0e0e0;
        // margin-bottom:10px;
      }
      & .job-breadcrumb{
        position: relative;
        margin-right:20px;
        color:green;
        @include breakpoint(max480){
          font-size:14px;
          margin-right:14px;
        }
        &::after{
          position: absolute;
          right:-15px;
          content:'\f105';
          font-family: FontAwesome;
          top:3px;
          @include breakpoint(max480){
            right:-13px;
          }
        }
        &:last-child::after{
          content:'';
        }
        &:last-child{
          color:rgba(0,0,0,.78);
        }
      }
    }
    & .share-wrapper{
      float:right;
      transform:translateY(5px);
      line-height: 40px;
      display: none;
      @include breakpoint(smd){
        float:none;
        display: block;
      }
      @include breakpoint(max480){
        font-size:14px;
      }
    }

  }
  .at-style-responsive .at-share-btn{
    padding:0 !important;
  }
}

@keyframes slideUp {
    from {transform:translateY(100%)}
    to {transform:translateY(0)}
}
