
body.job{
  background:#f8f8f8;
}
.section_search {
  @include breakpoint(smd) {
      &.fixed {
          left: 100%;
          height: 100%;
          &.show {
              left: 0;
          }
      }
  }
}
.side-left{
  border-right:1px solid #ececec;
  width:73%;
  float:left;
  @include breakpoint(smd){
    width:100%;
  }
  hr{
    display:none;
  }
  @include breakpoint(xs){
    hr{
      margin:0;
      display:block;
    }
  }
}
.side-share-width{
  width:27%;
  float:left;
}
.side-share-container{
  // border-left:1px solid #ececec;
  hr{
    width: calc(100% + 80px);
    margin-left:-40px;
    border-top: 1px solid #ececec;
  }
  & .apply-text{
    font-size: 13px;
    line-height: 24px;
    margin-top:30px;
    color: rgba(0, 0, 0, 0.5);
    & a{
      text-decoration: none;
      color:#16a11e;
      &:hover{
        color: #198a21;
      }
    }
  }
  & .apply-share-text{
    font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom:20px;
  }
  & .apply-divider{
    text-align: center;
    position: relative;
    margin:20px 0;
    & span{
      background:#fff;
      position: relative;
      padding: 0 10px;
    }
    &::before{
      content:'';
      position: absolute;
      left:0;
      width:100%;
      height: 1px;
      top:50%;
      transform:translateY(-50%);
      background:#979797;
    }
  }
  & .text-center{
    text-align: center;
  }
  // margin-top:16px;
  padding:40px;
  // padding-right: 40px;
  &.mobile{
    @include breakpoint(smd){
      display:block;
    }
  }
  @include breakpoint(smd){
    display:none;
  }
}

.show-on-mobile{
  display:none;
  @include breakpoint(smd){
    display:block;
  }
 
}

.apply-bottom-mobile{
  text-align: center;
  & .apply-text{
    font-size: 14px;
    line-height: 1.57;
    @include breakpoint(xs){
      font-size:12px;
    }
    & a{
      text-decoration: none;
      font-weight:600;
      @include breakpoint(xs){
        font-size: 14px;
      }
    }
  }
  & .apply-share-text{
    font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom:20px;
  }
  & .apply-divider{
    text-align: center;
    position: relative;
    margin:20px 0;
    & span{
      background:#f8f8f8;
      position: relative;
      padding: 0 10px;
    }
    &::before{
      content:'';
      position: absolute;
      left:0;
      width:100%;
      height: 1px;
      top:50%;
      transform:translateY(-50%);
      background:#979797;
    }
  }
  & .text-center{
    text-align: center;
  }
}

.side-apply-btn{
  border-radius: 3px;
  background-color: #42b549;
  padding:20px 0;
  color:#fff;
  text-align: center;
  margin-top:40px;
  margin-bottom:20px;
  font-size:14px;
  &:hover{
    background:#4fa149;
  }
}

.detail-job{
  // margin-top:64px;
  // background-color:#fff;
  background: linear-gradient(to top,#dbf9f1,#fff);
  font-family: 'Montserrat';
  @include breakpoint(xs) {
    margin-top: 70px;
  }
  & .job-apply-mobile{
    display:none;
    margin-top:20px;
    @include breakpoint(smd){
      display:block;
    }
    @include breakpoint(xs){
      margin-top:0px;
      background-color: #FFF;
      padding-top: 15px;
      padding-bottom: 24px;
    }
  }
  & .white-container{
    z-index:4;
    position:relative;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.05);
    // transform:translateY(-102px);
    margin-top: 32px;
    padding:0;
    // padding-top:30px;
    // padding-bottom:40px;
    margin-bottom:40px;
    overflow:hidden;
    @include breakpoint(smd){
      margin-top:20px;
    }
    & .detail-job-sub-container{
      padding-left:40px;
      padding-top:22px;
      padding-bottom:44px;
      @include breakpoint(smd){
        padding-left:20px;
        padding-top:12px;
        padding-bottom:20px;
      }
      & .detail-job-sub{
        display: inline-block;
        margin-right:20px;
        color:#16a11e;
        font-weight:bold;
        font-size:14px;
        @include breakpoint(xs){
          font-size:12px;
        }
        @include breakpoint(max480){
          margin-right:10px;
        }
        & img{
          margin-right:5px;
          // transform: translateY(25%);
          vertical-align: middle;
          //
          // @include breakpoint(max480){
          //   width:15px;
          // }
        }
      }

    }
    .detail-job-sub-container-right{
      margin-top:30px;
      .detail-job-sub{
       
        margin-bottom:15px;
        color: #16a11e;
        font-size:13px;
        font-weight: 600;
        .sub-icon-container{
          display:inline-block;
          width:20px;
          vertical-align:middle;
          text-align:center;
          margin-right:7px;
        }
      }
    }

    & h1{
      padding-left:40px;
      font-family: Montserrat;
      font-size: 38px;
      font-weight: 800;
      line-height: 1.16;
      color: rgba(0, 0, 0, 0.7);
      padding-top:40px;
      @include breakpoint(smd){
        padding:20px 20px 0 20px;
        font-size:20px;
       
        line-height: 1.46;
      }
    
    }
    h2{
      font-size:24px;
      font-weight: 800;
      color: rgba(32, 30, 30, 0.7);
      margin-top:20px
    }
    &.mobile{
      display: none;
      width:90%;
      margin-left:5%;

      @include breakpoint(smd){
        display:block;
      }
    }
    @include breakpoint(smd){
      // display: none;
    }
    & h3{
      font-size:20px;
      color:rgba(0,0,0,.7);
      font-weight: 800;
      padding:40px 40px 14px 40px;
      margin:0;
      @include breakpoint(smd){
        padding-left:20px;
        padding-right: 20px;
      }
      @include breakpoint(xs){
        font-size:17px;
        padding-top:20px;
      }
    }
    & ul{
      list-style: disc;
      padding-left:65px;
      padding-right:40px;
      margin-bottom:40px;
      @include breakpoint(smd){
        padding-left:40px;
      }
      & li{
        font-size:13px;
        color:rgba(0,0,0,.50);
        list-style:disc !important;
        margin: 0 0 12px 0;
        line-height:24px;
        @include breakpoint(xs){
          font-size:13px;
        }
      }
    }
    & p{
      font-size:13px;
      color:rgba(0,0,0,.50);
      padding:0 40px;
      line-height: 24px;
      @include breakpoint(smd){
        padding:0 20px;
      }
      @include breakpoint(xs){
        font-size:13px;
      }
    }

  }

  & .detail-job-banner{
    height:300px;
    width:100%;
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    @include breakpoint(smd){
      height: 250px;
    }
    & .banner-btn{
      margin:20px 0;
    }
    & .alpha-layer{
      position: absolute;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      background:rgba(0,0,0,.4);
    }
    & .banner-text{
      color:#fff;
      position: absolute;
      transform:translateY(-50%);
      top:50%;
      width:100%;

      & h1{
        font-size: 36px;
        font-weight: 600;
        @include breakpoint(xs){
          font-size:12px;
          font-size:30px;
        }
      }
      & p{
        margin:20px 0;
        @include breakpoint(max480){
          font-size:12px;
        }
      }

    }



    & .detail-job-sub{
      display: inline-block;
      margin-right:20px;
      @include breakpoint(xs){
        // font-size:12px;
      }
      @include breakpoint(max480){
        margin-right:10px;
      }
      & img{
        margin-right:5px;
        transform: translateY(25%);
        //
        // @include breakpoint(max480){
        //   width:15px;
        // }
      }
    }
  }
  & .btn-green{
    padding:10px 20px;
    font-size:14px;
    border-radius:3px;
  }
  & .job-apply-btn{
    margin:20px 0;
    // transition: all .3s ease;
    transition:none;
    @include breakpoint(smd){
      width:100%;
      margin-bottom:0;
      z-index:5;
      // border-radius: 0;
    }
    &.fixed{
      position:fixed;
      left:0;
      right:0;
      bottom:0;
      // width: calc(100% - 30px);
      padding-top:16px;
      padding-bottom:20px;
      background:#fff;
      margin: 0 auto;
      box-shadow: 0px 12px 20px 20px rgba(0,0,0,.05);
    }
  }
  & .breadcrumb-container{
    padding:15px 0px;
    background:#fafafa;
    font-size:14px;
    z-index:4;
    position:relative;
    font-weight:600;
    margin-top: 136px;
    &.mobile{
      display: none;
      @include breakpoint(smd){
        display: block;
        padding:10px 0;
      }
    }
    @include breakpoint(smd){
      // display: none;
      // padding-left:20px;
      // padding-right:20px;
      // padding-bottom:20px;
    }
    @include breakpoint(xs){
      display:none;
    }

    & .breadcrumb-wrapper{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include breakpoint(smd){
        // float:none;
        // border-bottom:solid 2px #e0e0e0;
        // margin-bottom:10px;
      }
      & .job-breadcrumb{
        position: relative;
        margin-right:30px;
        color: rgba(0, 0, 0, 0.38);
        a{
          color: rgba(0, 0, 0, 0.38);
          &:hover{
            color: rgba(0,0,0,.7);
          }
        }
        @include breakpoint(max480){
          font-size:14px;
          margin-right:14px;
        }
        &::after{
          position: absolute;
          right:-20px;
          content:'\f105';
          font-family: FontAwesome;
          top:3px;
          color:#16a11e;
          @include breakpoint(max480){
            right:-13px;
          }
        }
        &:last-child::after{
          content:'';
        }
        &:last-child{
          // color:rgba(0,0,0,.78);
          color:#16a11e;
        }
      }
    }
    & .share-wrapper{
      float:right;
      transform:translateY(5px);
      line-height: 40px;
      display: none;
      @include breakpoint(smd){
        float:none;
        display: block;
      }
      @include breakpoint(max480){
        font-size:14px;
      }
    }

  }
  .at-style-responsive .at-share-btn{
    padding:0 !important;
  }
}

@keyframes slideUp {
    from {transform:translateY(100%)}
    to {transform:translateY(0)}
}


.dummy {
  &-background {
    background-image: linear-gradient(to top, #ffffff, #dbf9f1);
    height: 500px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  &-left {
    position: absolute;
    top: 83px;
    left: 0;
    background: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/gomi-1-copy-4.svg") no-repeat;
    width: 214px;
    height: 506px;
    z-index: 2;
    @include breakpoint(xs){
      width:107px;
      height:203px;
      background-size:100% 100%;
      top:150px;
    }
  }
  &-right {
    position: absolute;
    width: 260px;
    height: 318px;
    right: 0;
    top: 0;
    background: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/gomi-1-copy-5.svg") no-repeat;
    z-index: 2;
    @include breakpoint(xs){
      width:130px;
      height:159px;
      background-size:100% 100%;
    }
  }
}

.share-title{
  font-size:17px;
  font-weight:800;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom:7px;
}
.addthis_toolbox{
  .custom_images{
    a{
      display:inline-block;
      
      &:not(:last-child){
      }
      img{
        width:52px;
      }
    }
  }
}

.apply-btn-container{
  padding-top:15px;
  padding-bottom:15px;
}

.detail-job-applybtn {
  height: 40px;
}