.tkpd-form {
  label{
    display:block;
    color: rgba(0, 0, 0, 0.54);
    font-size:14px;
    margin-bottom:15px;
    font-weight: normal;
  }

  .tkpd-input{
    margin-bottom: 15px;
    position: relative;
    & .prepend{
      position: absolute;
      top:35px;
      left:10px;
      font-weight: bold;
    }
    &.select .icon{
      position: absolute;
      right:20px;
      top:35px;
      font-family: FontAwesome;
      font-size:1.3em;
      cursor: pointer;
    }
    &.select input[readonly="true"]{
      cursor: pointer;
    }
    & ul.select{
      position: absolute;
      z-index: 2;
      top:25px;
      left:0;
      width: 100%;
      background:#fff;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      display:none;
      opacity: 0;
      transition:all .3s ease;
      &.offset{
        top:68px;
      }
      & .option{
        padding:10px 25px;
        cursor: pointer;
        &:hover{
          background:rgba(0,0,0,.1);
        }
        &.default{
          color:rgba(0,0,0,.58);
          &:hover{
            background: #fff;
          }
        }
      }
    }
  }

  input[type="text"], input[data-provide="datepicker"], input[type="email"], input[type="tel"] {
    width:100%;
    border-radius:3px;
    border:1px solid #ccc;
    padding:10px;
    outline:none;
    &:focus{
      // border-color:#42b549;
    }
    &:valid{
      border-color:#42b549;
    }
    &:disabled{
      background:#ececec;
      cursor: not-allowed;
    }
  }

  input[type="submit"]{
    &:disabled{
      color:rgba(0,0,0,.58);
      background:#e3e3e3;
      cursor: not-allowed;
    }
  }

  .info{
    margin-top:14px;
    margin-bottom:10px;
    color:rgba(0,0,0,.58);
    font-size:.9em;
    line-height: 1.7;
    &.error{
      color:red;
    }
  }
}

.tkpd-switch-wrap{
  cursor:pointer;
}

.tkpd-switch-track{
  height: 14px;
  width: 35px;
  border-radius:7px;
  background:rgb(200,200,200);
  position:relative;
  transition: all .3s ease;
  .tkpd-switch-thumb{
    height: 20px;
    width: 20px;
    border-radius:50%;
    background:#fff;
    position: absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .3s ease;
  }
}

label.tkpd-switch-wrap{
  display: inline-block;
  cursor:pointer;
}

label.tkpd-switch-wrap-radio{
  display: inline-block;
  cursor:pointer;
  margin-right:10px;
  margin-bottom:0;
}

.tkpd-switch-track-radio{
  height: 16px;
  width: 16px;
  border-radius:7px;
  border:1px solid rgb(200,200,200);
  position:relative;
  transition: all .3s ease;
  background:#fff;
  .tkpd-switch-thumb-radio{
    height: 12px;
    width: 12px;
    border-radius:6px;
    background:#42b549;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%) scale(0);
    transition: all .3s ease;
  }
}

input[type="radio"]{
  position: absolute;
  left:-999999px;
}
input[type="radio"]:disabled+label.tkpd-switch-wrap-radio{
  cursor:not-allowed;
  & .tkpd-switch-track-radio{
    background:rgb(200,200,200);
  }
}
input[type="radio"]:checked+label .tkpd-switch-track-radio{ border:1px solid #42b549; }
input[type="radio"]:checked+label .tkpd-switch-thumb-radio{ transform:translate(-50%, -50%) scale(1); }

input[type="checkbox"]{
  position: absolute;
  left:-999999px;
}
input[type="checkbox"]:disabled+label.tkpd-switch-wrap{
  cursor:not-allowed;
  & .tkpd-switch-thumb{
    background:rgb(170,170,170);
  }
}
input[type="checkbox"]:checked+label .tkpd-switch-track{ background:#64e06c }
input[type="checkbox"]:checked+label .tkpd-switch-thumb{ left:calc(100% - 20px); background:#42b549 }



.tkpd-tooltip{
  background:rgba(10,10,10,1);
  position: absolute;
  color:#fff;
  padding:5px 15px;
  transition:all .3s ease;
  border-radius:9999px;
  animation-name: pop;
  animation-duration: .3s;
  font-size:12px;
}
.tkpd-tooltip[data-tooltip-position="top"]::after{
  position:absolute;
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: rgba(10,10,10,1) transparent transparent transparent;
  bottom:-8px;
  left:50%;
  transform:translateX(-50%);
}
.tkpd-tooltip[data-tooltip-position="left"]::after{
  position:absolute;
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent rgba(10,10,10,1);
  right:-8px;
  top:50%;
  transform:translateY(-50%);
}
.tkpd-tooltip[data-tooltip-position="bottom"]::after{
  position:absolute;
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgba(10,10,10,1) transparent;
  top:-8px;
  left:50%;
  transform:translateX(-50%);
}
.tkpd-tooltip[data-tooltip-position="right"]::after{
  position:absolute;
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent rgba(10,10,10,1) transparent transparent;
  left:-8px;
  top:50%;
  transform:translateY(-50%);
}

.tkpd-tooltip[data-tooltip-color="white"]{
  background:rgba(245,245,245,1);
  color:#000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tkpd-tooltip[data-tooltip-position="top"][data-tooltip-color="white"]::after{
  border-color: rgba(245,245,245,1) transparent transparent transparent;
}

.tkpd-tooltip[data-tooltip-position="left"][data-tooltip-color="white"]::after{
  border-color: transparent transparent transparent rgba(245,245,245,1);
}

.tkpd-tooltip[data-tooltip-position="bottom"][data-tooltip-color="white"]::after{
  border-color: transparent transparent rgba(245,245,245,1) transparent;
}

.tkpd-tooltip[data-tooltip-position="right"][data-tooltip-color="white"]::after{
  border-color: transparent rgba(245,245,245,1) transparent transparent;
}

@keyframes pop {
    0% {transform:scale(0);}
    70% {transform:scale(1.2);}
    100% {transform:scale(1);}
}
