@import 'common/variables';
.main-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s ease;
}

.video-iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    & iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.5s ease;
        z-index: -1;
        background-color: #000;
        @include breakpoint(sm) {
            width: 560px;
            height: 315px;
        }
        @include breakpoint(xs) {
            width: 500px;
            height: 281.25px;
        }
        @include breakpoint(xxs) {
            width: 320px;
            height: 180px;
        }
        @include breakpoint(320) {
            width: 300px;
            height: 168.75px;
        }
    }
}

.iframe-wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include breakpoint(sm) {
        width: 560px;
        height: 315px;
    }
    @include breakpoint(xs) {
        width: 500px;
        height: 281.25px;
    }
    @include breakpoint(xxs) {
        width: 320px;
        height: 180px;
    }
    @include breakpoint(320) {
        width: 300px;
        height: 168.75px;
    }
}

.video-close {
    position: absolute;
    top: -20px;
    right: -16px;
    z-index: 99999999;
    padding: 5px 10px;
    border: 4px solid #000;
    border-radius: 50%;
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.7);
    display: none;
    cursor: pointer;
    @include breakpoint(xs) {
        font-size: 12px;
        padding: 2px 6px;
    }
}


/* ===================
=== Section Map 
=================== */

.section_about-banner {
    background-image: linear-gradient(to bottom, #42b549, #ffd65c);
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.banner-filler {
    height: 100px;
    position: relative;
    width: 100%;
    z-index: 1;
    &__bg {
        background: transparent url("https://ecs7.tokopedia.net/assets/images/careers/ic_path3.svg") top center no-repeat;
        bottom: 0;
        left: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 170px;
        @include breakpoint(fullhd) {
            background-size: cover;
            height: 223px;
        }
        @include breakpoint(xs) {
            background-size: 161% 100%;
        }
        @include breakpoint(xxs) {
            background-size: 140% auto;
            background-position: bottom;
        }
    }
    &__bgadd1 {
        background: transparent url('https://ecs7.tokopedia.net/assets/images/careers/ic_path1.svg') top center no-repeat;
        display: block;
        position: absolute;
        left: 0;
        bottom: -95px;
        width: 100%;
        height: 410px;
        @include breakpoint(fullhd) {
            background-size: cover;
        }
        @include breakpoint(xs) {
            background-size: 140% auto;
            background-position: center;
        }
    }
    &__bgadd2 {
        background: transparent url("https://ecs7.tokopedia.net/assets/images/careers/ic_path2.svg") top center no-repeat;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 217px;
        @include breakpoint(fullhd) {
            background-size: cover;
        }
        @include breakpoint(xs) {
            background-size: 170% 100%;
        }
        @include breakpoint(xxs) {
            background-size: 170% auto;
            background-position: center;
        }
    }
    &:before {
        // content: "";
        background: transparent url('https://ecs7.tokopedia.net/assets/images/careers/ic_path1.svg') top center no-repeat;
        display: block;
        position: absolute;
        left: 0;
        bottom: -95px;
        width: 100%;
        height: 410px;
        @include breakpoint(fullhd) {
            background-size: cover;
        }
    }
    &:after {
        // content: "";
        background: transparent url("https://ecs7.tokopedia.net/assets/images/careers/ic_path2.svg") top center no-repeat;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 217px;
        @include breakpoint(fullhd) {
            background-size: cover;
        }
    }
}

.banner-wrapper {
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
    z-index: 2;
    @include breakpoint(xs) {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
}

.banner__title {
    font-size: 48px;
    margin-bottom: 20px;
    @include breakpoint(xs) {
        font-size: 24px;
    }
}

.banner-copy {
    margin-bottom: 30px;
    color: #F6F6F6;
    @include breakpoint(xs) {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

.btn--banner {
    @include breakpoint(xs) {
        // margin-right: 0;
        // margin-bottom: 20px;
        // width: 100%;
        max-width: 150px;
        padding: 9px;
        width: 150px;
    }
}


/* ===================  
=== Section Map 
=================== */

.section_about-map {
    background-color: #F8F8F8;
    padding: 60px 0;
}

.about-map-copy {
    &__title {
        margin-bottom: 30px;
    }
    &__content {
        margin-bottom: 30px;
    }
}

// Util
.tablize {
    display: table;
    width: 100%;
    & [class*="col-"] {
        @include breakpoint(xs) {
            float: left;
            display: block;
        }
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}


/* ======================  
=== Section eCommerce 
====================== */

.section_about-ecom {
    padding: 60px 0;
}

.ecom-copy1 {
    &__bold {
        margin-bottom: 15px;
    }
}


/* ======================  
=== Section What We Do 
======================= */

.section_about-wwd {
    padding: 50px 0;
    background-color: #FFF;
    position: relative;
    @include breakpoint(xs) {
        padding: 0 0 20px 0;
    }
    & .container {
        @include breakpoint(xs) {
            padding: 0;
            margin: 0;
        }
    }
}

.drive-circleorange--solid {
    position: absolute;
    transform: translateY(50%);
    top: 0;
    left: 0;
    @include breakpoint(xs) {
        & img {
            max-width: 50%;
        }
    }
}

.wwd-header {
    margin-bottom: 17%;
    @include breakpoint(xs) {
        text-align: center;
        margin-bottom: 28%;
    }
    &__title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
        @include breakpoint(xs) {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
    &__prime {
        margin-bottom: 20px;
        @include breakpoint(xs) {
            margin-bottom: 10px;
            font-size: 16px;
        }
    }
    &__content {
        font-size: 18px;
        margin-bottom: 40px;
        @include breakpoint(xs) {
            font-size: 14px;
            &--drive {
                margin-bottom: 25px;
            }
        }
        & p {
            @include breakpoint(xs) {
                display: inline;
            }
        }
    }
}

.wwd-box-wrap {
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 40px;
    @include breakpoint(xs) {
        padding: 40px 0 0 0;
        border-radius: 0;
    }
}

.wwd-innerbox-wrap {
    margin-top: -17%;
    margin-bottom: 40px;
    text-align: center;
    @include breakpoint(xs) {
        margin-top: -32%;
    }
    @include breakpoint(xxs) {
        margin-top: -35%;
        margin-bottom: 20px;
    }
}

.wwd-box {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: all 0.3s ease;
    width: calc(25% - 25px);
    margin-right: 0; //override from front-page, i was in a hurry, will clean this up later
    margin: 15px 10px;
    float: left;
    filter: grayscale(100%);
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    &:hover {
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);
        filter: none;
    }
    &.active {
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);
        filter: none;
        & h3 {
            font-weight: 600;
        }
    }
    &__caption {
        padding: 0 15px 40px 15px;
        font-weight: 400;
        color: $tkpd-green;
        font-size: 20px;
        @include breakpoint(max1200) {
            height: 94px;
        }
        @include breakpoint(smd) {
            font-size: 14px;
            padding: 0 15px 20px 15px;
            height: 60px;
        }
    }
    &__copy {
        margin-bottom: 20px;
        font-size: 18px;
        @include breakpoint(xs) {
            font-size: 14px;
            text-align: center;
        }
    }
    &:last-child {
        width: calc(25% - 25px);
        @include breakpoint(smd) {
            & .wwd-box__caption {
                font-size: 14px;
            }
        }
    }
}

.wwd-box-image {
    overflow: hidden;
    padding: 40px 50px 20px 50px;
    @include breakpoint(smd) {
        padding: 20px;
    }
    &__image {
        max-width: 100%;
        max-height: 115px;
        display: block;
        margin: auto;
        @include breakpoint(max1200) {
            max-height: 76px;
        }
        @include breakpoint(smd) {
            max-width: 100%;
            height: auto;
            max-height: 70px;
            display: block;
            margin: auto;
        }
    }
}

.btn--mr15 {
    margin-right: 15px;
}

.btn--wwd {
    @include breakpoint(xs) {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
        padding: 9px;
        min-width: 200px;
    }
}

.wwd--mobile-padding {
    @include breakpoint(xs) {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* ======================  
=== Section drive 
======================= */

// I Still use some css from previous section (What We do/wwd). because of the rush. will clean it-
// up later...
.section_about-drive {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    @include breakpoint(xs) {
        padding: 20px 0 0 0;
    }
    & .container {
        @include breakpoint(xs) {
            padding: 0;
            margin: 0;
        }
    }
}

.drive-circle {
    &--solid {
        position: absolute;
        top: 0;
        right: 0;
        @include breakpoint(xs) {
            max-width: 50%;
            text-align: right;
            top: -45px;
            right: -20px;
            & img {
                max-width: 50%;
            }
        }
    }
    &--dashed {
        position: absolute;
        right: -100px;
        top: -35px;
        @include breakpoint(xs) {
            max-width: 50%;
            text-align: right;
            top: -80px;
            right: -35px;
            & img {
                max-width: 50%;
            }
        }
    }
}

.wwd-drive {
    @include breakpoint(xs) {
        text-align: center;
    }
}

.wwd-innerbox-wrap--drive {
    & .wwd-box {
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);
        overflow: hidden;
        transition: all 0.3s ease;
        width: calc(25% - 25px);
        margin-right: 0; //override from front-page, i was in a hurry, will clean this up later
        margin: 15px 10px;
        float: left;
        filter: none;
        font-weight: 600;
        display: inline-block;
        vertical-align: top;
        position: relative;
        cursor: pointer;
        &:hover {
            box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);
            filter: none;
        }
        &.active {
            box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);
            filter: none;
            font-weight: 600;
        }
    }
}

.drive-box {}

.wwd-box__caption--drive {
    margin: 0 15px 40px 15px;
    font-weight: 600;
    color: #42b549;
    font-size: 16px;
    min-height: 44px;
    @include breakpoint(smd) {
        margin: 0 15px 20px 15px;
    }
    @include breakpoint(xs) {
        font-size: 12px;
    }
    @include breakpoint(xxs) {
        font-size: 14px;
    }
}

.drive-box-image {
    &__image {
        margin-bottom: 20px;
    }
}


/* ========================  
=== Section About Video
=========================== */

.section_about-video {
    position: relative;
    z-index: 2;
    padding: 20px 0;
    overflow: hidden;
    // background: transparent url('https://ecs7.tokopedia.net/assets/images/careers/ic_green1.svg') top center;
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent url('https://ecs7.tokopedia.net/assets/images/careers/ic_green2.svg') top center;
        background-size: auto 100%;
        z-index: 1;
        @include breakpoint(fullhd) {
            background-size: cover;
        }
    }
}

.about-video--container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.about-video-wrap {
    position: relative;
    z-index: 2;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint(xs) {
        text-align: center;
    }
}

.about-video {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    width: calc(50% - 40px);
    @include breakpoint(xs) {
        width: 100%;
        margin: 10px 0;
    }
    &__img {
        border-radius: 3px;
        overflow: hidden;
        @include breakpoint(xs) {
            margin: auto;
        }
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.45);
        }
    }
}

.about-video-image {
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    &__playbtn {
        position: absolute;
        display: block;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        // transform: translate(-50%, -50%);
        animation: pulseScale 1s infinite ease;
        &:hover {
            // transition: animation 1s ease;
            animation: none;
        }
    }
    &__overlay {
        background-color: rgba(0, 0, 0, 0.25);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@keyframes pulseScale {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.9);
    }
}

.about-video-content {
    color: #FFF;
    text-align: left;
    margin-bottom: 40px;
    @include breakpoint(smd) {
        margin-bottom: 20px;
    }
    @include breakpoint(xs) {
        text-align: center;
    }
    &__header {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
        @include breakpoint(smd) {
            font-size: 20px;
        }
    }
    &__text {
        font-size: 18px;
        @include breakpoint(smd) {
            font-size: 14px;
        }
    }
}

.about-video__mainbg {
    position: relative;
    z-index: 2;
    @include breakpoint(fullhd) {
        width: 100%;
        height: auto;
        padding-bottom: 21px;
    }
    @include breakpoint(xs) {
        left: -86%;
    }
    @include breakpoint(xxs) {
        left: -170%;
    }
}

.about-team-link {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    @include breakpoint(smd) {
        font-size: 14px;
    }
    @include breakpoint(xs) {
        text-align: center;
    }
    &__link {
        text-decoration: underline;
        color: #FFF;
        &:hover {
            color: darken(#FFF, 10%);
        }
    }
}

.btn-about-video {
    text-align: left;
    @include breakpoint(xs) {
        text-align: center;
    }
}

.btn--about-video {
    padding: 9px;
    max-width: 200px;
}


/* ========================  
=== Section About Quote 
========================= */

.section_about-quote {
    position: relative;
    padding: 60px 0;
    &:after {}
}

.about-quote-skew {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background-color: #F8F8F8;
    // background-image: url('../images/search-ph.jpg');
    z-index: -1;
    transform: skewY(3.5deg);
    transform-origin: 0;
    &__bg {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        opacity: 0.25;
    }
}

.about-quote-hero {
    margin-top: 60px;
    &__hero {
        margin-bottom: 30px;
    }
    &__author {
        margin-bottom: 15px;
    }
}


/* ====================  
=== Section Homes 
===================== */

.section_about-homes {
    padding: 60px 0;
    background-color: #FFF;
}

.homes__header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
}

.homes-map {
    text-align: center;
    &-wrap {
        position: relative;
        display: inline-block;
        &__map {
            display: inline-block;
            max-width: 100%;
            height: auto;
            margin: auto;
            @include breakpoint(xs) {
                max-width: 340px;
            }
            @include breakpoint(320) {
                max-width: 100%;
            }
        }
        &__marker {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/ic_maps-hollow--trim1.svg');
            background-position: top center;
            width: 34px;
            height: 44px;
            position: relative;
        }
    }
    &-marker {
        position: absolute;
        bottom: 18%;
        left: 58%;
        cursor: pointer;
    }
}

.homes-tooltip {
    background-color: #FFF;
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.085);
    border-radius: 4px;
    width: 400px;
    position: absolute;
    padding: 25px;
    display: block;
    left: -183px;
    top: -199px;
    opacity: 0;
    transition: opacity 0.5s ease;
    @include breakpoint(xs) {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        max-width: 340px;
    }
    @include breakpoint(320) {
        top: -25px;
    }
    &-content {
        position: relative;
        &__triangle {
            position: absolute;
            display: block;
            width: 1px;
            height: 1px;
            border-top: solid 20px #FFF;
            border-left: solid 15px transparent;
            border-right: solid 15px transparent;
            // bottom: calc(-25px - 20px);
            left: 50%;
            top: -24px;
            transform: translateX(-50%);
            z-index: 1;
            // transform: translateX(-50%);
            // @include breakpoint(xs) {
            //     transform: none;
            //     left: 60%;
            // }
        }
    }
    &__header {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #42b549;
        @include breakpoint(320) {
            font-size: 14px;
        }
    }
    &__address {
        font-size: 14px;
        line-height: 1.57;
        color: #818181;
        margin-bottom: 10px;
        @include breakpoint(320) {
            font-size: 12px;
        }
    }
    &__open {
        color: #42b549;
        font-weight: 600;
        font-size: 16px;
        opacity: 0.7;
        @include breakpoint(320) {
            font-size: 14px;
        }
    }
}

.homes-box {
    max-width: 250px;
    margin: auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, .05);
    overflow: hidden;
    transition: all .3s ease;
}

.homes-title {
    margin-bottom: 50px;
}

.homes-imgbox {
    text-align: center;
    margin-bottom: 20px;
    &__image {
        border-radius: 50%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
        max-width: 150px;
        height: auto;
    }
}

.homes-content {
    &__toto {
        margin-bottom: 15px;
    }
}

.homes-content-box {
    &__marker {
        font-size: 60px;
        vertical-align: middle;
    }
}

// Util
.homes-divider {
    width: 1px;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.38);
}