@import 'common/_variables';

.section_search {
    @include breakpoint(smd) {
        &.fixed {
            left: 100%;
            &.show {
                left: 0;
            }
        }
    }
}

.section-ibanner {
    // background: url('https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/09/header-background2.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(to top, #DBF9F1, #FFF);
    position: relative;
    &__l {
        height: 232px;
        width: 376px;
        background: url(https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/daon-kiri@2x.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        @include breakpoint(xs) {
            // display: none;
            width: 200px;
            height: 115px;
        }
    }
    &__r {
        height: 235px;
        width: 289px;
        background: url(https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/daon-kanan@2x.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        @include breakpoint(xs) {
            height: 115px;
            width: 169px;
        }
    }
}

.ibanner {
    padding-top: 90px;
    // padding-bottom: 90px;
    &-content {
        text-align: center;
        &__title {
            color: rgba(0 , 0, 0, .7);
            font-weight: 700;
            margin-bottom: 8px;
            font-family: 'Montserrat';
            @include breakpoint(xs) {
                font-size: 22px;
            }
            @include breakpoint(sm) {
                font-size: 22px;
            }
            @include breakpoint(md) {
                font-size: 30px;
            }
        }
        &__line {
            background-color: #38bc25;
            width: 50px;
            border-radius: 6px;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(smd) {
                height: 5px;
            }
            @include breakpoint(md) {
                height: 6px;
            }
        }
        &__desc {
            color: rgba(0 , 0, 0, .5);
            font-weight: 400;
            line-height: 1.6;
            font-family: 'Montserrat';
            line-height: 24px;
            font-size: 13px;
        }
    }
}

.section-blog {
    padding-top: 50px;
    padding-bottom: 140px;
}

.blog {
    &-list {
        display: inline-block;
        margin-left: -4px;
        vertical-align: top;
        
        margin-right: 15px;
        margin-left: 15px;
        // float: left;
        background: #FFF;
        border-radius: 12px;
        box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.05);
        text-align: center;
        @include breakpoint(sm) {
            width: calc(33.3333333333333% - 33px);
        }
        &-image {
            margin-bottom: 20px;
            &__img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
            }
        }
        &__text {
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 800;
            line-height: 1.5;
            text-align: center;
            color: rgba(0, 0, 0, 0.7);
            margin-bottom: 40px;
            @include breakpoint(xs) {
                font-size: 15px;
            }
        }
    }
}