@import 'common/variables';

/* ===================
 * Body
 * =================== */

.main-careers {
    padding-top: 50px;
}

.jobs {
    background-color: #f8f8f8;
}


/* ===================
 * Jumbotron
 * =================== */

.list-jumbotron {
    margin: 0;
    width: 100%;
    height: 300px;
    background: url('https://ecs7.tokopedia.net/assets/images/careers/banner-jobs.jpg') no-repeat #42b549 center;
    background-size: cover;
    transition: all 0.5s ease;
    position: relative;
    @include breakpoint(xxs) {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/banner_jobs_mobile.jpg') no-repeat #42b549 center;
        background-size: cover;
    }
    &-text {
        color: #FFF;
        margin: 80px 0;
        position: relative;
        text-align: center;
        &__h1 {
            font-family: 'MontSerrat';
            font-size: 42px;
            font-weight: 600;
            margin-bottom: 10px;
            @include breakpoint(xs) {
                font-size: 22px;
            }
        }
        &__h2 {
            font-size: 14px;
        }
    }
    // Change Background when different filter applied
    //                  The Style
    /////////////////////////////////////////////////////
    &--business {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_marketplace.jpg') no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_marketplace_mobile.jpg') no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--finance {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_finance.jpg') no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_finance_mobile.jpg') no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--operational {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_operational.jpg') no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_operational_mobile.jpg') no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--people {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_people.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_people_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--product {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_product.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_product_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--technology {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_tech.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_tech_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--internship {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_intern.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_intern_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
}


/* ======================
 * Discovery Section
 * ====================== */

#discovery {
    top: -50px;
    &.fixed {
        position: fixed;
        width: 100%;
        background: #FFF;
        top: 59px;
        left: 0;
        z-index: 1001;
        box-shadow: 0 11px 35px 0 rgba(0, 0, 0, 0.05);
        transition: .5s;
        @include breakpoint(xs) {
            display: none;
        }
        & .list-discovery {
            top: 0;
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
            // & .list-search {
            //   width: 33.333%;
            //   float: left;
            //   padding-right: 20px;
            //   @include breakpoint(xs) {
            //     width: 100%;
            //     float: none;
            //     padding: 0;
            //   }
            //   &__input {
            //     width: 100%;
            //     margin-right: 0;
            //     @include breakpoint(xs) {
            //       margin-right: 0;
            //       width: calc(100% - 80px);
            //     }
            //   }
            //   &__btn {
            //     display: none;
            //     @include breakpoint(xs) {
            //       display: block;
            //     }
            //   }
            // }
            // & .list-filter {
            //   width: 66.66%;
            //   float: left;
            //   @include breakpoint(xs) {
            //     width: 100%;
            //     float: none;
            //   }
            // }
            @include breakpoint(xs) {
                & .list-category {
                    display: none;
                    &-slick {
                        opacity: 1;
                        visibility: visible;
                        height: auto;
                    }
                }
            }
        }
        & .list-helper {
            display: none;
        }
        & .list-search__btn {
            height: 40px;
            padding-top: 9px;
        }
    }
}

.list-discovery {
    position: relative;
    top: -72px;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    background-color: #FFF;
    box-shadow: 0 11px 35px 0 rgba(0, 0, 0, 0.05);
    // MQ
    @include breakpoint(xs) {
        top: -55px;
        margin-top: -86px;
    }
    @include breakpoint(320) {
        margin-top: -70px;
    }
}


/* Search */

.list-search {
    position: relative;
    margin-bottom: 18px;
    @include breakpoint(xs) {
        margin-bottom: 0;
    }
    &__icon {
        content: " ";
        display: block;
        background-repeat: no-repeat;
        background-image: url('https://ecs7.tokopedia.net/assets/images/ic-search.svg');
        width: 25px;
        height: 25px;
        position: absolute;
        top: 15px;
        left: 10px;
        // transform: translateY(-50%);
        z-index: 1;
    }
    &__input {
        position: relative;
        width: calc(60% - (75px + 20px));
        height: 52px;
        background: #FFF;
        border-radius: 3px;
        padding: 5px 5px 5px 45px;
        border: 1px solid #E0E0E0;
        margin-right: 20px;
        color: $text-secondary;
        float: left;
        &:focus {
            outline: none;
        }
        @include breakpoint(xs) {
            margin-right: 0;
            width: calc(100% - 80px);
            border-right: 0;
            margin-bottom: 18px;
        }
    }
    &__btn {
        float: left;
        width: 150px;
        height: 52px;
        @include breakpoint(xs) {
            width: 80px;
            height: 52px;
            border-radius: 0 3px 3px 0;
        }
    }
}


/* Filter */

.list-filter {
    // margin-bottom: 18px;
    @include breakpoint(xs) {
        display: block;
    }
    &-more {
        display: none;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: $tkpd-green;
        clear: both;
        cursor: pointer;
        @include breakpoint(xs) {
            // display: block;
            display: none;
        }
        &:hover {
            color: darken($tkpd-green, 10%);
        }
        &.expanded {
            & .list-filter-more__icon {
                transform: rotate(180deg);
            }
        }
        &__icon {
            transition: .2s;
        }
    }
}


/* Select input */

.list-select {
    position: relative;
    color: $text-secondary;
    width: 100%;
    float: left;
    cursor: pointer;
    padding: 0 20px 0 10px;
    @include breakpoint(xs) {
        width: 100%;
        padding: 0;
        margin-bottom: 18px;
    }
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
        margin-bottom: 0;
    }
    &-input {
        position: relative;
        width: calc(40% - (75px + 20px));
        height: 52px;
        background: #FFF;
        border-radius: 3px;
        padding: 5px 5px 5px 45px;
        border: 1px solid #E0E0E0;
        margin-right: 20px;
        float: left;
        @include breakpoint(xs) {
            width: 100%;
        }
        &__arrow {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &__text {
            display: block;
            margin-top: 9px;
        }
        &__icon {
            content: " ";
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            width: 25px;
            height: 25px;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            margin-top: 1px;
            z-index: 1;
            &--experience {
                background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-experience.png');
            }
            &--location {
                background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-location-on.svg');
                background-size: 21px 25px;
            }
            &--filter {
                background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-filter.png');
            }
        }
    }
    &-options {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #e0e0e0;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
        transition: .1s;
        z-index: 10;
        @include breakpoint(xs) {
            width: 100%;
        }
        & li {
            padding: 15px 5px 15px 10px;
            border-bottom: 1px solid #e0e0e0;
            &:hover {
                background: darken(#FFF, 10%);
            }
        }
    }
    &.active .list-select-options {
        opacity: 1;
        visibility: visible;
    }
}


/* Category */

.list-category {
    font-size: 12px;
    color: $text-secondary;
    clear: both;
    @include breakpoint(xs) {
        // margin-bottom: 10px;
        margin-bottom: 0;
        display: none;
    }
    &-slick {
        opacity: 0;
        visibility: hidden;
        height: 0;
        & .list-category__item {
            display: block;
            margin-right: 10px;
            float: left;
        }
        & .slick-slide {
            &>div {
                padding: 0 5px;
                display: block;
            }
            &:first-child>div {
                padding-left: 0;
            }
            &:last-child>div {
                padding-right: 0;
            }
        }
    }
    &__label {
        font-size: 14px;
        color: $text-secondary;
        margin-right: 10px;
        @include breakpoint(xs) {
            display: none;
        }
    }
    &__item {
        position: relative;
        display: inline-block;
        background: #FFF;
        border-radius: 3px;
        padding: 7px 10px;
        height: 32px;
        margin-right: 10px;
        font-size: 11px;
        border: 1px solid #E0E0E0;
        cursor: pointer;
        transition: .2s;
        @include breakpoint(xs) {
            margin-bottom: 10px;
            margin-right: 9px;
            width: 90px;
            text-align: center;
            &:nth-child(2) {
                margin-left: 0;
            }
        }
        @include breakpoint(320) {
            margin-right: 1px;
            font-size: 10px;
            width: 80px;
        }
        &.active {
            background: $tkpd-green;
            color: #FFF;
            padding-left: 20px;
            & .list-category__icon {
                opacity: 1;
                visibility: visible;
                transform: rotate(0deg);
            }
        }
    }
    &__icon {
        position: absolute;
        top: 10px;
        left: 5px;
        opacity: 0;
        visibility: hidden;
        color: #FFF;
        transition: .2s;
        transform: rotate(270deg);
    }
}


/* Helper */

.list-helper {
    position: relative;
    top: -30px;
    &-label {
        font-size: 14px;
        color: $text-secondary;
    }
}


/* ===================
 * Job List Function 
 * =================== */

.list-function {
    display: none;
    padding-bottom: 60px;
    animation: fade 1s;
    &.active {
        display: block;
    }
    &-header {
        margin-bottom: 20px;
        &__img {
            float: left;
            height: 82px;
            @include breakpoint(xs) {
                height: 62px;
            }
        }
        &-text {
            float: left;
            padding: 20px;
            @include breakpoint(xs) {
                padding: 20px 10px;
            }
        }
        &__h3 {
            font-size: 20px;
            font-weight: 600;
            color: $tkpd-green;
            @include breakpoint(xs) {
                font-size: 16px;
            }
        }
        &__p {
            font-size: 12px;
            color: $text-secondary;
            @include breakpoint(xs) {
                display: none;
            }
        }
    }
    &__btn-more {
        // font-weight: 600;
        // color: rgba(0, 0, 0, 0.54);
        // &:hover {
        //     background-color: darken(#FFF, 10%);
        //     border: 1px solid #FFF;
        // }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Job division */

.list-div {
    border-radius: 3px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    animation: fade .5s ease-out;
    &__h4 {
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
        color: rgba(0, 0, 0, 0.7);
        opacity: 0.7;
        margin-bottom: 10px;
        min-height: 48px;
        @include breakpoint(xs) {
            font-size: 14px;
            min-height: 0;
        }
    }
    &__p {
        font-size: 14px;
        color: $text-secondary;
        margin-bottom: 22px;
        line-height: 22px;
        max-height: 65px;
        overflow: hidden;
        @include breakpoint(xs) {
            display: none;
        }
    }
    &-desc {
        border-top: 1px solid #F2F2F2;
        padding-top: 20px;
    }
    &-highlight {
        // float: left;
        float: none;
        width: 100%;
        margin-bottom: 22px;
        @include breakpoint(xs) {
            display: none;
        }
        &--mobile {
            display: none;
            @include breakpoint(xs) {
                display: block;
                padding-bottom: 20px;
            }
        }
    }
    &-helper {
        margin-right: 20px;
        float: left;
        font-size: 11px;
        color: $text-secondary;
        @include breakpoint(xs) {
            margin-right: 12px;
            &:last-child {
                margin-right: 0;
            }
        }
        &:before {
            content: " ";
            position: relative;
            top: 7px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            width: 25px;
            height: 26px;
            margin-right: 3px;
        }
        &.list-div-helper--function:before {
            // background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-jobs.png');
            background-image: url('https://ecs7.tokopedia.net/assets/images/ic-experience-grey.svg');
        }
        &.list-div-helper--experience:before {
            background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-experience.png');
        }
        &.list-div-helper--location:before {
            background-image: url('https://ecs7.tokopedia.net/assets/images/ic-location-grey.svg');
        }
    }
    &-action {
        // float: right;
        width: 100%;
        float: none;
        @include breakpoint(xs) {
            float: none;
            &:after,
            &:before {
                content: " ";
                display: table;
                clear: both;
                box-sizing: border-box;
            }
        }
        &-btn {
            float: none;
            width: 100%;
            // margin-bottom: 20px;
            @include breakpoint(xs) {
                float: right;
                margin-bottom: 0;
                
            }
            &:first-child {
                margin-bottom: 20px;
                @include breakpoint(xs) {
                    margin-bottom: 0;
                }
            }
            &__action {
                width: 100%;
                font-size: 14px;
                font-weight: 600;
                &--white {
                    font-weight: 600;
                    color: #42b549;
                    // font-size: 14px;
                    &:hover {
                        color: darken(#42b549, 10%);
                    }
                }
            }
            @include breakpoint(xs) {
                width: 50%;
                margin-right: 0;
                padding: 0 5px;
                & .btn {
                    display: block;
                }
            }
        }
    }
}


/* ======================
 * Default 404 Section
 * ====================== */

.section_default {
    display: none;
    padding: 60px 0;
}

.ct-error {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.ct-cell {
    display: table-cell;
    vertical-align: middle;
}

.error__thanks {
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.error__notify {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.error__notify p {
    font-weight: 600;
    margin-top: 2px;
}

.error__notify--bold {
    font-weight: 700;
}

.error-copy {
    margin-bottom: 40px;
}

// Util
.relative {
    position: relative;
}