@import "common/variables";

/* ===================
 * Body
 * =================== */

.main-careers {
  padding-top: 64px;
  background-color:#fafafa;
}

.jobs {
//   background-color: #f8f8f8;
}
*{
    font-family: 'Montserrat';
}
.mobile-animation-wrapper {
}

/* ===================
 * Jumbotron
 * =================== */
.breadcrumb-container{
  padding:15px 0px;
  background:#fafafa;
  font-size:14px;
  z-index:4;
  position:relative;
  font-weight:600;
  @include breakpoint(xs){
    display:none;
  }
  &.mobile{
    display: none;
    @include breakpoint(smd){
      display: block;
      padding:10px 0;
    }
  }
  @include breakpoint(smd){
    // display: none;
    // padding-left:20px;
    // padding-right:20px;
    // padding-bottom:20px;
  }

  & .breadcrumb-wrapper{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include breakpoint(smd){
      // float:none;
      // border-bottom:solid 2px #e0e0e0;
      // margin-bottom:10px;
    }
    & .job-breadcrumb{
      position: relative;
      margin-right:30px;
      color: rgba(0, 0, 0, 0.38);
      a{
        color: rgba(0, 0, 0, 0.38);
        &:hover{
          color: rgba(0,0,0,.7);
        }
      }
      @include breakpoint(max480){
        font-size:14px;
        margin-right:14px;
      }
      &::after{
        position: absolute;
        right:-20px;
        content:'\f105';
        font-family: FontAwesome;
        top:3px;
        color:#16a11e;
        @include breakpoint(max480){
          right:-13px;
        }
      }
      &:last-child::after{
        content:'';
      }
      &:last-child{
        // color:rgba(0,0,0,.78);
        color:#16a11e;
      }
    }
  }
  & .share-wrapper{
    float:right;
    transform:translateY(5px);
    line-height: 40px;
    display: none;
    @include breakpoint(smd){
      float:none;
      display: block;
    }
    @include breakpoint(max480){
      font-size:14px;
    }
  }

}
.leaf{
  &-left{
    height: 200px;
    width: 342px;
    background:url('https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/daon-kiri@2x.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left:0;
    bottom:0;
    @include breakpoint(xs){
      display:none;
    }
  }
  &-right{
    height: 200px;
    width: 242px;
    background:url('https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/daon-kanan@2x.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right:0;
    bottom:0;
    @include breakpoint(xs){
      width:150px;
      height:150px;
      right:-35px;
    }
  }
}
.dummy {
  &-background {
    background:url('https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/header-background@2x.png') no-repeat;
    height: 294px;
    position: absolute;
    top: 112px;
    width: 100%;
    z-index: -1;
    background-size: 100% 100%;
    @include breakpoint(xs){
      background-image:url('https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/header-background-mob@2x.png');
      background-repeat:no-repeat;
      height:324px;
    }
  }
  &-left {
    position: absolute;
    top: 83px;
    left: 0;
    background: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/gomi-1-copy-4.svg") no-repeat;
    width: 214px;
    height: 506px;
  }
  &-right {
    position: absolute;
    width: 260px;
    height: 318px;
    right: 0;
    top: 0;
    background: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/gomi-1-copy-5.svg") no-repeat;
  }
}

.green-line {
  &-small {
    width: 50px;
    height: 6px;
    background-color: #38bc25;
    margin: 0 auto;
    border-radius: 12px;
  }
}
.list-jumbotron {
  z-index:4;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
  // height: 300px;
  // background: url('https://ecs7.tokopedia.net/assets/images/careers/banner-jobs.jpg') no-repeat #42b549 center;
  // background:url('https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/header-background@2x.png') no-repeat;
  // background-image: linear-gradient(to bottom, #ffffff 1%, #dbf9f1 100%);
  background: linear-gradient(to top, #dbf9f1, #FFF);
  // min-height: 230px;
  // background-size: cover;
  background-size:100% 100%;
  transition: all 0.5s ease;
  position: relative;
  overflow-y: hidden;
  @include breakpoint(smd){
    padding-top:35px;
  }
  @include breakpoint(xxs) {
    // background: url("https://ecs7.tokopedia.net/assets/images/careers/banner_jobs_mobile.jpg") no-repeat #42b549 center;
    
    // background-size: cover;
  }
  @include breakpoint(xs){
    // background-image:url('https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/header-background-mob@2x.png');
    // background-repeat:no-repeat;
    // min-height:324px;
    padding-bottom: 70px;
  }
  &-text {
    color: rgba(0, 0, 0, 0.7);
    // margin: 80px 0;
    position: relative;
    text-align: center;
    @include breakpoint(smd){
      // padding-top:15px;
    }
    &__h1 {
      font-family: "MontSerrat";
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 10px;
      @include breakpoint(xs) {
        font-size: 22px;
      }
    }
    &__h2 {
      font-size: 13px;
      margin-top: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.50);
      margin-bottom: 62px;
      @include breakpoint(smd){
        margin-bottom:40px;
        // font-size:13px;
      }
    }
  }
  // Change Background when different filter applied
  //                  The Style
  /////////////////////////////////////////////////////
  &--business {
    background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_marketplace.jpg") no-repeat #42b549 center;
    background-size: cover;
    & .list-jumbotron-text {
      position: relative;
    }
    @include breakpoint(xxs) {
      background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_marketplace_mobile.jpg") no-repeat #42b549 center;
      background-size: cover;
    }
  }
  &--finance {
    background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_finance.jpg") no-repeat #42b549 center;
    background-size: cover;
    & .list-jumbotron-text {
      position: relative;
    }
    @include breakpoint(xxs) {
      background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_finance_mobile.jpg") no-repeat #42b549 center;
      background-size: cover;
    }
  }
  &--operational {
    background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_operational.jpg") no-repeat #42b549 center;
    background-size: cover;
    & .list-jumbotron-text {
      position: relative;
    }
    @include breakpoint(xxs) {
      background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_operational_mobile.jpg") no-repeat #42b549 center;
      background-size: cover;
    }
  }
  &--people {
    background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_people.jpg") no-repeat #42b549 center;
    background-size: cover;
    & .list-jumbotron-text {
      position: relative;
    }
    @include breakpoint(xxs) {
      background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_people_mobile.jpg") no-repeat #42b549 center;
      background-size: cover;
    }
  }
  &--product {
    background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_product.jpg") no-repeat #42b549 center;
    background-size: cover;
    & .list-jumbotron-text {
      position: relative;
    }
    @include breakpoint(xxs) {
      background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_product_mobile.jpg") no-repeat #42b549 center;
      background-size: cover;
    }
  }
  &--technology {
    background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_tech.jpg") no-repeat #42b549 center;
    background-size: cover;
    & .list-jumbotron-text {
      position: relative;
    }
    @include breakpoint(xxs) {
      background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_tech_mobile.jpg") no-repeat #42b549 center;
      background-size: cover;
    }
  }
  &--internship {
    background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_intern.jpg") no-repeat #42b549 center;
    background-size: cover;
    & .list-jumbotron-text {
      position: relative;
    }
    @include breakpoint(xxs) {
      background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_intern_mobile.jpg") no-repeat #42b549 center;
      background-size: cover;
    }
  }
}

/* ======================
 * Discovery Section
 * ====================== */

#discovery {
  // top: -50px;
  top: 0px;
  margin-top:-65px;
  // margin-top:48px;
  @include breakpoint(xs){
    margin-top: -106px;
    padding: 16px;
    .container{
      padding:0;
    }
  }
  &.fixed {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 84px;
    left: 0;
    z-index: 1001;
    box-shadow: 0 11px 35px 0 rgba(0, 0, 0, 0.05);
    // transition: 0.5s;
    transition: top .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    // margin-top:0;
    margin-top:-20px;
    @include breakpoint(xs) {
      display: none;
    }
    & .list-discovery {
      top: 0;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      
      // & .list-search {
      //   width: 33.333%;
      //   float: left;
      //   padding-right: 20px;
      //   @include breakpoint(xs) {
      //     width: 100%;
      //     float: none;
      //     padding: 0;
      //   }
      //   &__input {
      //     width: 100%;
      //     margin-right: 0;
      //     @include breakpoint(xs) {
      //       margin-right: 0;
      //       width: calc(100% - 80px);
      //     }
      //   }
      //   &__btn {
      //     display: none;
      //     @include breakpoint(xs) {
      //       display: block;
      //     }
      //   }
      // }
      // & .list-filter {
      //   width: 66.66%;
      //   float: left;
      //   @include breakpoint(xs) {
      //     width: 100%;
      //     float: none;
      //   }
      // }
      @include breakpoint(xs) {
        
        & .list-category {
          display: none;
          &-slick {
            opacity: 1;
            visibility: visible;
            height: auto;
          }
        }
      }
    }
    & .list-helper {
      display: none;
    }
    & .list-search__btn {
      height: 40px;
      padding-top: 9px;
    }
  }
  &.hid {
    top: 20px;
    transition: top .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.list-discovery {
  position: relative;
  // top: -72px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.05);
  z-index:4;
  // MQ
  @include breakpoint(xs) {
    // top: -55px;
    // margin-top: -86px;
    padding:24px 16px 30px 16px;
    // border-radius:0;
    border-radius: 12px;
  }
  @include breakpoint(320) {
    // margin-top: -70px;
  }
}

/* Search */
.wrap-line{
    margin-top:20px;
    // border-bottom: 1px solid #19a321;
    line-height:0.1em;
    position:relative;
    hr{
     border-top: 1px solid #19a321;
     margin-left: 15px;
     margin-right: 15px;
     @include breakpoint(xs){
       display:none;
     }
    }
    .see-more-link{
      position:absolute;
      margin: 0 auto;
      top:-21px;
      left:50%;
      transform:translateX(-50%);
      background: transparent;
      padding:0 20px;
      button{
        padding:18px 24px;
        border-radius:9999px;
        font-weight:400;
        width: 130px;
      }
      @include breakpoint(xs){
        button{
          padding:18px 24px;
          width:142px;
        }
      }
    }
    .btn-tkpd__text{
        background:#fff;
        padding: 0 40px;
    }
}
.list-search {
  position: relative;
  margin-bottom: 18px;
  @include breakpoint(xs) {
    margin-bottom: 0;
  }
  &__icon {
    content: " ";
    display: block;
    background-repeat: no-repeat;
    background-image: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/search.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    top: 11px;
    left: 15px;
    background-size: 20px 20px;
    // transform: translateY(-50%);
    z-index: 1;
    @include breakpoint(xs){
      width:20px;
      height:20px;
      background-size:100% 100%;
    }
  }
  &__input {
    position: relative;
    width: calc(60% - (75px + 20px));
    height: 40px;
    background: #fafafa;
    border-radius: 9999px;
    padding: 5px 5px 5px 40px;
    border: 2px solid #EBEBEB;
    margin-right: 20px;
    color: $text-disabled;
    float: left;
    font-size: 13px;
    font-family: "MontSerrat";
    font-weight: 600;
    transition: 0.5s;
    &:focus {
      outline: none;
      background:#fff;
      border: 2px solid rgba(56, 188, 37, 1);
    }
    @include breakpoint(xs) {
      margin-right: 0;
      // width: calc(100% - 80px);
      width:100%;
      // border-right: 0;
      margin-bottom: 18px;
      border-radius: 9999px;
      font-size:13px;
    }
  }
  &__btn {
    float: left;
    width: 150px;
    height: 52px;
    @include breakpoint(xs) {
      width: 80px;
      height: 52px;
      border-radius: 0 9999px 9999px 0;
    }
  }
}
.search-btn-wrapper{
  @include breakpoint(xs){
    padding-top:20px;
    clear:both;
    button{
      width:100%;
    }
  }
}

/* Filter */

.list-filter {
  // margin-bottom: 18px;
  @include breakpoint(xs) {
    display: block;
  }
  &-more {
    display: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: $tkpd-green;
    clear: both;
    cursor: pointer;
    @include breakpoint(xs) {
      // display: block;
      display: none;
    }
    &:hover {
      color: darken($tkpd-green, 10%);
    }
    &.expanded {
      & .list-filter-more__icon {
        transform: rotate(180deg);
      }
    }
    &__icon {
      transition: 0.2s;
    }
  }
}

/* Select input */

.list-select {
  position: relative;
  color: $text-secondary;
  width: 100%;
  float: left;
  cursor: pointer;
  padding: 0 20px 0 10px;

  &.active{
    .list-select-input{
      background:#fff;
      border: 2px solid rgba(56, 188, 37, 1);
    }
  }
  @include breakpoint(xs) {
    width: 100%;
    padding: 0;
    margin-bottom: 18px;
  }
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
    margin-bottom: 0;
  }
  &-input {
    position: relative;
    width: calc(40% - (75px + 23px));
    height: 40px;
    background: #fafafa;
    border-radius: 22px;
    padding: 5px 5px 5px 36px;
    border: 2px solid #EBEBEB;
    margin-right: 20px;
    float: left;
    @include breakpoint(xs) {
      width: 100%;
    }
   
    &__arrow {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size:28px;
      color:#d1d1d1;
    }
    &__text {
      display: block;
      margin-top: 5px;
    }
    &__location {
      font-family: "MontSerrat";
      font-size: 13px;
      color: rgba(0, 0, 0, 0.2);
      font-weight: 600;
      @include breakpoint(xs){
        font-size:13px;
      }
    }

    &__icon {
      content: " ";
      display: block;
      background-repeat: no-repeat;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      margin-top: 1px;
      z-index: 1;

     
      &--experience {
        background-image: url("https://ecs7.tokopedia.net/assets/images/careers/ic-experience.png");
      }
      &--location {
        background-image: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/sen-percent.svg");
        background-size: 21px 21px;
        width: 20px;
        height: 23px;
        @include breakpoint(xs){
          width:22px;
          height:22px;
          background-size:100% 100%;
        }
      }
      &--filter {
        background-image: url("https://ecs7.tokopedia.net/assets/images/careers/ic-filter.png");
      }
    }
  }
  &-options {
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    // border: 1px solid #e0e0e0;
    box-shadow: 0 30px 50px 0 rgba(29,65,98,.2);
    border: 1px solid #EBEBEB;
    transition: 0.5s;
    z-index: 10;
    font-family:'Montserrat';
    @include breakpoint(xs) {
      width: 100%;
    }
    & li {
      padding: 15px 24px 15px 24px;
      // border-bottom: 1px solid #e0e0e0;
      font-size:13px;
      @include breakpoint(xs){
        font-size:13px;
      }
      &:hover {
        background: #F4F7FD;
      }
    }
    & .all-location{
        font-weight: bold;
    }
    & .text-country{
        margin-left: 8px;
    }
  }
  &.active .list-select-options {
    opacity: 1;
    visibility: visible;
  }
}

/* Category */

.list-category {
  font-size: 12px;
  color: $text-secondary;
  clear: both;
  @include breakpoint(xs) {
    // margin-bottom: 10px;
    margin-bottom: 0;
    display: none;
  }
  &-slick {
    opacity: 0;
    visibility: hidden;
    height: 0;
    & .list-category__item {
      display: block;
      margin-right: 10px;
      float: left;
    }
    & .slick-slide {
      & > div {
        padding: 0 5px;
        display: block;
      }
      &:first-child > div {
        padding-left: 0;
      }
      &:last-child > div {
        padding-right: 0;
      }
    }
  }
  &__label {
    font-size: 14px;
    color: $text-secondary;
    margin-right: 10px;
    @include breakpoint(xs) {
      display: none;
    }
  }
  &__item {
    position: relative;
    display: inline-block;
    // background: #fff;
    background-image: linear-gradient(156deg, #ddffed 4%, #e4ffe6);
    border-radius: 9999px;
    padding: 8px 16px;
    height: 32px;
    margin-right: 10px;
    font-size: 13px;
    font-family: 'MontSerrat';
    // border: 1px solid #e0e0e0;
    color:#1ca424;
    cursor: pointer;
    transition: 0.2s;
    font-weight:600;
    // opacity:0.7;
    @include breakpoint(xs) {
      margin-bottom: 10px;
      margin-right: 9px;
      width: 90px;
      text-align: center;
      &:nth-child(2) {
        margin-left: 0;
      }
    }
    @include breakpoint(320) {
      margin-right: 1px;
      font-size: 10px;
      width: 80px;
    }
    &.active {
      background: $tkpd-green;
      color: #fff;
      padding-left: 28px;
      background-image: linear-gradient(103deg, #14a01d, #6dcf73);
      box-shadow: 3px 7px 10px 0 rgba(106, 205, 112, 0.45);
      opacity:1;
      & .list-category__icon {
        opacity: 1;
        visibility: visible;
        transform: rotate(0deg);
      }
    }
  }
  &__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    transition: 0.2s;
    // transform: rotate(270deg);
  }
}

/* Helper */

.list-helper {
  position: relative;
  // top: -30px;
  clear: both;
  &-label {
    font-size: 14px;
    color: $text-secondary;
  }
}

/* ===================
 * Job List Function 
 * =================== */
#job-list{
    margin-top:45px;
}
.list-function {
  display: none;
  padding-bottom: 80px;
  animation: fade 1s;
  &.active {
    display: block;
  }
  &-header {
    margin-bottom: 20px;
    &__img {
      float: left;
      height: 124px;
      @include breakpoint(xs) {
        height: 80px;
      }
    }
    &-text {
      float: left;
      padding: 36px 20px 20px 20px;
      @include breakpoint(xs) {
        padding: 27px 16px;
      }
    }
    &__h3 {
      font-size: 22px;
      font-weight: 800;
      color: rgba(0, 0, 0, 0.7);
      font-family:'MontSerrat';
      @include breakpoint(xs) {
        font-size: 17px;
      }
    }
    &__p {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.50);
      font-family:'MontSerrat';
      line-height:24px;
      @include breakpoint(xs) {
        display: none;
      }
    }
  }
  &__btn-more {
    // font-weight: 600;
    // color: rgba(0, 0, 0, 0.54);
    // &:hover {
    //     background-color: darken(#FFF, 10%);
    //     border: 1px solid #FFF;
    // }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Job division */
.col-container{
    padding-left:12px;
    padding-right:12px;
}
.list-div {
  border-radius: 12px;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 25px;
  animation: fade 0.5s ease-out;
  transition: margin 0.3s, box-shadow 0.3s;
  @include breakpoint(xs){
    padding: 24px 24px 20px 24px;
  }
  &:hover{
    box-shadow: 0 20px 50px 0 rgba(29, 65, 98, 0.2);
    margin-top: -5px;
    margin-bottom:30px;
  }
  &__btn-register{
    border-radius: 20px;
    background-image: linear-gradient(100deg, #14a01d, #6dcf73);
  }

  hr{
      width: calc(100% + 48px);
      margin-left:-24px;
  }
  &__h4 {
    display: block;
    font-size: 17px;
    font-weight: 800;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.7);
    // opacity: 0.7;
    margin-bottom: 10px;
    // min-height: 48px;
    height:3em;
    font-family:'Montserrat';
    @include breakpoint(xs) {
      font-size: 15px;
      min-height: 0;
    }
  }
  &__p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
    line-height: 24px;
    // max-height: 110px;
    height: 104px;
    overflow: hidden;
    font-family:'Montserrat';
    @include breakpoint(xs) {
      display: none;
    }
  }
  &-desc {
    // border-top: 1px solid #f2f2f2;
    // padding-top: 20px;
  }
  &-highlight {
    // float: left;
    float: none;
    width: 100%;
    margin-bottom: 22px;
    @include breakpoint(xs) {
      display: none;
    }
    &--mobile {
      display: none;
      @include breakpoint(xs) {
        display: block;
        padding-bottom: 12px;
      }
    }
  }
  &-helper {
   
    float: left;
    font-size: 13px;
    color: #16a11e;
    font-family:'Montserrat';
    font-weight: 600;
    & span{
        opacity:0.7;
    }
    &:nth-child(1){
        margin-right: 20px;
    }
    @include breakpoint(xs) {
      margin-right: 12px;
      font-size:13px;
      &:last-child {
        margin-right: 0;
      }
    }
    &:before {
      content: " ";
      position: relative;
      top: 3px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    &.list-div-helper--function:before {
      // background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-jobs.png');
      background-image: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/group-19.svg");
    }
    &.list-div-helper--experience:before {
      background-image: url("https://ecs7.tokopedia.net/assets/images/careers/ic-experience.png");
    }
    &.list-div-helper--location:before {
        top:5px;
      background-image: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/sen-percent-loc.svg");
    }
  }
  &-action {
    // float: right;
    width: 100%;
    float: none;
    @include breakpoint(xs) {
      float: none;
      &:after,
      &:before {
        content: " ";
        display: table;
        clear: both;
        box-sizing: border-box;
      }
    }
    &-btn {
      float: none;
      width: 100%;
      // margin-bottom: 20px;
      
      @include breakpoint(xs) {
        float: right;
        margin-bottom: 0;
        button{
          padding:12px;
          // border:1px solid #42b549;
        }
      }
      &:first-child {
        margin-bottom: 5px;
        @include breakpoint(xs) {
          margin-bottom: 0;
        }
      }
      &__action {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        &--white {
          font-weight: 600;
          color: #42b549;
          // font-size: 14px;
          &:hover {
            color: darken(#42b549, 10%);
          }
        }
      }
      @include breakpoint(xs) {
        // width: 50%;
        margin-right: 0;
        // padding: 0 5px;
        & .btn {
          display: block;
        }
      }
    }
  }
}

/* ======================
 * Default 404 Section
 * ====================== */

.section_default {
  display: none;
  padding: 60px 0;
}

.ct-error {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.ct-cell {
  display: table-cell;
  vertical-align: middle;
}

.error__thanks {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.error__notify {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.error__notify p {
  font-weight: 600;
  margin-top: 2px;
}

.error__notify--bold {
  font-weight: 700;
}

.error-copy {
  margin-bottom: 40px;
}

// Util
.relative {
  position: relative;
}


.jobs-search-btn {
  height: 40px;
  & .text {
    font-weight: 600;
    font-size: 14px;
  }
}

.list-btn-details {
  height: 40px;
  font-size: 13px !important;
  padding: 10px 48px !important;
}

.list-btn-apply {
  height: 40px;
  font-size: 13px !important;
  padding: 10px 48px !important;
}