@import 'common/_variables';

.section_search {
    @include breakpoint(smd) {
        &.fixed {
            left: 100%;
            &.show {
                left: 0;
            }
        }
    }
}

.section-ibanner {
    // background: url('https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/09/header-background2.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #dbf9f1;
    position: relative;
    &__l {
        height: 232px;
        width: 376px;
        background: url(https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/daon-kiri@2x.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        @include breakpoint(xs) {
            display: none;
        }
    }
    &__r {
        height: 235px;
        width: 289px;
        background: url(https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/daon-kanan@2x.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        @include breakpoint(xs) {
            height: 135px;
            width: 189px;
        }
    }
}

.ibanner {
    padding-top: 90px;
    padding-bottom: 90px;
    &-content {
        text-align: center;
        &__title {
            color: rgba(0 , 0, 0, .7);
            font-weight: 700;
            margin-bottom: 8px;
            font-family: 'Montserrat';
            @include breakpoint(xs) {
                font-size: 20px;
            }
            @include breakpoint(sm) {
                font-size: 24px;
            }
            @include breakpoint(md) {
                font-size: 34px;
            }
        }
        &__line {
            background-color: #38bc25;
            width: 50px;
            border-radius: 6px;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(smd) {
                height: 5px;
            }
            @include breakpoint(md) {
                height: 6px;
            }
        }
        &__desc {
            color: rgba(0 , 0, 0, .38);
            font-weight: 400;
            line-height: 1.6;
            font-family: 'Montserrat';
            line-height: 2;
            font-size: 14px;
        }
    }
}

// Our Community Template
.section-institute {
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
    @include breakpoint(xs) {
        margin-top: 120px;
        margin-bottom: 24px;
    }
    &__bg1 {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        @include breakpoint(xs) {
            top: 0;
            width: 260px;
        }
        @include breakpoint(sm) {
            top: -20%;
        }
        @include breakpoint(md) {
            top: -37%;
        }
    }
}

.institute {
    position: relative;
    &-img {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(smd) {
            width: 100%;
            margin-bottom: 40px;
        }
        @include breakpoint(md) {
            width: 55%;
            float: right;
            // margin-top: 8px;
        }
        &__img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            @include breakpoint(xs) {
                padding-left: 16px;
                padding-right: 16px;
            }
            @include breakpoint(sm) {
                width: 450px;
                height: auto;
            }
        }
    }
    &-content {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(md) {
            width: calc(45% - 5px);
            // padding-left: 30px;
            margin-top: 60px;
        }
        @include breakpoint(xs) {
            text-align: center;
        }
        &__title {
            color: rgba(0 , 0, 0, .7);
            font-weight: 700;
            margin-bottom: 8px;
            font-family: 'Montserrat';
            @include breakpoint(xs) {
                font-size: 22px;
            }
            @include breakpoint(sm) {
                font-size: 22px;
            }
            @include breakpoint(md) {
                font-size: 30px;
            }
        }
        &__line {
            background-color: #38bc25;
            width: 50px;
            border-radius: 6px;
            margin-bottom: 15px;
            @include breakpoint(xs) {
                margin-left: auto;
                margin-right: auto;
            }
            @include breakpoint(smd) {
                height: 5px;
            }
            @include breakpoint(md) {
                height: 6px;
            }
        }
        &__desc {
            color: rgba(0 , 0, 0, .5);
            font-weight: 400;
            line-height: 24px;
            font-family: 'Montserrat';
            line-height: 2;
            font-size: 13px;
        }
    }
}

.section-ievent {
    position: relative;
    margin-bottom: 80px;
    &:last-of-type {
        
    }
    &__cl {
        position: absolute;
        top: -30%;
        left: 0;
        z-index: -1;
        @include breakpoint(xs) {
            width: 50%;
            top: 25%;
        }
        @include breakpoint(sm) {
            top: 6%;
        }
        @include breakpoint(md) {
            top: -30%;
        }
    }
    &__cr {
        position: absolute;
        top: -30%;
        right: 0;
        z-index: -1;
        @include breakpoint(xs) {
            width: 50%;
            top: 25%;
        }
        @include breakpoint(sm) {
            top: 50%;
        }
        @include breakpoint(md) {
            top: -30%;
        }
    }
}

.ievent {
    &-box {
        border-radius: 12px;
        background-color: #FFF;
        box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 32px;
        overflow: hidden;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        @include breakpoint(md) {
            // padding: 30px 32px;
        }
        &--hovered {
            box-shadow: 0 30px 50px 0 rgba(29, 65, 98, 0.2);
            transform: translateY(-5%);
        }
        &-img {
            margin-bottom: 20px;
            // width: 120%
            width: 100%;
            height: 225px;
            position: relative;
            transform: translateX(-50%);
            left: 50%;
            overflow: hidden;
            // border-radius: 0 0 50% 50%;
            &__img {
                display: block;
                width: 100%;
                // height: auto;
                height: 100%;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                // min-height: 280px;
                object-fit: cover;
                padding: 24px;
            }
        }
        &-ct {
            margin-bottom: 32px;
            padding-left: 30px;
            padding-right: 30px;
            @include breakpoint(xs) {
                padding-left: 20px;
                padding-right: 20px;
            }
            &__title {
                font-family: Montserrat;
                font-weight: 800;
                margin-bottom: 8px;
                // min-height: 2.2em;
                // max-height: 2.2em;
                height: 1.1em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 1.1;
                @include breakpoint(md) {
                    font-size: 17px;
                }
                @include breakpoint(xs) {
                    font-size: 15px;
                }
            }
            &__date {
                font-family: Montserrat;
                font-size: 13px;
                font-weight: 700;
                line-height: 2;
                color: #16a11e;
                margin-bottom: 15px;
                &.passed {
                    color: rgba(0 , 0, 0, .38);
                }
            }
            &__desc {
                font-family: Montserrat;
                // font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: rgba(0, 0, 0, 0.5);
                height: 6em;
                position: relative;
                overflow: hidden;
                font-size: 13px;
                // &:after {
                //     content: "";
                //     text-align: right;
                //     position: absolute;
                //     bottom: 0;
                //     right: 0;
                //     width: 40%;
                //     height: 2em;
                //     background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
                // }
                @include breakpoint(md) {
                    font-size: 13px;
                }
            }
        }
        &-btn {
            padding-bottom: 32px;
            padding-left: 30px;
            padding-right: 30px;
            @include breakpoint(xs) {
                padding-left: 20px;
                padding-right: 20px;
            }
            &__btn1 {
                width: 100%;
                margin-bottom: 8px;
                height: 40px;
                & .text {
                    font-size: 13px !important;
                }
            }
            &__btn2 {
                width: 100%;
                height: 40px;
                font-size: 13px !important;
                padding: 10px 48px !important;
                & .text {
                    font-size: 13px !important;
                }
            }
        }
    }
    &-more {
        &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            background-color: #19a321;
            @include breakpoint(xs) {
                width: 30%;
            }
            @include breakpoint(sm) {
                width: 40%;
            }
            @include breakpoint(md) {
                width: 40%;
            }
        }
        &:after {
            content: "";
            display: inline-block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            background-color: #19a321;
            @include breakpoint(xs) {
                width: 30%;
            }
            @include breakpoint(sm) {
                width: 40%;
            }
            @include breakpoint(md) {
                width: 40%;
            }
        }
        &__btn {
            @include breakpoint(xs) {
                width: calc(40% - 9px);
            }
            @include breakpoint(sm) {
                width: calc(20% - 9px);
            }
            @include breakpoint(md) {
                width: calc(20% - 9px);
            }
        }
    }
    &-wrapper {
        transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &-ext {
        display: none;
    }
}

// .container.container-ievent {
//     @include breakpoint(md) {
//         width: 100%;
//     }
// }

.section-circle {
    margin-top: 100px;
    margin-bottom: 40px;
    position: relative;
    @include breakpoint(xs) {
        margin-top: 60px;
        margin-bottom: 24px;
    }
    &__bg1 {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        @include breakpoint(xs) {
            width: 250px;
            top: 0;
        }
        @include breakpoint(sm) {
            top: -61%;
        }
        @include breakpoint(md) {
            top: 0;
        }
    }
}

.circle-com {
    position: relative;
    &-img {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(smd) {
            width: 100%;
            margin-bottom: 40px;
        }
        @include breakpoint(md) {
            width: calc(50% - 5px);
        }
        &__img {
            display: block;
            // margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            @include breakpoint(xs) {

            }
            @include breakpoint(md) {
                width: 450px;
                height: auto;
            }
        }
    }
    &-content {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(xs) {
            width: 100%;
            text-align: center;
        }
        @include breakpoint(md) {
            width: 50%;
            // padding-left: 30px;
        }
        &__title {
            color: rgba(0 , 0, 0, .7);
            font-weight: 700;
            margin-bottom: 8px;
            font-family: 'Montserrat';
            @include breakpoint(xs) {
                font-size: 22px;
            }
            @include breakpoint(sm) {
                font-size: 22px;
            }
            @include breakpoint(md) {
                font-size: 30px;
            }
        }
        &__line {
            background-color: #38bc25;
            width: 50px;
            border-radius: 6px;
            margin-bottom: 15px;
            @include breakpoint(xs) {
                margin-left: auto;
                margin-right: auto;
            }
            @include breakpoint(smd) {
                height: 5px;
            }
            @include breakpoint(md) {
                height: 6px;
            }
        }
        &__desc {
            color: rgba(0 , 0, 0, .5);
            font-weight: 400;
            font-family: 'Montserrat';
            line-height: 24px;
            font-size: 13px;
        }
    }
}

.slick-prev, .slick-next {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    transition: top 0.5s ease;
    &:after {
        content: "";
        width: 40px;
        height: 40px;
        background-color: #FFF;
        display: block;
        box-shadow: 3px 7px 10px 0 rgba(29, 65, 98, 0.05);
        border: solid 1px #ebebeb;
        border-radius: 50%;
        background: url('https://ecs7.tokopedia.net/assets/images/careers/arrow-right--slider.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    &:hover {
        top: 48%;
    }
}

.slick-prev {
    left: -60px;
    transform: translateY(-50%) rotate(180deg);
}
.slick-next {
    right: -60px;
}

.slick-disabled {
    opacity: 0.5;
}