@import 'common/_variables';
body {
    @include breakpoint(xs) {
        overflow-x: hidden;
    }
}

// New Banner 2018
.section-banner {
    padding-top: 120px;
}

.banner {
    &-mainbg {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        @include breakpoint(xs) {
            top: 60px;
            width: 115%;
            right: 0;
        }
    }
    &-copy {
        display: inline-block;
        margin-left: -4px;
        vertical-align: middle;
        @include breakpoint(xs) {
            margin-top: 24px;
        }
        @include breakpoint(md) {
            width: 33.3333%;
            margin-top: 112px;
        }
        @include breakpoint(fullhd) {
            margin-top: 112px;
            width: 50%;
        }
        &-header {
            margin-bottom: 20px;
            &__title {
                font-family: Montserrat;
                font-size: 34px;
                font-weight: 800;
                @include breakpoint(xs) {
                    font-size: 24px;
                }
            }
            &__line {
                width: 50px;
                height: 6px;
                background: #38bc25;
                // margin-left: auto;
                margin-right: auto;
                border-radius: 12px;
                margin-top: 8px;
            }
        }
        &__desc {
            font-family: Montserrat;
            font-size: 14px;
            line-height: 2;
        }
    }
    &-image {
        display: inline-block;
        margin-left: -4px;
        vertical-align: middle;
        @include breakpoint(xs) {
            float: none;
        }
        @include breakpoint(sm) {
            width: 100%;
        }
        @include breakpoint(md) {
            width: 66.6666%;
            float: right;
        }
        @include breakpoint(fullhd) {
            width: 50%;
        }
        &-group {
            @include breakpoint(xs) {
                padding-left: 0%;
                padding-top: 10%;
            }
            @include breakpoint(sm) {
                padding-left: 0;
                padding-top: 10%;
            }
            @include breakpoint(md) {
                padding-left: 16%;
                padding-top: 10%;
            }
            &__owl {
                display: inline-block;
                width: 100%;
                height: auto;
                max-width: 411px;
                @include breakpoint(xs) {
                    max-width: 239px;
                }
                @include breakpoint(fullhd) {
                    margin-left: -23px;
                }
            }
            &__tree {
                display: inline-block;
                width: 100%;
                height: auto;
                max-width: 86px;
                @include breakpoint(xs) {
                    max-width: 50px;
                }
            }
        }
    }
}

// New Banner
.section-nbanner {
    // background: url('https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/09/footer-copy.png');
    background-image: linear-gradient(to top, #ffffff, #dbf9f1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 120px;
    position: relative;
    @include breakpoint(sm) {
        padding-bottom: 80px;
    }
    @include breakpoint(fullhd) {
        padding-top: 170px;
    }
    &__accr {
        margin-top: 64px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        width: 400px;
        height: auto;
        z-index: 0;
        @include breakpoint(xs) {
            width: 200px;
        }
    }
    &__accl {
        margin-top: 64px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 400px;
        height: auto;
        z-index: 0;
        @include breakpoint(xs) {
            width: 200px;
        }
    }
}

.nbanner {
    position: relative;
    z-index: 1;
    &-header {
        text-align: center;
        &__title {
            font-family: Montserrat;
            font-size: 34px;
            font-weight: 800;
            margin-bottom: 8px;
            @include breakpoint(xs) {
                font-size: 30px;
            }
            @include breakpoint(sm) {
                font-size: 34px;
            }
        }
        &__copy {
            font-family: Montserrat;
            font-size: 17px;
            line-height: 2;
            color: rgba(0, 0, 0, 0.38);
            font-weight: 600;
            @include breakpoint(xs) {
                font-size: 15px;
            }
        }
    }
    &-copy {
        display: inline-block;
        margin-left: -4px;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        @include breakpoint(xs) {
            margin-top: 48px;
            text-align: center;
        }
        @include breakpoint(sm) {
            margin-top: 32px;
        }
        @include breakpoint(md) {
            width: 50%;
            margin-top: 185px;
        }
        @include breakpoint(fullhd) {
            margin-top: 15%;
            width: 50%;
        }
        &-header {
            margin-bottom: 20px;
            &__title {
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 800;
                @include breakpoint(xs) {
                    font-size: 22px;
                }
            }
            &__line {
                width: 50px;
                height: 6px;
                background: #38bc25;
                // margin-left: auto;
                margin-right: auto;
                border-radius: 12px;
                margin-top: 8px;
                @include breakpoint(xs) {
                    margin-left: auto;
                }
            }
        }
        &__desc {
            font-family: Montserrat;
            font-size: 13px;
            line-height: 24px;
        }
    }
    &-image {
        display: inline-block;
        margin-left: -4px;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        padding-top: 64px;
        @include breakpoint(xs) {
            float: none;
        }
        @include breakpoint(sm) {
            width: 100%;
        }
        @include breakpoint(md) {
            width: 50%;
            float: left;
        }
        @include breakpoint(fullhd) {
            width: 50%;
        }
        &-group {
            @include breakpoint(xs) {
                padding-left: 0%;
                padding-top: 10%;
            }
            @include breakpoint(sm) {
                padding-left: 0;
                padding-top: 10%;
            }
            @include breakpoint(md) {
                // padding-left: 16%;
                padding-top: 10%;
            }
            &__owl {
                display: inline-block;
                width: 100%;
                height: auto;
                max-width: 411px;
                @include breakpoint(xs) {
                    max-width: 239px;
                }
                @include breakpoint(fullhd) {
                    margin-left: -23px;
                }
            }
            &__tree {
                display: inline-block;
                width: 100%;
                height: auto;
                max-width: 86px;
                @include breakpoint(xs) {
                    max-width: 50px;
                }
            }
        }
        &__img {
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-right: 32px;
            @include breakpoint(xs) {
                padding-right: 0;
            }
            @include breakpoint(sm) {
                width: 70%;
                padding-right: 10%;
            }
            @include breakpoint(md) {
                width: 100%;
                padding-right: 15%;
            }

        }
    }
    &__mainbg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        @include breakpoint(xs) {
            left: -125%;
            bottom: none;
            top: 750px;
        }
        @include breakpoint(md) {
            left: 3%;
        }
    }
}

// Searchbar Overrides

.section_search {
    // padding-bottom: 64px;
}

.search-bar {
    background: transparent;
    box-shadow: none;
}

.search-bar-wrapbar {
    background: transparent;
    @include breakpoint(xs) {
        padding-left: 0;
        padding-right: 0;
    }
}

.buttons-wrap {
    background: transparent;
    @include breakpoint(xs) {
        padding-left: 0;
        padding-right: 0;
    }
}

// .search-or {
//     background: transparent;
//     border: none;
// }

// .search-or-line {
//     display: none;
// }

.section_search {
    & .container {
        @include breakpoint(xs) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

/* ========================
   === Section What ===
=========================*/

.section_what {
    padding: 60px 0 0 0;
    background-color: #FFF;
    position: relative;
    z-index: 0;
    // MQ
    @include breakpoint(smd) {
        padding: 60px 0 0 0;
        // margin-top: -15px
    }
}

.what-row {
    border-bottom: solid 2px #e0e0e0;
    padding-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    @include breakpoint(smd) {
        padding-bottom: 10px;
        border-bottom: none;
    }
}

.inh {
    position: relative;
}

.what-copybox {
    // MQ
    @include breakpoint(smd) {
        text-align: center;
    }
}

.what-copy {
    &__about {
        margin-bottom: 15px;
        // MQ
        @include breakpoint(smd) {
            margin-bottom: 10px;
        }
    }
    &__work {
        margin-bottom: 15px;
        // MQ
        @include breakpoint(smd) {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    &__thecopy {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
        // MQ
        @include breakpoint(smd) {
            font-size: 14px;
        }
    }
}

.what-copy-link {
    &__a {
        @include breakpoint(smd) {
            display: none;
        }
    }
}

.what-image {
    border-radius: 3px;
    overflow: hidden;
    display: block;
    &__hero {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
    }
}

.what-culture-wrap {}

.what-culture-items {
    &__item {
        margin: auto;
    }
    &__text {
        text-align: center;
        padding: 5px;
    }
}


/* =========================
   === Section THE STORY ===
===========================*/

.section_thestory {
    position: relative;
    margin-top: 60px;
    overflow: hidden;
    // MQ
    @include breakpoint(xs) {
        margin-top: 64px;
    }
}

.thestory-header {
    position: relative;
    margin-bottom: 100px;
    text-align: center;
    // MQ
    @include breakpoint(xs) {
        margin-bottom: 40px;
    }
    @include breakpoint(sm) {
        margin-bottom: 60px;
    }
    &__smtitle {
        margin-bottom: 10px;
        // MQ
        @include breakpoint(xs) {
            margin-bottom: 10px;
        }
    }
    &__bgtitle {
        font-size: 30px;
        font-weight: 800;
        font-family: Montserrat;
        // MQ
        @include breakpoint(xs) {
            font-size: 20px;
        }
    }
    &__overlap {
        display: block;
        font-size: 84px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.04);
        position: absolute;
        left: 0;
        top: -13px;
        line-height: 1;
        user-select: none;
        // MQ
        @include breakpoint(xs) {
            font-size: 48px;
            margin-top: 30px;
        }
        &--nakama {
            // MQ
            @include breakpoint(xs) {
                font-size: 46px;
            }
            @include breakpoint(max350) {
                margin-top: 30px;
                font-size: 37px;
            }
        }
        &--jobs {
            // MQ
            @include breakpoint(xs) {
                font-size: 40px;
            }
            @include breakpoint(max350) {
                margin-top: 30px;
                font-size: 37px;
            }
        }
    }
    &__underline {
        border-bottom: 2px solid #F2F2F2;
        display: block;
        position: absolute;
        right: 0;
        bottom: 2px;
        width: 62%;
        @include breakpoint(smd) {
            display: none;
        }
        // override for other sections
        &--nakama {
            width: 44%;
        }
        &--jobs {
            width: 49%;
        }
    }
    &__line {
        width: 50px;
        height: 6px;
        background: #38bc25;
        margin-left: auto;
        margin-right: auto;
        border-radius: 12px;
        margin-top: 12px;
    }
}

.thestory-body {
    // max-width: 826px;
    margin: auto;
}

.thestory-body-container {
    @include breakpoint(sm) {
        width: 1100px;
    }
}

.row--thestory {
    &:nth-child(1) {
        & .thestory-body-copybox {
            @include breakpoint(md) {
                margin-top: 30px;
            }
        }
    }
    &:nth-child(2) {
        & .thestory-body-copybox {
            @include breakpoint(md) {
                margin-top: 60px;
            }
        }
    }
    &:nth-child(3) {
        & .thestory-body-copybox {
            @include breakpoint(md) {
                margin-top: 60px;
            }
        }
    }
}

.thestory-body-copybox {
    // MQ
    @include breakpoint(xs) {
        text-align: center;
    }
    &__title {
        font-size: 22px;
        margin-bottom: 12px;
        font-weight: 800;
        font-family: Montserrat;
        // MQ
        @include breakpoint(xs) {
            font-size: 17px;
            margin-bottom: 10px;
        }
    }
    &__content {
        font-size: 13px;
        line-height: 1.88;
        font-family: Montserrat;
        // MQ
        @include breakpoint(xs) {
            font-size: 13px;
        }
    }
}

.thestory-body-imagebox {
    // MQ
    @include breakpoint(xs) {
        margin-bottom: 20px;
    }
    &__image {
        margin: auto;
    }
    &--ship {
        float: left;
        // MQ
        @include breakpoint(xs) {
            float: none;
        }
    }
    &--compass {
        float: right;
        // MQ
        @include breakpoint(xs) {
            float: none;
        }
    }
    &--map {
        float: left;
        // MQ
        @include breakpoint(xs) {
            float: none;
        }
    }
}

.thestory-footer {
    background-image: linear-gradient(101deg, #42b549, #4bb951 20%, #54be5a 45%, #5cc262 70%, #64c66a);
    box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.05);
    padding: 50px 60px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 100px;
    // MQ
    @include breakpoint(xs) {
        padding: 40px 20px;
        margin-bottom: 40px;
    }
}

.thestory-footer-copybox {
    &__copy {
        font-size: 16px;
        line-height: 1.94;
        color: #ffffff;
        // MQ
        @include breakpoint(xs) {
            font-size: 16px;
            text-align: center;
        }
        &--bold {
            font-weight: 700;
            // MQ
            @include breakpoint(xs) {
                // font-weight: 600;
            }
        }
    }
}

.thestory-footer-buttonbox {
    &__button {
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 26px;
        display: block;
        box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.05);
        @include breakpoint(xs) {
            margin-top: 20px;
            padding: 10px;
            font-size: 14px;
        }
    }
}

// util
.row--thestory {
    margin-bottom: 60px;
    // MQ
    @include breakpoint(xs) {
        margin-bottom: 40px;
    }
}

.thestory-circle {
    &--solid {
        position: absolute;
        right: -120px;
        bottom: 0;
        // MQ
        @include breakpoint(smd) {
            display: none;
        }
    }
    &--dashed {
        position: absolute;
        right: -120px;
        bottom: 100px;
        // MQ
        @include breakpoint(smd) {
            display: none;
        }
    }
}

.thestory-circleorange--solid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    // MQ
    @include breakpoint(smd) {
        display: none;
    }
}

.col-pr {
    float: right;
    // MQ
    @include breakpoint(xs) {
        float: none;
    }
}


/* ======================
=== Section Nakama
======================= */

.section_nakama {}

.nakama-image-wrapper {
    margin-bottom: 25px;
    // MQ
    @include breakpoint(xs) {
        margin-bottom: 0;
    }
    &:last-child {
        margin-bottom: 42px;
    }
}

.nakama-imagebox {
    float: left;
    // MQ
    @include breakpoint(xs) {
        margin-bottom: 20px;
    }
    &__image {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px;
        @include breakpoint(xs) {
            width: 100%;
        }
        &--desktop {
            display: block;
            @media (max-width: 500px) {
                display: none;
            }
        }
        &--mobile {
            display: none;
            @media (max-width: 500px) {
                display: block;
            }
        }
    }
    &--pr25 {
        padding-right: 25px;
        // MQ
        @include breakpoint(xs) {
            padding-right: 0;
        }
    }
    &--short {
        max-width: 40%;
        // MQ
        @include breakpoint(xs) {
            max-width: 100%;
            width: 100%;
        }
    }
    &--long {
        max-width: 60%;
        // MQ
        @include breakpoint(xs) {
            max-width: 100%;
            width: 100%
        }
    }
}

.nakama-copybox {
    // MQ
    @include breakpoint(smd) {
        text-align: center;
        margin-bottom: 20px;
    }
}

.nakama-buttonbox {
    float: right;
    // MQ
    @include breakpoint(smd) {
        float: none;
        text-align: center;
    }
}


/* ======================
=== Section drive
======================= */

.section_about-drive {
    position: relative;
    @include breakpoint(xs) {
        padding: 25px 0;
    }
    @include breakpoint(sm) {
        padding: 32px 0;
    }
    @include breakpoint(md) {
        padding: 80px 0;
    }
}

.about-drive__copy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    font-size: 13px;
    margin-top: 17px;
    margin-bottom: 40px;
    line-height: 2;
    @include breakpoint(sm) {
        // width: 80%;
    }
}

.thestory-header--drive {
    margin-bottom: 40px;
}

.drive-circle {
    &--solid {
        position: absolute;
        right: 0;
    }
    &--dashed {
        position: absolute;
        right: 0;
        top: -35px;
    }
}

.wwd-box-wrap {
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 40px;
}

.wwd-innerbox-wrap {
    margin-top: -17%;
    margin-bottom: 40px;
    &--drive {
        margin-bottom: 40px;
    }
}

.wwd-box {
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: all 0.3s ease;
    width: calc(33.3333333333% - 25px);
    float: left;
    margin-right: 25px;
    &:last-child() {
        margin-right: 0;
        width: 33.3333333333%;
    }
    &:hover {
        // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    }
    &__caption {
        padding: 0 15px 40px 15px;
        font-weight: 600;
        color: $tkpd-green;
        font-size: 20px;
    }
    &__copy {
        margin-bottom: 20px;
        font-size: 18px;
        @include breakpoint(xxs) {
            font-size: 16px;
        }
    }
}

.wwd-box-image {
    overflow: hidden;
    padding: 40px 20px 20px 20px;
    &__image {
        width: auto;
        max-height: 138px;
        @include breakpoint(sm) {
            width: 100%;
            height: 138px;
        }
        @include breakpoint(md) {
            width: auto;
        }
    }
}

.btn--mr15 {
    margin-right: 15px;
}

.wwd-box__caption--drive {
    margin: 0 15px 40px 15px;
    font-weight: 600;
    // color: #42b549;
    font-size: 17px;
    min-height: 48px;
    font-family: Montserrat;
    font-weight: 800;
}

.drive-box-image {
    &__image {
        margin-bottom: 20px;
    }
}

.drive-footer-copybox {
    max-width: 58%;
    // MQ
    @include breakpoint(smd) {
        max-width: 100%;
        // width: 100%;
    }
    &__copy {
        font-size: 18px;
        @include breakpoint(smd) {
            text-align: center;
            max-width: 100%;
            font-size: 16px;
        }
    }
}

// MOBILE SLIDER WWD
// ==================
.wwd-innerbox-wrap-mobile {
    .slick-slide {
        height: 280px;
    }
    .wwd-box {
        width: calc(100% - 20px) !important;
        // max-width: 250px;
        border-radius: 12px;
        background-color: #ffffff;
        box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.05);
        // display: block !important;
        // margin: auto !important;
        margin: 10px;
    }
    .wwd-box-image {
        overflow: hidden;
        // padding: 40px 50px 20px 50px;
        padding: 24px;
        &__image {
            width: auto;
            max-height: 120px;
            margin: auto;
            @include breakpoint(xs) {
                width: 100%;
                height: 120px;
            }
        }
    }
    .wwd-box__caption--drive {
        margin: 0 15px 26px 15px;
        font-size: 15px;
    }
    // .slick-list {
    //     overflow: visible;
    // }
}


/* ========================
   === Section Culture ===
=========================*/

.section_culture {
    padding: 30px 0 60px 0;
    // MQ
    @include breakpoint(smd) {
        padding: 30px 0 40px 0;
    }
}

.d-section_culture {
    // MQ
    @include breakpoint(smd) {
        display: none;
    }
}

.m-section_culture {
    // MQ
    @include breakpoint(md) {
        display: none;
    }
}

.culture-image {
    margin-bottom: 20px;
    &__image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
    }
}

.culture-copy {
    &__title {
        font-size: 18px;
        margin-bottom: 15px;
        // MQ
        @include breakpoint(smd) {
            font-size: 16px;
        }
    }
    &__thecopy {
        line-height: 24px;
        // MQ
        @include breakpoint(smd) {
            font-size: 14px;
        }
    }
}

.m-culture-image-slider {
    & .culture-image {
        opacity: 0.6;
        // transition: opacity 0.25s ease;
        &.slick-center {
            opacity: 1;
        }
    }
}


/* ========================
   === Section Slider ===
=========================*/

.section_slider {
    padding-bottom: 40px;
}

.theslider {
    max-width: 900px;
    margin: auto auto 30px auto;
    @include breakpoint(smd) {
        max-width: 600px;
    }
    @include breakpoint(max480) {
        max-width: 240px;
    }
}

.theslider-item {
    &__item {
        border-radius: 3px;
        margin: auto;
    }
}

.theslider-button-prev,
.theslider-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 9px;
    color: rgba(0, 0, 0, 0.38);
    background-color: transparent;
    border: solid 1px rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    @include breakpoint(max480) {
        font-size: 12px;
        padding: 2px 7px;
        width: 24px;
        height: 24px;
    }
}

.theslider-button-prev {
    left: -40px;
    @include breakpoint(max480) {
        left: -28px;
    }
}

.theslider-button-next {
    right: -40px;
    @include breakpoint(max480) {
        right: -28px;
    }
}

.theslider-caption {
    max-width: 750px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 22px;
    padding-bottom: 20px;
    margin: auto;
}


/* ========================
   === Section Photos ===
=========================*/

.section_photos {
    background-color: #FFF;
    padding: 60px 0 35px 0;
}

// Util
.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.photos-image {
    margin-bottom: 15px;
    overflow: hidden;
    &__big {
        max-width: 100%;
        height: 100%;
    }
    &__small {
        max-width: 100%;
        height: 100%;
    }
    &__copy {
        max-height: 100px;
        overflow: hidden;
    }
}


/* ========================
   === Section Quote ===
=========================*/

.section_quote {
    margin-top: 80px;
    background-color: #FFF;
    position: relative;
    @include breakpoint(xxs) {
        margin-top: 20px;
    }
}

.quote-ceo {
    &__bg {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        height: 550px;
        // MQ
        @include breakpoint(xxs) {
            display: none;
        }
        @include breakpoint(smd) {
            height: 400px;
        }
        &--m {
            display: none;
            //MQ
            @include breakpoint(xxs) {
                position: absolute;
                left: 0;
                bottom: 0;
                display: inline-block;
                max-height: 110%;
                width: auto;
            }
        }
    }
}

.quote__kowil {
    display: block;
    // MQ
    @include breakpoint(xxs) {
        // display: none;
    }
    @include breakpoint(smd) {
        padding-right: 25px;
    }
    &--m {
        display: none;
        // MQ
        @include breakpoint(xxs) {
            display: inline-block;
            position: absolute;
            bottom: 0;
            width: 36%;
            margin-left: 15px;
        }
    }
}

.quote-image {
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
        width: 100%;
        height: 100%;
        bottom: 0;
    }
}

.quote__image {
    width: 100%;
    height: auto;
    display: block;
}

.quote-box {
    &__quote {
        position: relative;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        &--author,
        &--title,
        &--block {
            display: block;
        }
        &--author {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.7);
            font-size: 16px;
            // MQ
            @include breakpoint(xxs) {
                font-size: 14px;
            }
            @include breakpoint(max350) {
                font-size: 12px;
            }
        }
        &--title {
            font-weight: 300;
            // MQ
            @include breakpoint(xxs) {
                font-size: 12px;
            }
            @include breakpoint(max350) {
                font-size: 10px;
            }
        }
        &--thequote {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.7);
            margin-bottom: 25px;
            // line-height: 30px;
            line-height: 1.5;
            letter-spacing: 0.3px;
            font-style: italic;
            // MQ
            @include breakpoint(xxs) {
                font-size: 12px;
                letter-spacing: 0;
            }
            @include breakpoint(max350) {
                font-size: 10px;
                letter-spacing: 0px;
            }
        }
    }
}

// new
.quote-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.quote-pakwil,
.quote-text {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.quote-pakwil {
    width: 40%;
}

.quote-text {
    width: 60%;
}

.quote-bg {
    background: url('https://ecs7.tokopedia.net/assets/images/careers/bg-green.svg');
}

/* ========================
   === Section Explore ===
===========================*/

.section_explore {
    padding: 100px 0;
    background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_footer-new.jpg') no-repeat transparent;
    background-size: cover;
    background-position: center;
    position: relative;
    &:before {
        content: " ";
        bottom: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #FFF;
        opacity: 0.9;
    }
    @include breakpoint(smd) {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_footer--m.jpg') no-repeat transparent;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}

.explore {
    &__title {
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 10px;
        // MQ
        @include breakpoint(smd) {
            // display: none;
            // visibility: hidden;
        }
    }
    &__copy {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
        // MQ
        @include breakpoint(xxs) {
            font-size: 20px;
        }
    }
}

.explore-btn {
    border: 1px solid #FF5527;
    border-radius: 3px;
    color: #FFF;
    vertical-align: middle;
    display: inline-block;
    &:hover {
        color: #FFF;
    }
    &__copy,
    &__play {
        display: inline-block;
        vertical-align: middle;
    }
    &__play {
        @include breakpoint(xxs) {
            max-width: 80px;
            max-height: 80px;
        }
    }
    // MQ
    @include breakpoint(smd) {
        visibility: hidden;
    }
}

.explore-btn--m {
    @extend .explore-btn;
    visibility: hidden;
    // MQ
    @include breakpoint(smd) {
        position: absolute;
        bottom: 20px;
        visibility: visible;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* =============================
   === Custom Footer Landing ===
   ============================= */

.footer-fp {
    padding: 0 20px 20px 20px;
    background-color: #333333;
    color: #FFF;
    & .container {
        padding-top: 20px;
        border-top: 1px solid #FFF;
    }
    @include breakpoint(max350) {
        padding: 0 10px 20px 10px;
    }
}


/* ========================
   ===     Utils      ===
=========================*/

// Vertical Align For Bootstrap Row
.container-vcenter {
    @include breakpoint(md) {
        & .row {
            display: table;
            table-layout: fixed;
            height: 100%;
            width: 100%;
            vertical-align: middle;
            &>[class*='col-'] {
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                float: none;
            }
        }
    }
}

.noscroll {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll !important;
    z-index: 10;
}

.pb--20 {
    padding-bottom: 20px;
}

.vchack {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.flag-indonesia {
    background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-indoflag.png');
    width: 15px;
    height: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
    &--big {
        background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-indoflag%403x.png');
        width: 25px;
        height: 20px;
        margin-right: 12px;
        margin-top: 2px;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
    }
}

.flag-india {
    background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-indiflag.png');
    width: 15px;
    height: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
    &--big {
        background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-indiflag%403x.png');
        width: 25px;
        height: 20px;
        margin-right: 12px;
        margin-top: 2px;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
    }
}

.relative {
    position: relative;
}

.flex-vcenter {
    display: flex;
    align-items: center;
}

.slick-dots {
    text-align: center;
    width: 100%;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 20px;
    // MQ
    @include breakpoint(smd) {
        bottom: 5px;
    }
    & li {
        display: inline-block;
        background-color: #FFF;
        border-radius: 5px;
        position: relative;
        width: 20px;
        height: 5px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        transition: all .4s ease;
        opacity: .8;
        // MQ
        @include breakpoint(smd) {
            height: 3px;
            border-radius: 3px;
        }
        &.slick-active {
            background-color: $tkpd-green;
            width: 38px;
            opacity: 1;
            box-shadow: 0 0px 5px 2px rgba(255, 255, 255, .45);
        }
        & button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 5px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
            // MQ
            @include breakpoint(smd) {
                height: 3px;
            }
        }
    }
}

.last-two-wrapper {
    position: relative;
    background-image: linear-gradient(to bottom, #ffffff, #dbf9f1);
    &-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 700px; 
        background: linear-gradient(-166deg, #ffffff, #e4ffe6);
        z-index: -1;
    }
}

// Recruitement Process

.section-recruit {
    padding-bottom: 76px;
    & .container {
        position: relative;
        z-index: 1;
    }
    &__accr {
        margin-top: 64px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        width: 400px;
        height: auto;
        z-index: 0;
        transform: rotate(180deg);
        @include breakpoint(xs) {
            width: 200px;
        }
    }
    &__accl {
        margin-top: 64px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 400px;
        height: auto;
        z-index: 0;
        transform: rotate(180deg);
        @include breakpoint(xs) {
            width: 200px;
        }
    }
}

.recruit {
    &-video {
        display: inline-block;
        margin-left: -4px;
        vertical-align: middle;
        @include breakpoint(xs) {
            width: 100%;
            margin-bottom: 24px;
            margin-left: 8px;
        }
        @include breakpoint(md) {
            width: 50%;
        }
        &-img {
            position: relative;
            cursor: pointer;
            @include breakpoint(xs) {
                margin-bottom: 12px;
            }
            @include breakpoint(sm) {
                margin-bottom: 24px;
                transform-origin: 100% 100%;
                transform: scale(1.09);
            }
            &__img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
            }
            &__play {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
                max-width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0.85);
                transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            &:hover {
                & .recruit-video-img__play {
                    transform: scale(1);
                }
            }
        }
    }
    &-copy {
        display: inline-block;
        margin-left: -4px;
        vertical-align: middle;
        @include breakpoint(xs) {
            width: 100%;
            padding-left: 0;
            text-align: center;
        }
        @include breakpoint(md) {
            width: 50%;
            padding-left: 30px;
            position: relative;
            bottom: 13px;
            margin-top: -35px;
        }
        &-header {
            margin-bottom: 18px;
            &__title {
                font-family: Montserrat;
                font-weight: 800;
                @include breakpoint(xs) {
                    font-size: 20px;
                }
                @include breakpoint(sm) {
                    font-size: 30px;
                }
                @include breakpoint(md) {
                    font-size: 30px;
                }
            }
            &__line {
                width: 50px;
                height: 6px;
                background: #38bc25;
                // margin-left: auto;
                margin-right: auto;
                border-radius: 12px;
                margin-top: 8px;
                @include breakpoint(xs) {
                    margin-left: auto;
                }
            }
        }
        &__desc {
            font-family: 'Montserrat';
            font-size: 13px;
            line-height: 24px;
        }
    }
}

// ACC

.acc-tl {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    z-index: -1;
}
.acc-ml {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include breakpoint(xs) {
        display: none;
    }
    @include breakpoint(sm) {
        left: -8%;
    }
}
.acc-mr {
    position: absolute;
    top: 50%;
    right: -5%;
    z-index: -1;
    @include breakpoint(xs) {
        display: none;
    } 
}
.acc-bl {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    @include breakpoint(xs) {
        width: 40%;
        top: 35%;
    }
}

// Override 

.txt--disabled {
    opacity: .5;
}

