@import 'common/variables';
// General
body.function {
    background-color: #F8F8F8;
}

// Section Banner
.section_banner {
    background-image: url('https://ecs7.tokopedia.net/assets/images/careers/bg-landing.jpg');
    background-size: cover;
    position: relative;
    padding-top: 100px;
    padding-bottom: 85px;
    margin-top: 50px;
    height: 300px;
    // MQ
    @include breakpoint(smd) {
        padding-top: 60px;
        padding-bottom: 82px;
    }
    &::before {
        content: "";
        background: none;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
}

.list-jumbotron {
    &--business {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_marketplace.jpg') no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_marketplace_mobile.jpg') no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--finance {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_finance.jpg') no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_finance_mobile.jpg') no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--operational {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_operational.jpg') no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_operational_mobile.jpg') no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--people {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_people.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_people_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--product {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_product.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_product_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--technology {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_tech.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_tech_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--internship {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_intern.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_intern_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
}

.search-title {
    margin-bottom: 15px;
    // MQ
    @include breakpoint(smd) {
        margin-bottom: 10px;
    }
}

.search-title__hero {
    font-size: 48px;
    text-transform: capitalize;
    font-family: 'MontSerrat';
    margin-bottom: 10px;
    // MQ
    @include breakpoint(smd) {
        font-size: 20px;
    }
}

.search-title__small {
    margin: auto;
    max-width: 80%;
    // MQ
    @include breakpoint(smd) {
        max-width: 100%;
    }
}

//  Section Search
.section_search {
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    margin-top: -47.5px;
    z-index: 2;
    top: -95px;
    // MQ
    @include breakpoint(smd) {
        // top: -72px;
        transform: none;
        margin-top: -110px;
    }
}

// Fixed Search bar When Scrolled
///////////////////////////////////
.section_search.fixed {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    top: 105px;
    z-index: 3;
    box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.1);
    transition: top 0.2s ease;
    & .search-bar {
        box-shadow: none;
    }
    & .search-bar-wrapbar {
        padding: 20px 20px 18px 0;
    }
    & .buttons-wrap {
        padding: 20px 0 18px 0;
    }
    & .search-bar-thebar,
    & .search-bar-theloc {
        height: 40px;
    }
    & .search-bar-thebar-image {
        margin-top: 1px;
    }
    & .search-bar__label {
        display: none;
    }
    & .search-bar__thebar,
    & .search-bar__theloc {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }
    & .search-bar-theloc-ul,
    & .search-bar-thebar-ul {
        top: 46px;
    }
    & .btn-search,
    & .btn-view {
        padding: 8px;
        min-height: 40px;
    }
}

.search {
    &-wrap {
        position: relative;
    }
    &-bar {
        text-align: center;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }
    &-bar__want {
        margin-top: 3px;
    }
    &-bar-wrapbar {
        position: relative;
        width: 100%;
        padding: 15px 0 15px 20px;
        background-color: #FFF;
        border-radius: 3px 0 0 3px;
        // MQ
        @include breakpoint(smd) {
            padding: 20px 20px 20px 20px !important;
            border-radius: 3px 3px 0 0;
        }
        // float: left;
    }
    &-bar-wrapbar>* {
        // display: block;
        // border: none;
        // outline: none;
        // margin: 0;
        // padding: 0;
    }
    &-bar-wrapbar>input {
        padding: 9px;
        position: relative;
        float: left;
    }
    &-bar-thebar {
        width: calc(50% - 10px);
        float: left;
        position: relative;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #e0e0e0;
        margin-right: 20px;
        padding: 8.5px 15px;
        max-height: 62px;
        height: 62px;
        @include breakpoint(smd) {
            width: 70% !important;
            margin-right: 0;
            margin-bottom: 20px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        @media (max-width: 375px) {
            & {
                width: 100% !important;
            }
        }
    }
    &-bar-theloc {
        width: calc(50% - 10px);
        float: left;
        position: relative;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #e0e0e0;
        padding: 8.5px 15px;
        max-height: 62px;
        height: 62px;
        @include breakpoint(smd) {
            width: 100%;
        }
    }
    &-bar-thebar-image {
        /* float: left; */
        /* height: inherit */
        height: 100%;
        /* margin-top: 9px; */
        /* margin-right: 15px; */
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }
    &-bar-thebar-group {
        // float: left;
        // text-align: left;
        // transform: translateY(-50%);
        // top: 50%;
        // position: relative;
        // width: 80%;
        float: left;
        text-align: left;
        width: 100%;
        padding-left: calc(15px + 28px);
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    &-bar__thebar,
    &-bar__theloc {
        position: relative;
        border: none;
        outline: none;
        text-transform: capitalize;
        &::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.2);
            font-weight: 600;
        }
        &::-moz-placeholder {
            color: rgba(0, 0, 0, 0.2);
            font-weight: 600;
        }
        &:-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.2);
            font-weight: 600;
        }
        &:-moz-placeholder {
            color: rgba(0, 0, 0, 0.2);
            font-weight: 600;
        }
    }
    &-bar__theloc {
        display: block;
        width: 100%;
        background-color: transparent;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
    // Input ->
    &-bar__icon {
        vertical-align: middle;
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        // margin: 0 15px;
    }
    &-bar__label {
        // display: block;
        display: none !important;
        // height: 14px;
        margin-bottom: 3px;
        @include breakpoint(smd) {
            // height: 12px;
            margin-bottom: 3px;
        }
    }
    &-bar__thebar {
        display: block;
        width: 100%;
        background-color: transparent;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
    &-bar__theloc {
        width: 100%;
        cursor: pointer;
        background-color: transparent;
    }
    // Input <-
    // Arrow and Map Marker ->
    &-bar__thelocarrow,
    &-bar__thelocmarker {
        position: absolute;
        color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
    &-bar__thelocarrow {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    &-bar__thelocmarker {
        left: 0;
        top: 12px;
    }
    // Arrow and Map Marker <-
    // Search Bar Selection ->
    &-bar-thebar-ul {
        visibility: hidden;
        opacity: 0;
        background-color: #fff;
        border-radius: 3px;
        border: solid 1px #e0e0e0;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
        position: absolute;
        z-index: 10;
        width: 100%;
        overflow-y: hidden;
        top: 72px;
        left: 0;
        // padding: 0 15px;
        transition: all .6s cubic-bezier(.075, .82, .165, 1);
        max-height: 240px;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    &-bar-thebar__li {
        text-align: left;
        // border-bottom: 1px solid #E0E0E0;
        background-color: #FFF;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
        line-height: 1;
        // padding: 15px 0;
        cursor: pointer;
        &:hover {
            background-color: #E1E1E1;
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
    &-bar-thebar__lijob {
        display: inline-block;
        max-width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 15px;
    }
    &-bar-thebar__liwrapper {
        padding: 15px 0;
        margin: 0 15px;
        border-bottom: 1px solid #e0e0e0;
    }
    // Search Bar Selection <-
    // Location Selection ->
    &-bar-theloc-ul {
        visibility: hidden;
        opacity: 0;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #e0e0e0;
        position: absolute;
        z-index: 10;
        width: 100%;
        // overflow-y: scroll;
        top: 67px;
        left: 0;
        // padding: 0 15px;
        transition: all .6s cubic-bezier(.075, .82, .165, 1);
        max-height: 172px;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    &-bar-theloc__li {
        text-align: left;
        // border-bottom: 1px solid #E0E0E0;
        background-color: #FFF;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
        // padding: 10px;
        cursor: pointer;
        &:hover {
            background-color: #E1E1E1;
        }
        &:last-of-type {
            & div {
                border-bottom: none;
            }
        }
    }
    &-bar-theloc__liloc {
        display: inline-block;
        max-width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 15px;
        text-transform: capitalize;
    }
    &-bar-theloc__liwrapper {
        padding: 15px 0;
        margin: 0 15px;
        border-bottom: 1px solid #e0e0e0;
    }
    // Location Selection <-
    // Popular Jobs ->
    &-popular__text {
        margin-top: 10px;
    }
    &-popularlist {
        position: relative;
        z-index: 1 & a {
            text-decoration: none;
        }
        &__li {
            display: inline-block;
            color: $tkpd-white;
            padding: 3px 8px;
            background-color: rgba(255, 255, 255, 0.50);
            border-radius: 100px;
            margin-top: 10px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
    //  Popular Jobs <-
}

.btn-search {
    width: calc(100% - 40px);
    float: left;
    // margin-right: 32px;
    margin-right: 0;
    font-size: 16px;
    padding: 19px;
    min-height: 62px;
    @include breakpoint(smd) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        display: none;
    }
    @media (max-width: 375px) {
        & {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &--mobile {
        display: none;
        @include breakpoint(smd) {
            display: block;
            float: left;
            width: 30%;
            padding: 20.5px 0 !important;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        @media (max-width: 375px) {
            & {
                display: none;
            }
        }
    }
}

.btn-view {
    width: calc(100% - 32px);
    margin-left: 32px;
    font-size: 16px;
    padding: 19px;
    min-height: 62px;
    @include breakpoint(smd) {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
}

.col-search-60 {
    float: left;
    position: relative;
    // width: 60%;
    width: 80% !important;
    @include breakpoint(smd) {
        width: 100% !important;
    }
}

.col-search-40 {
    float: left;
    position: relative;
    // width: 40%;
    width: 20% !important;
    @include breakpoint(smd) {
        width: 100%;
        display: none;
    }
    @media (max-width: 375px) {
        & {
            display: block;
            width: 100% !important;
        }
    }
}

.col-search-btn,
.col-view-btn {
    float: left;
    position: relative;
    // width: 50%;
    width: 100% !important;
    margin-left: 20px;
    @include breakpoint(smd) {
        margin-left: 0;
        width: 100%;
    }
}

.buttons-wrap {
    position: relative;
    width: 100%;
    // padding: 15px 20px 15px 20px;
    padding: 15px 0 15px 0;
    background-color: #FFF;
    border-radius: 0 3px 3px 0;
    @include breakpoint(smd) {
        padding: 0 20px 0 20px;
        border-radius: 0 0 3px 3px;
    }
}

.search-or {
    background-color: #FFF;
    border: solid 1px #e0e0e0;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.38);
    font-size: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px;
    right: 0;
    left: 0;
    max-width: 24px;
    margin: auto;
    z-index: 9;
}

.search-or-line {
    width: 1px;
    height: 100%;
    background-color: #E0E0E0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 8;
    @include breakpoint(smd) {
        width: calc(100% - 40px);
        height: 1px;
        bottom: 0;
    }
}


/* ===================
 * Section Breadcrumbs 
 * =================== */

.section_crumbs {
    margin-top: 60px;
    margin-bottom: 40px;
}

.crumbs-breadcrumbs {
    float: left;
    display: block;
    font-size: 14px;
    @include breakpoint(xs) {
        float: none;
        margin-bottom: 20px;
    }
}

.crumbs-count {
    display: block;
    float: right;
    font-size: 14px;
    text-transform: capitalize;
    @include breakpoint(xs) {
        float: none;
    }
}

//  Utils
.crumbs--link {
    color: $tkpd-green;
}

.crumbs--capitalize {
    text-transform: capitalize;
}


/* ===================
 * Job List Function 
 * =================== */

.list-function {
    display: none;
    padding-bottom: 60px;
    animation: fade 1s;
    &.active {
        display: block;
    }
    &-header {
        margin-bottom: 20px;
        &__img {
            float: left;
            height: 82px;
            @include breakpoint(xs) {
                height: 62px;
            }
        }
        &-text {
            float: left;
            padding: 20px;
            @include breakpoint(xs) {
                padding: 20px 10px;
            }
        }
        &__h3 {
            font-size: 20px;
            font-weight: 600;
            color: $text-primary;
            @include breakpoint(xs) {
                font-size: 16px;
            }
        }
        &__p {
            font-size: 12px;
            color: $text-secondary;
            @include breakpoint(xs) {
                display: none;
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Job division */

.list-div {
    border-radius: 3px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    animation: fade .5s ease-out;
    &__h4 {
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
        color: rgba(0, 0, 0, 0.7);
        opacity: 0.7;
        margin-bottom: 10px;
        min-height: 48px;
        @include breakpoint(xs) {
            font-size: 14px;
            min-height: 0;
        }
    }
    &__p {
        font-size: 14px;
        color: $text-secondary;
        margin-bottom: 22px;
        line-height: 22px;
        max-height: 65px;
        overflow: hidden;
        @include breakpoint(xs) {
            display: none;
        }
    }
    &-desc {
        border-top: 1px solid #F2F2F2;
        padding-top: 20px;
    }
    &-highlight {
        // float: left;
        float: none;
        width: 100%;
        margin-bottom: 22px;
        @include breakpoint(xs) {
            display: none;
        }
        &--mobile {
            display: none;
            @include breakpoint(xs) {
                display: block;
                padding-bottom: 20px;
            }
        }
    }
    &-helper {
        margin-right: 20px;
        float: left;
        font-size: 11px;
        color: $text-secondary;
        @include breakpoint(xs) {
            margin-right: 12px;
            &:last-child {
                margin-right: 0;
            }
        }
        &:before {
            content: " ";
            position: relative;
            top: 7px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            width: 25px;
            height: 26px;
            margin-right: 3px;
        }
        &.list-div-helper--function:before {
            // background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-jobs.png');
            background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-experience.png');
        }
        &.list-div-helper--experience:before {
            background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-experience.png');
        }
        &.list-div-helper--location:before {
            background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-location-grey.png');
        }
    }
    &-action {
        // float: right;
        width: 100%;
        float: none;
        @include breakpoint(xs) {
            float: none;
            &:after,
            &:before {
                content: " ";
                display: table;
                clear: both;
                box-sizing: border-box;
            }
        }
        &-btn {
            float: none;
            width: 100%;
            // margin-bottom: 20px;
            @include breakpoint(xs) {
                float: right;
                margin-bottom: 0;
            }
            &:first-child {
                margin-bottom: 20px;
                @include breakpoint(xs) {
                    margin-bottom: 0;
                }
            }
            &__action {
                width: 100%;
                font-size: 14px;
                font-weight: 600;
                &--white {
                    font-weight: 600;
                    color: #42b549;
                    // font-size: 14px;
                    &:hover {
                        color: darken(#42b549, 10%);
                    }
                }
            }
            @include breakpoint(xs) {
                width: 50%;
                margin-right: 0;
                padding: 0 5px;
                & .btn {
                    display: block;
                }
            }
        }
    }
}


/* ========================
   === Mobile Search ===
=========================*/

.section_mobile-search {
    position: fixed;
    bottom: -100%;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    overflow: visible;
    display: block;
    transition: bottom 0.2s ease;
    &.active {
        bottom: 0;
    }
}

.search-bar-thebar-ul--m {
    @extend .search-bar-thebar-ul;
    position: relative;
    top: 0;
    border: none;
    box-shadow: none;
    max-height: 286px;
    overflow: hidden;
}

.search-bar__thebar--m {
    @extend .search-bar__thebar;
    width: auto;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    overflow: visible;
    display: inline-block;
    float: none;
    // max-height: 16px;
}

.m-searchbar {
    padding: 15px 20px;
    background-color: #FFF;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.m-searchbar-arrow {
    margin-right: 20px;
    float: none;
    display: inline-block;
    &__arrow {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

.m-searchbar-lens {
    margin-right: 5px;
    float: none;
    display: inline-block;
    &__lens {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

.m-searchcopy__copy {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #F8F8F8;
    color: rgba(0, 0, 0, 0.38);
}


/* ========================
   === Mobile Location ===
=========================*/

.section_mobile-location {
    position: fixed;
    bottom: -100%;
    z-index: 10;
    // height: 100%;
    width: 100%;
    background-color: #FFF;
    overflow: visible;
    display: block;
    transition: bottom 0.2s ease;
    &.active {
        bottom: 0;
    }
}

.search-bar-theloc-ul--m {
    @extend .search-bar-theloc-ul;
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    overflow-y: auto;
    top: 0;
    border: none;
    & li div {
        border: none;
    }
}

.m-location {
    height: auto;
}

.m-location-copy {
    border-bottom: solid 1px #E0E0E0;
    padding: 20px;
    &__copy {
        font-weight: 600;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.38);
    }
}