@import 'common/variables';
// General
body.function {
    background-color: #F8F8F8;
}

.section_search {
    @include breakpoint(smd) {
        &.fixed {
            left: 100%;
            height: 100%;
            &.show {
                left: 0;
            }
        }
    }
}

// Section Banner
.section_banner {
    background-image: url('https://ecs7.tokopedia.net/assets/images/careers/bg-landing.jpg');
    background-size: cover;
    position: relative;
    padding-top: 100px;
    padding-bottom: 85px;
    margin-top: 50px;
    height: 300px;
    // MQ
    @include breakpoint(smd) {
        padding-top: 60px;
        padding-bottom: 82px;
    }
    &::before {
        content: "";
        background: none;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
}

.list-jumbotron {
    &--business {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_marketplace.jpg') no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_marketplace_mobile.jpg') no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--finance {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_finance.jpg') no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_finance_mobile.jpg') no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--operational {
        background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_operational.jpg') no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url('https://ecs7.tokopedia.net/assets/images/careers/bg_division_operational_mobile.jpg') no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--people {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_people.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_people_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--product {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_product.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_product_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--technology {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_tech.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_tech_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
    &--internship {
        background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_intern.jpg") no-repeat #42b549 center;
        background-size: cover;
        & .list-jumbotron-text {
            position: relative;
        }
        @include breakpoint(xxs) {
            background: url("https://ecs7.tokopedia.net/assets/images/careers/bg_division_intern_mobile.jpg") no-repeat #42b549 center;
            background-size: cover;
        }
    }
}

.search-title {
    margin-bottom: 15px;
    // MQ
    @include breakpoint(smd) {
        margin-bottom: 10px;
    }
}

.search-title__hero {
    font-size: 48px;
    text-transform: capitalize;
    font-family: 'MontSerrat';
    margin-bottom: 10px;
    // MQ
    @include breakpoint(smd) {
        font-size: 20px;
    }
}

.search-title__small {
    margin: auto;
    max-width: 80%;
    // MQ
    @include breakpoint(smd) {
        max-width: 100%;
    }
}


/* ===================
 * Section Breadcrumbs 
 * =================== */

.section_crumbs {
    margin-top: 60px;
    margin-bottom: 40px;
}

.crumbs-breadcrumbs {
    float: left;
    display: block;
    font-size: 14px;
    @include breakpoint(xs) {
        float: none;
        margin-bottom: 20px;
    }
}

.crumbs-count {
    display: block;
    float: right;
    font-size: 14px;
    text-transform: capitalize;
    @include breakpoint(xs) {
        float: none;
    }
}

//  Utils
.crumbs--link {
    color: $tkpd-green;
}

.crumbs--capitalize {
    text-transform: capitalize;
}


/* ===================
 * Job List Function 
 * =================== */

 .list-function {
    display: none;
    padding-bottom: 60px;
    animation: fade 1s;
    &.active {
      display: block;
    }
    &-header {
      margin-bottom: 20px;
      margin-top: 51px;
      @include breakpoint(xs){
          margin-top:64px;
          padding-top:40px;
      }
      &__img {
        float: left;
        // height: 124px;
        width:150px;
        @include breakpoint(xs) {
          height: 140px;
          width:auto;
          display:block;
          margin: 0 auto;
          float:none;
        }
      }
      &-text {
        float: left;
        padding: 36px 20px 20px 20px;
        width:85%;
        @include breakpoint(xs) {
          padding: 10px 10px;
          width:100%;
        }
      }
      &__h3 {
        font-size: 22px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.7);
        font-family:'MontSerrat';
        @include breakpoint(xs) {
          font-size: 17px;
          text-align:center;
        }
      }
      &__p {
        font-size: 13px;
        color: $text-secondary2;
        font-family:'MontSerrat';
        line-height:24px;
        @include breakpoint(xs) {
        //   display: none;
            font-size:13px;
            margin-top:5px;
            text-align:center;
        }
      }
    }
    &__btn-more {
      // font-weight: 600;
      // color: rgba(0, 0, 0, 0.54);
      // &:hover {
      //     background-color: darken(#FFF, 10%);
      //     border: 1px solid #FFF;
      // }
    }
  }

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Job division */

.list-div {
    border-radius: 12px;
    padding: 24px;
    background-color: #ffffff;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
    animation: fade 0.5s ease-out;
    transition: margin 0.3s, box-shadow 0.3s;
    font-family:'Montserrat';
    &:hover{
      box-shadow: 0 20px 50px 0 rgba(29, 65, 98, 0.2);
      margin-top: -5px;
      margin-bottom:30px;
      
    }
    &__btn-register{
      border-radius: 20px;
      background-image: linear-gradient(100deg, #14a01d, #6dcf73);
    }
  
    hr{
        width: calc(100% + 48px);
        margin-left:-24px;
    }
    &__h4 {
      display: block;
      font-size: 17px;
      font-weight: 800;
      line-height: 1.5em;
      color: rgba(0, 0, 0, 0.7);
      // opacity: 0.7;
      margin-bottom: 10px;
      // min-height: 48px;
      height:3em;
      font-family:'Montserrat';
      @include breakpoint(xs) {
        font-size: 17px;
        min-height: 0;
      }
    }
    &__p {
      font-size: 13px;
      color: rgba(0,0,0,.5);
      margin-bottom: 16px;
      line-height: 24px;
      height: 104px;
      overflow: hidden;
      font-family: Montserrat;
      @include breakpoint(xs) {
        display: none;
      }
    }
    &-desc {
      // border-top: 1px solid #f2f2f2;
      // padding-top: 20px;
    }
    &-highlight {
      // float: left;
      float: none;
      width: 100%;
      margin-bottom: 22px;
      @include breakpoint(xs) {
        display: none;
      }
      &--mobile {
        display: none;
        @include breakpoint(xs) {
          display: block;
          padding-bottom: 12px;
          font-size:12px;
        }
      }
    }
    &-helper {
     
      float: left;
      font-size: 13px;
      color: #16a11e;
      font-family:'Montserrat';
      font-weight:600;
      & span{
          opacity:0.7;
      }
      &:nth-child(1){
          margin-right: 20px;
      }
      @include breakpoint(xs) {
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
      &:before {
        content: " ";
        position: relative;
        top: 3px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
      &.list-div-helper--function:before {
        // background-image: url('https://ecs7.tokopedia.net/assets/images/careers/ic-jobs.png');
        background-image: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/group-19.svg");
      }
      &.list-div-helper--experience:before {
        background-image: url("https://ecs7.tokopedia.net/assets/images/careers/ic-experience.png");
      }
      &.list-div-helper--location:before {
          top:5px;
        background-image: url("https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/sen-percent-loc.svg");
      }
    }
    &-action {
      // float: right;
      width: 100%;
      float: none;
      @include breakpoint(xs) {
        float: none;
        &:after,
        &:before {
          content: " ";
          display: table;
          clear: both;
          box-sizing: border-box;
        }
      }
      &-btn {
        float: none;
        width: 100%;
        // margin-bottom: 20px;
        @include breakpoint(xs) {
          float: right;
          margin-bottom: 0;
        }
        &:first-child {
          margin-bottom: 5px;
          @include breakpoint(xs) {
            margin-bottom: 0;
          }
        }
        &__action {
          width: 100%;
          font-size: 14px;
          font-weight: 600;
          &--white {
            font-weight: 600;
            color: #42b549;
            // font-size: 14px;
            &:hover {
              color: darken(#42b549, 10%);
            }
          }
        }
        @include breakpoint(xs) {
        //   width: 50%;
          margin-right: 0;
          padding: 0 5px;
          & .btn {
            display: block;
          }
        }
      }
    }
  }



.breadcrumb-container{
    margin-top:136px;
    padding:15px 0px;
    background:#fafafa;
    font-size:14px;
    z-index:4;
    position:relative;
    font-weight:600;
    &.mobile{
      display: none;
      @include breakpoint(smd){
        display: block;
        padding:10px 0;
      }
    }
    @include breakpoint(smd){
      // display: none;
    //   padding-left:20px;
    //   padding-right:20px;
    //   padding-bottom:20px;
    }
    @include breakpoint(xs){
        display:none;
    }

    & .breadcrumb-wrapper{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'Montserrat';
      @include breakpoint(smd){
        // float:none;
        // border-bottom:solid 2px #e0e0e0;
        // margin-bottom:10px;
      }
      & .job-breadcrumb{
        position: relative;
        margin-right:30px;
        color: rgba(0, 0, 0, 0.38);
        a{
            color: rgba(0, 0, 0, 0.38);
            &:hover{
              color: rgba(0,0,0,.7);
            }
          }
        @include breakpoint(max480){
          font-size:14px;
          margin-right:14px;
        }
        &::after{
          position: absolute;
          right:-20px;
          content:'\f105';
          font-family: FontAwesome;
          top:3px;
          color:#16a11e;
          @include breakpoint(max480){
            right:-13px;
          }
        }
        &:last-child::after{
          content:'';
        }
        &:last-child{
          // color:rgba(0,0,0,.78);
          color:#16a11e;
        }
      }
    }
    & .share-wrapper{
      float:right;
      transform:translateY(5px);
      line-height: 40px;
      display: none;
      @include breakpoint(smd){
        float:none;
        display: block;
      }
      @include breakpoint(max480){
        font-size:14px;
      }
    }

}

.main-careers{
    // background:#fff;
    background: linear-gradient(to top,#dbf9f1,#fff);
}

#job-list{
    position: relative;
    z-index:4;
    // background: linear-gradient(to top,#dbf9f1,#fff);
}

.list-btn-details {
  height: 40px;
  font-size: 13px !important;
  padding: 10px 48px !important;
}

.list-btn-apply {
  height: 40px;
  font-size: 13px !important;
  padding: 10px 48px !important;
}
