body {
    overflow-x: hidden;
}

.images {
    padding-top: 64px;
    text-align: left;
    float: left;
    &-wrapper {
        overflow: hidden;
        width: 100%;
        height: 350px;
    }
    & img {
        width: 200px;
        height: 250px;
        object-fit: cover;
        position: absolute;
        transform: translateX(-100%);
    }
}

.sekebon {
    border-radius: 4px;
    border-top: 1px solid #fff;
}