@import 'common/_variables';

body {
    @include breakpoint(xs) {
        overflow-x: hidden;
    }
}

.section_search {
    @include breakpoint(smd) {
        &.fixed {
            left: 100%;
            height: 100%;
            &.show {
                left: 0;
            }
        }
    }
}

// Workplace Banner
.section-workplace-banner {
    // padding-top: 138px;
    // background: url('https://ecs7.tokopedia.net/assets-tokopoints/prod/images/2018/09/header-background.png');
    background-color: #dbf9f1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &__l {
        height: 232px;
        width: 376px;
        background: url(https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/daon-kiri@2x.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        @include breakpoint(xs) {
            display: none;
        }
    }
    &__r {
        height: 235px;
        width: 289px;
        background: url(https://ecs7.tokopedia.net/microsite-production/careers/img/careers-v2/daon-kanan@2x.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        @include breakpoint(xs) {
            height: 135px;
            width: 189px;
        }
    }
}

.wb {
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    @include breakpoint(xs) {
        padding-top: 100px;
        padding-bottom: 32px;
    }
    &-header {
        text-align: center;
        margin-bottom: 15px;
        &__title {
            font-size: 30px;
            font-family: Montserrat;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.7);
            @include breakpoint(xs) {
                font-size: 22px;
            }
        }
        &__line {
            width: 50px;
            height: 6px;
            background: #38bc25;
            margin-left: auto;
            margin-right: auto;
            border-radius: 12px;
            margin-top: 8px;
        }
    }
    &__copy {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 2;
        text-align: center;
        color: rgba(0, 0, 0, 0.38);
        @include breakpoint(xs) {
            font-size: 13px;
        }
    }
}

// Teams
.section-teams {
    margin-top: 60px;
    padding-top: 64px;
}
.teams {
    &-header {
        margin-bottom: 16px;
        &__h2 {
            font-size: 30px;
            font-family: Montserrat;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.7);
            text-align: center;
            @include breakpoint(xs) {
                font-size: 22px;
            }
        }
        &__line {
            width: 50px;
            height: 6px;
            background: #38bc25;
            margin-left: auto;
            margin-right: auto;
            border-radius: 12px;
            margin-top: 8px;
        }
    }
    &__content {
        font-family: Montserrat;
        font-size: 13px;
        line-height: 2.14;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 50px;
        @include breakpoint(xs) {
            font-size: 13px;
        }
    }
    &-job {
        margin-bottom: 15px;
        margin-top: 15px;
        &-img {
            display: inline-block;
            width: calc(50% - 5px);
            vertical-align: middle;
            @include breakpoint(xs) {
                width: 100%;
                margin-bottom: 24px;
            }
            &__img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
                border-radius: 6px;
            }
        }
        &-content {
            display: inline-block;
            width: 50%;
            vertical-align: middle;
            @include breakpoint(xs) {
                width: 100%;
                text-align: center;
            }
            &__title {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 12px;
            }
            &__desc {
                margin-bottom: 15px;
                color: rgba(0, 0, 0, 0.54);
            }
            &-btn {
                &__btn {
                    @include breakpoint(xs) {
                        width: 100%;
                    }
                    @include breakpoint(sm) {
                        min-width: 120px;
                    }
                }
            }
        }
    }
}

// Life at Tokopedia
.section-life {
    // background-color: #FAFAFA;
    padding-top: 100px;
    padding-bottom: 64px;
    position: relative;
    @include breakpoint(xs) {
        padding-top: 100px;
    }
    &__acc1 {
        position: absolute;
        left: 0;
        top: 20%;
        z-index: -1;
        width: 150px;
        @include breakpoint(xs) {
            display: none;
        }
    }
    &__acc2 {
        position: absolute;
        right: 0;
        bottom: 20%;
        z-index: -1;
        width: 150px;
        @include breakpoint(xs) {
            width: 120px;
        }
    }
}

.life {
    &-video {
        display: inline-block;
        width: calc(50% - 5px);
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        @include breakpoint(xs) {
            width: 100%;
            margin-bottom: 16px;
        }
        &__thumbnail {
            border-radius: 6px;
            max-width: 100%;
            @include breakpoint(md) {
                transform-origin: 100% 0;
                // transform: scale(1.08);
            }
        }
        &__play {
            position: absolute;
            display: block;
            // margin-left: auto;
            // margin-right: auto;
            // width: 100%;
            top: 50%;
            left: 50%;
            width: 96px;
            // right: 0;
            transform: translate(-50%, -50%);
            transform-origin: center center;
            transition: width 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        &:hover {
            & .life-video__play {
                // transform: scale(1.2) translate(-50%, -50%);
                width: 110px;
            }
        }
    }
    &-content {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        float: right;
        @include breakpoint(xs) {
            width: 100%;
            text-align: center;
            position: relative;
            // bottom: 75px;
        }
        @include breakpoint(sm) {
            padding-left: 30px;
            vertical-align: top;
            padding-top: 35px;
        }
        &__title {
            font-size: 34px;
            font-weight: 800;
            font-family: Montserrat;
            color: rgba(0, 0, 0, 0.7);
            margin-bottom: 24px;
            line-height: 1.62;
            @include breakpoint(xs) {
                font-size: 22px;
                margin-bottom: 16px;
            }
            &:after {
                content: "";
                width: 50px;
                height: 6px;
                background: #38bc25;
                // margin-left: auto;
                margin-right: auto;
                border-radius: 12px;
                margin-top: 8px;
                display: block;
                @include breakpoint(xs) {
                    margin-left: auto;
                }
            }
        }
        &__desc {
            font-size: 17px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.54);
            line-height: 24px;
            // margin-bottom: 24px;
            @include breakpoint(xs) {
                font-size: 14px;
            }
        }
        &-btn {
            padding-top: 7px;
            @include breakpoint(xs) {
                display: none;
                // text-align: center;
            }
            @include breakpoint(sm) {
                display: block;
            }
            &--mobile {
                @include breakpoint(xs) {
                    display: block;
                    text-align: center;
                    & button {
                        width: 100%;
                    }
                }
                @include breakpoint(sm) {
                    display: none;
                }
            }
        }
    }
}

.section_jobs {
    @include breakpoint(xs) {
        padding: 0 !important;
    }
}

// Nakama
.section-nakama {
    // width: 100%;
    position: relative;
    z-index: 2;
    @include breakpoint(xs) {
        padding-top: 32px;
    }
    @include breakpoint(md) {
        margin-top: -100px;
    }
    &__acc2 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        @include breakpoint(xs) {
            top: 36%;
            right: -25%;
            width: 120%;
        }
    }
}

.nakama {
    &-desc {
        display: inline-block;
        margin-left: -4px;
        width: 40%;
        vertical-align: middle;
        margin-right: 50px;
        // position: relative;
        @include breakpoint(xs) {
            margin-left: 0;
            width: 100%;
            text-align: center;
            margin-right: 0;
        }
        &-header {
            margin-bottom: 18px;
            &__title {
                font-size: 34px;
                font-family: Montserrat;
                font-weight: 800;
                color: rgba(0, 0, 0, 0.7);
                @include breakpoint(xs) {
                    font-size: 22px;
                }
            }
            &__line {
                width: 50px;
                height: 6px;
                background: #38bc25;
                // margin-left: auto;
                margin-right: auto;
                border-radius: 12px;
                margin-top: 8px;
                @include breakpoint(xs) {
                    margin-left: auto;
                }
            }
        }
        &__desc {
            font-family: Montserrat;
            font-size: 13px;
            line-height: 24px;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.5);
            @include breakpoint(xs) {
                font-size: 13px;
            }
        }
    }
    &-img {
        display: inline-block;
        margin-left: -4px;
        width: 50%;
        height: 500px;
        vertical-align: middle;
        position: relative;
        @include breakpoint(xs) {
            width: 100%;
            margin-left: 0;
        }
        &-ct {
            position: absolute;
            width: 130px;
            height: 130px;
            padding: 10px;
            border-radius: 50%;
            background-color: #FFF;
            box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
            overflow: hidden;
            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
            &:nth-of-type(1) {
                left: 0;
                top: 20%;
                width: 150px;
                height: 150px;
                @include breakpoint(xs) {
                    width: 135px;
                    height: 135px;
                }
            }
            &:nth-of-type(2) {
                right: 13%;
                top: 6%;
                @include breakpoint(xs) {
                    width: 120px;
                    height: 120px;
                }
            }
            &:nth-of-type(3) {
                left: 10%;
                bottom: 0;
                width: 120px;
                height: 120px;
                @include breakpoint(xs) {
                    width: 100px;
                    height: 100px;
                    bottom: 20%;
                    left: -1%;
                }
            }
            &:nth-of-type(4) {
                right: 0;
                bottom: 0;
                @include breakpoint(xs) {
                    width: 100px;
                    height: 100px;
                    bottom: 40%;
                }
            }
            &:nth-of-type(5) {
                top: 50%;
                left: 42%;
                width: 100px;
                height: 100px;
                @include breakpoint(xs) {
                    width: 80px;
                    height: 80px;
                    left: 34%;
                }
            }
            &:nth-of-type(6) {
                top: 40%;
                right: -24%;
                width: 140px;
                height: 140px;
                @include breakpoint(xs) {
                    right: 0;
                    width: 100px;
                    height: 100px;
                    display: none;
                }
            }
        }
        &__acc1 {
            position: absolute;
            top: 29%;
            right: 50%;
            @include breakpoint(xs) {
                display: none;
            }
        }
        &__acc2 {
            position: absolute;
            top: 0%;
            right: 0;
            max-width: 30px;
            height: auto;
            @include breakpoint(xs) {
                display: none;
            }
        }
        &__acc3 {
            position: absolute;
            top: 20%;
            right: 0;
        }
        &__acc4 {
            position: absolute;
            left: 22%;
            bottom: 8%;
            @include breakpoint(xs) {
                display: none;
            }
        }
    }
}

// Class 
.section-class {
    padding-top: 250px;
    padding-bottom: 100px;
    position: relative;
    @include breakpoint(xs) {
        padding-top: 0;
        padding-bottom: 64px;
    }
    &__acc1 {
        position: absolute;
        top: -2%;
        left: 0;
        z-index: 1;
        @include breakpoint(xs) {
            top: 28%;
            display: none;
        }
    }
    &__acc2 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
    & .container {
        @include breakpoint(xs) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.class {
    &-desc {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(xs) {
            width: 100%;
            text-align: center;
            margin-bottom: 16px;
            padding-left: 15px;
            padding-right: 15px;
        }
        @include breakpoint(sm) {
            text-align: center;
            margin-bottom: 16px;
        }
        @include breakpoint(md) {
            width: 40%;
            float: right;
            margin-top: 90px;
            text-align: left;
            padding-left: 30px;
        }
        &__title {
            margin-bottom: 17px;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.7);
            position: relative;
            @include breakpoint(xs) {
                font-size: 22px;
            }
            &:after {
                content: "";
                width: 50px;
                height: 6px;
                background: #38bc25;
                // margin-left: auto;
                margin-right: auto;
                border-radius: 12px;
                margin-top: 8px;
                display: block;
                @include breakpoint(xs) {
                    margin-left: auto;
                }
            }
        }
        &__desc {
            font-family: Montserrat;
            font-size: 13px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.5);
            @include breakpoint(xs) {
                font-size: 13px;
            }
        }
    }
    &-images {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(xs) {
            width: 100%;
            text-align: center;
            margin-bottom: 16px;
        }
        @include breakpoint(md) {
            width: calc(60% - 5px);
        }
        &-overlay {
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            display: block;
            transition: all 0.5s ease;
            @include breakpoint(xs) {
                display: none;
            }
            &-ct {
                position: relative;
                transition: all 0.35s ease;
                height: 100%;
                transform: none;
                &__h3 {
                    color: #FFF;
                    // margin: 4px 0;
                    font-family: Montserrat;
                    font-size: 17px;
                    margin-bottom: 8px;
                    display: none;
                }
                &__div {
                    display: inline-block;
                    // margin: 4px 0;
                    color: #FFF;
                    padding: 2px 16px;
                    background-color: rgba(255, 255, 255, 0.4);
                    border: solid 1px #e2e2e2;
                    border-radius: 25px;
                    font-family: Montserrat;
                    font-size: 13px;
                    text-transform: capitalize;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    &:before {
                        content: '';
                        display: inline-block;
                        background: url('https://ecs7.tokopedia.net/assets/images/careers/eyes-white--correct.svg');
                        width: 24px;
                        height: 24px;
                        vertical-align: middle;
                        background-size: 20px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        &-wrapper {
            margin-top: 15px;
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;
            transition: transform 0.35s ease, box-shadow 0.35s ease;
            border-radius: 12px;
            overflow: hidden;
            @include breakpoint(xs) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            &:hover {
                // transform: translateY(-8px);
                // box-shadow: 0 30px 50px 0 rgba(29, 65, 98, 0.2);
                & .class-images-overlay {
                    transition: all 0.35s ease;
                    opacity: 1;
                    visibility: visible;
                    z-index: 10;
                    .class-images-overlay-ct {
                        // transform: translateY(-50%);
                        transition: all 0.35s ease;
                    }
                }
                & .class-images__img {
                    @include breakpoint(md) {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &__img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            border-radius: 12px;
            height: 150px;
            object-fit: cover;
            transition: transform 0.4s ease, box-shadow 0.4s ease, margin 0.4s ease;
            @include breakpoint(xs) {
                // margin-bottom: 8px;
                width: 100%;
                margin: 30px auto;
            }
            @include breakpoint(sm) {
                width: 100%;
                // margin-bottom: 8px;
            }
            @include breakpoint(md) {
                margin-bottom: 0;
            }
        }
        &__caption {
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 800;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.7);
            text-align: left;
            @include breakpoint(xs) {
                margin-top: -20px;
                font-size: 15px;
            }
        }
    }
}

// Sport
.section-sport {
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
    @include breakpoint(xs) {
        padding-top: 0;
        padding-bottom: 32px;
    }
    &__acc1 {
        position: absolute;
        bottom: -35%;
        right: 0;
        z-index: 1;
        @include breakpoint(xs) {
            display: none;
        }
    }
    & .container {
        @include breakpoint(xs) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.sport {
    &-desc {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(xs) {
            width: 100%;
            text-align: center;
            margin-bottom: 16px;
            padding-right: 15px;
            padding-left: 15px;
        }
        @include breakpoint(sm) {
            width: 100%;
            text-align: center;
            margin-bottom: 16px;
        }
        @include breakpoint(md) {
            width: 40%;
            text-align: left;
            padding-right: 30px;
        }
        &__title {
            margin-bottom: 17px;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.7);
            position: relative;
            @include breakpoint(xs) {
                font-size: 22px;
            }
            &:after {
                content: "";
                width: 50px;
                height: 6px;
                background: #38bc25;
                // margin-left: auto;
                margin-right: auto;
                border-radius: 12px;
                margin-top: 8px;
                display: block;
                @include breakpoint(xs) {
                    margin-left: auto;
                }
            }
        }
        &__desc {
            font-family: Montserrat;
            font-size: 13px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.5);
            @include breakpoint(xs) {
                font-size: 13px;
            }
        }
    }
    &-images {
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(xs) {
            width: 100%;
        }
        @include breakpoint(sm) {
            width: 100%;
        }
        @include breakpoint(md) {
            width: calc(60% - 5px);
        }
        &-overlay {
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            display: block;
            transition: all 0.5s ease;
            @include breakpoint(xs) {
                display: none;
            }
            &-ct {
                position: relative;
                transition: all 0.35s ease;
                height: 100%;
                transform: none;
                &__h3 {
                    color: #FFF;
                    margin: 4px 0;
                    font-family: Montserrat;
                    font-size: 20px;
                    display: none;
                }
                &__div {
                    display: inline-block;
                    // margin: 4px 0;
                    color: #FFF;
                    padding: 2px 16px;
                    background-color: rgba(255, 255, 255, 0.4);
                    border: solid 1px #e2e2e2;
                    border-radius: 25px;
                    font-family: Montserrat;
                    font-size: 13px;
                    text-transform: capitalize;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    &:before {
                        content: '';
                        display: inline-block;
                        background: url('https://ecs7.tokopedia.net/assets/images/careers/eyes-white--correct.svg');
                        width: 24px;
                        height: 24px;
                        vertical-align: middle;
                        background-size: 20px;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        &-wrapper {
            margin-top: 15px;
            margin-bottom: 15px;
            position: relative;
            transition: transform 0.5s ease, box-shadow 0.5s ease;
            border-radius: 12px;
            overflow: hidden;
            @include breakpoint(xs) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            &:hover {
                // transform: translateY(-8px);
                // box-shadow: 0 30px 50px 0 rgba(29, 65, 98, 0.2);
                & .sport-images-overlay {
                    transition: all 0.35s ease;
                    opacity: 1;
                    visibility: visible;
                    z-index: 10;
                    .sport-images-overlay-ct {
                        // transform: translateY(-50%);
                        transition: all 0.35s ease;
                    }
                }
                & .sport-images__img {
                    @include breakpoint(md) {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &__img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            border-radius: 12px;
            height: 150px;
            object-fit: cover;
            transition: transform 0.35s ease, box-shadow 0.35s ease;
            @include breakpoint(xs) {
                margin-top: 30px;
                margin-bottom: 30px;
                width: 100%;
            }
            @include breakpoint(sm) {
                // margin-bottom: 8px;
                width: 100%;
            }
        }
        &__caption {
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 800;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.7);
            text-align: left;
            @include breakpoint(xs) {
                margin-top: -20px;
                font-size: 15px;
            }
        }
    }
}

// Internal Event
.section-internal {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom,#fff,#dbf9f1);;
    background-size: cover;
    position: relative;
    @include breakpoint(xs) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &__accr {
        margin-top: 64px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
        width: 400px;
        height: auto;
        z-index: 0;
        transform: rotate(180deg);
        @include breakpoint(xs) {
            width: 200px;
        }
    }
    &__accl {
        margin-top: 64px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 400px;
        height: auto;
        z-index: 0;
        transform: rotate(180deg);
        @include breakpoint(xs) {
            width: 200px;
        }
    }
    
    & .container {
        @include breakpoint(xs) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.internal {
    &-header {
        margin-bottom: 32px;
        text-align: center;
        &__title {
            margin-bottom: 17px;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.7);
            position: relative;
            @include breakpoint(xs) {
                font-size: 22px;
            }
            &:after {
                content: "";
                width: 50px;
                height: 6px;
                background: #38bc25;
                margin-left: auto;
                margin-right: auto;
                border-radius: 12px;
                margin-top: 8px;
                display: block;
            }
        }
        &__desc {
            font-family: Montserrat;
            font-size: 13px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.5);
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(xs) {
                width: 100%;
                font-size: 13px;
            }
            @include breakpoint(sm) {
                width: 100%;
            }
            @include breakpoint(md) {
                width: 50%;
            }
        }
    }
    &-content {
        &-wrapper {
            padding-top: 15px;
            padding-bottom: 15px;
            @include breakpoint(xs) {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            &__img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
            }
        }
    }
}

.ievent {
    &-box {
        border-radius: 12px;
        background-color: #FFF;
        box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 32px;
        overflow: hidden;
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        @include breakpoint(md) {
            // padding: 30px 32px;
        }
        &--hovered {
            box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.2);
            transform: translateY(-5%);
        }
        &-img {
            margin-bottom: 32px;
            width: 120%;
            height: 225px;
            position: relative;
            transform: translateX(-50%);
            left: 50%;
            overflow: hidden;
            // border-radius: 0 0 50% 50%;
            &__img {
                display: block;
                width: 100%;
                height: auto;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                min-height: 280px;
                object-fit: cover;
            }
        }
        &-ct {
            margin-bottom: 32px;
            padding-left: 30px;
            padding-right: 30px;
            &__title {
                font-family: Montserrat;
                font-weight: 800;
                margin-bottom: 8px;
                min-height: 2.2em;
                max-height: 2.2em;
                overflow: hidden;
                line-height: 1.1;
                @include breakpoint(md) {
                    font-size: 20px;
                }
            }
            &__date {
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 700;
                line-height: 2;
                color: #16a11e;
                margin-bottom: 32px;
            }
            &__desc {
                font-family: Montserrat;
                // font-size: 14px;
                font-weight: 400;
                line-height: 2;
                color: rgba(0, 0, 0, 0.38);
                height: 6em;
                position: relative;
                overflow: hidden;
                &:after {
                    content: "";
                    text-align: right;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 40%;
                    height: 2em;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
                }
                @include breakpoint(md) {
                    font-size: 14px;
                }
            }
        }
        &-btn {
            padding-bottom: 32px;
            padding-left: 30px;
            padding-right: 30px;
            &__btn1 {
                width: 100%;
                margin-bottom: 8px;
            }
            &__btn2 {
                width: 100%;
            }
        }
    }
    &-more {
        &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            background-color: #19a321;
            @include breakpoint(xs) {
                width: 30%;
            }
            @include breakpoint(sm) {
                width: 40%;
            }
            @include breakpoint(md) {
                width: 40%;
            }
        }
        &:after {
            content: "";
            display: inline-block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            background-color: #19a321;
            @include breakpoint(xs) {
                width: 30%;
            }
            @include breakpoint(sm) {
                width: 40%;
            }
            @include breakpoint(md) {
                width: 40%;
            }
        }
        &__btn {
            @include breakpoint(xs) {
                width: calc(40% - 9px);
            }
            @include breakpoint(sm) {
                width: calc(20% - 9px);
            }
            @include breakpoint(md) {
                width: calc(20% - 9px);
            }
        }
    }
    &-wrapper {
        transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &-ext {
        display: none;
    }
}

.sport, .internal,
.class {
    position: relative;
    z-index: 3;
}

.nakamanimate {
    animation: nakama 5s infinite;
}

@keyframes nakama {
    0% {transform: translate(0, 0);}
    45% {transform: translate(0, -5px);}
    75% {transform: translate(0, 5px);}
    100% {transform: translate(0, 0);}
}

// Slick Overrides

.slick-center img {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px 0 rgba(29,65,98,.2);
    // margin: 30px auto;
    // margin-bottom: 30px;
}

/* ========================
   === Section Jobs ===
=========================*/

.section_jobs {
    padding: 60px 0;
    font-family: Montserrat;
    @include breakpoint(xxs) {
        padding: 40px 0;
    }
}

.jobs-title {
    &__title1 {
        margin-bottom: 15px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.38);
        font-weight: 600;
        text-transform: capitalize;
    }
    &__title2 {
        margin-bottom: 60px;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 600;
        // MQ
        @include breakpoint(smd) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}

.floater-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
    @include breakpoint(smd) {
        margin-bottom: 20px;
    }
}

.floater {
    float: left;
    // width: 33.3333333333%;
    width: 25%;
    display: block;
    position: relative;
    height: 263px;
    overflow: visible;
    width: 33.3333333333333333333%;
    // MQ
    @include breakpoint(xs) {
        // width: 33.33333333333333%;
        width: 50%;
    }
    @include breakpoint(smd) {
        // height: 160px;
        height: 175px;
    }
    @include breakpoint(max350) {
        height: 150px;
    }
}

.jobs-item {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all 0.1s ease;
    left: 0;
    width: 100%;
    height: 263px;
    background-color: #FFF;
    border: solid 1px #f0eeee;
    z-index: 1;
    &-content {
        &__title {
            font-size: 20px;
            font-weight: 800;
            color: rgba(0, 0, 0, 0.7);
        }
        &__body {
            font-size: 14px;
            line-height: 2;
        }
    }
    // MQ
    @include breakpoint(smd) {
        padding-bottom: 20px;
        padding-top: 20px;
        height: auto;
        border: solid 1px #e0e0e0;
    }
    @include breakpoint(md) {
        &:hover {
            position: relative;
            border-radius: 12px;
            background-color: #ffffff;
            // box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 30px 50px 0 rgba(29, 65, 98, 0.2);
            transform: scale(1.025);
            border: none;
            z-index: 10;
            height: auto;
            & .jobs-item-content .jobs-item-content__body {
                display: block;
            }
            & .jobs-item-flag {
                display: block;
            }
        }
    }
}

.jobs-item-link {
    &__link {
        color: $tkpd-green;
        &:hover {
            color: darken($tkpd-green, 10%);
        }
        &--disabled {
            color: rgba(0, 0, 0, 0.38);
            cursor: default;
            &:hover {
                color: rgba(0, 0, 0, 0.38);
                cursor: default;
            }
        }
    }
}

.floater7 {
    float: none;
    margin: auto;
}

.ji1 {
    // border: none;
    border-left: none;
    border-top: none;
    transform-origin: 50% 50%;
    @include breakpoint(xs) {
        border-right: solid 1px #f0eeee;
        border: none !important;
    }
}

.ji2 {
    border-top: none;
    border-left: none;
    // border-bottom: none;
    transform-origin: 50% 50%;
    @include breakpoint(xs) {
        border-left: solid 1px #f0eeee;
        border-right: solid 1px #f0eeee;
        border: none !important;
    }
}

.ji3 {
    // border: none;
    border-top: none;
    border-left: none;
    transform-origin: 50% 50%;
    @include breakpoint(xs) {
        border-right: none;
        border-left: none;
        border: none !important;
    }
}

.ji4 {
    border-left: none;
    // border-right: none;
    border-top: none;
    transform-origin: 50% 50%;
    @include breakpoint(xs) {
        border-top: solid 1px #f0eeee;
        border-bottom: solid 1px #f0eeee;
        border: none !important;
    }
}

.ji5 {
    transform-origin: 50% 50%;
    // 
    border-top: none;
    border-bottom: none;
    border-left: none;
    @include breakpoint(xs) {
        border: solid 1px #f0eeee;
        border-bottom: none;
        border: none !important;
    }
}

.ji6 {
    border-top: none;
    border-left: none;
    // border-right: none;
    border-bottom: none;
    transform-origin: 50% 50%;
    @include breakpoint(xs) {
        border-top: solid 1px #f0eeee;
        border-right: none;
        border: none !important;
    }
}

.ji7 {
    border-bottom: none;
    border-top: none;
    border-left: none;
    transform-origin: 50% 50%;
    z-index: 0;
    @include breakpoint(xs) {
        border-top: solid 1px #f0eeee;
        border-right: solid 1px #f0eeee;
        border: none !important;
        // width: 116px;
    }
}

.jobs-item-flag {
    position: relative;
    display: none;
    top: 0;
    left: 20px;
}

.jobs-item-image {
    width: 140px;
    height: 130px;
    margin: auto;
    // MQ
    @include breakpoint(smd) {
        width: 100%;
        // height: 70px;
        height: 100px;
        margin: auto;

    }
    @include breakpoint(max350) {
        width: 100%;
        height: 60px;
        margin: auto;
    }
    &__image {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // MQ
        @include breakpoint(smd) {
            // height: 70px;
            height: 100px;
        }
        @include breakpoint(max350) {
            height: 60px;
        }
    }
}

.jobs-item-content {
    &__title {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px;
        // MQ
        @include breakpoint(smd) {
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }
    &__body {
        display: none;
        margin: auto;
        max-width: 250px;
        font-size: 13px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.45);
        margin-bottom: 20px;
    }
}

// Utils
.col--centered {
    float: none;
    margin: 0 auto;
}

.pr0 {
    padding-right: 0;
}

.pl0 {
    padding-left: 0;
}

.jobs-box {
    border: 1px solid #E0E0E0;
    margin-bottom: 25px;
}

.jobs-box-top {
    position: relative;
    padding: 15px;
}

.jobs-box-top-jobimg {
    font-size: 100px;
    &__image {
        vertical-align: middle;
    }
}

.jobs-box-bottom {
    padding: 15px;
    &__jobcat {
        margin-bottom: 10px;
    }
    &__flag {
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.38);
    }
}

.jobs-box-bottom-roles {
    &__count:before {
        content: "●";
        display: inline;
        margin-right: 7px;
        margin-left: 7px;
    }
}