@import "./_variables";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0,0,0,.18);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0,0,0,.18);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(0,0,0,.18);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(0,0,0,.18);
  }

ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
}

html {
    height: 100%;
}
body {
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    padding: 0;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.wrap {
    margin-top: 50px;
    flex: 1;
}
a {
    color: #42B549;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.site-overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.75);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    &--ham {
        @extend .site-overlay;
        @include breakpoint(smd) { 
            top: 60px;
            background-color: rgba(255, 255, 255, 0.75);
        }
        
        z-index: 1000;
        &.active {
            display: block;
        }
    }
    &.active {
        visibility: visible;
        opacity: 1;
    }
}
