// Glyphicons font path
$icon-font-path: "../fonts/";
// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
// Colors
$brand-primary: #27ae60;
// Colors
$tkpd-green: #42B549;
$tkpd-orange: #FF5722;
$tkpd-black: #000;
$tkpd-black-trans: rgba(0, 0, 0, 0.54);
$tkpd-white: #FFF;
// Typography
$text-primary: rgba(0, 0, 0, 0.7);
$text-secondary: rgba(0, 0, 0, 0.54);
$text-secondary2: rgba(0, 0, 0, 0.45);
$text-disabled: rgba(0, 0, 0, 0.38);
// Mixin Breakpoints - Bootstrap Values
@mixin breakpoint($class) {
    @if $class==320 {
        @media (max-width: 320px) {
            @content;
        }
    }
    @else if $class==max350 {
        @media (max-width: 350px) {
            @content;
        }
    }
    @else if $class==max480 {
        @media (max-width: 480px) {
            @content;
        }
    }
    @else if $class==min480 {
        @media (min-width: 480px) {
            @content;
        }
    }
    @else if $class==xxs {
        @media (max-width: 500px) {
            @content;
        }
    }
    @else if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $class==sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $class==smd {
        @media (max-width: 992px) {
            @content;
        }
    }
    @else if $class==md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $class==max1200 {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else if $class==hd {
        @media (min-width: 1440px) {
            @content;
        }
    }
    @else if $class==fullhd {
        @media (min-width: 1441px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}