.breadcrumb-wrapper {
    background-color: #FFF;
    position: relative;
    z-index: 1;
    &.margin {
        // margin-top: 141px;
    }
    &--transparent {
        background-color: transparent;
    }
    @include breakpoint(xs) {
        display: none;
    }
}

.careers-breadcrumb {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 2;
    color: rgba(0, 0, 0, 0.38);
    background-color: #F7F7F7;
    border-radius: 9999px;
    @include breakpoint(xs) {
        display: none;
    }
    & a {
        color: rgba(0, 0, 0, 0.38);
        & div {
            position: relative;
            display: inline-block;
            margin-right: 15px;
            margin-left: 15px;
            &:after {
                content: "";
                display: inline-block;
                background: url(https://ecs7.tokopedia.net/assets/images/careers/careers-breadcrumb-arrow.svg) no-repeat;
                width: 12px;
                height: 12px;
                background-size: 11px 11px;
                background-position: center;
                margin-bottom: 1px;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -23px;
            }
        }
        &:first-of-type {
            & div {
                // margin-left: 0;
                // margin-left: 24px;
                // margin-top: 7px;
            }
        }
        &:last-of-type {
            & div {
                color: #16a11e;
                &:after {
                    display: none;
                }
            }
        }
        &:hover {
            color: #16a11e;
        }
    }
    &.careers-breadcrumb--padding {
        margin-top: 141px;
        padding-bottom: 6px;
        padding-top: 6px;
    }
    &.careers-breadcrumb--nopadding {
        padding-bottom: 6px;
        padding-top: 6px;
    }
}