.btn-tkpd {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize;
}

.btn--orange {
    background-color: #FF5722;
    color: #FFF;
    border: 1px solid #FF5722;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: #EF430C;
        border: 1px solid #EF430C;
        color: #FFF;
    }
    &:focus {
        color: #FFF;
        text-decoration: none;
    }
}

.btn--orange-streak {
    background-image: linear-gradient(283deg, #ff9047, #ff5722);
    box-shadow: 0 13px 20px 0 rgba(255, 87, 34, 0.3);
    border-radius: 4px;
    color: #FFF;
    border: none;
    transition: all 0.2s ease;
    &:hover {
        background-image: linear-gradient(283deg, darken(#ff9047, 10%), darken(#ff5722, 10%));
        border: none;
        color: #FFF;
    }
    &:focus {
        color: #FFF;
        text-decoration: none;
    }
}

.btn--green {
    background-color: #42B549;
    color: #FFF;
    border: 1px solid #42B549;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: #4FA149;
        border: 1px solid #4FA149;
        color: #FFF;
    }
    &:focus {
        color: #FFF;
        text-decoration: none;
    }
}

.btn--green-streak {
    background-image: linear-gradient(103deg, #42b549, #6dcf73);
    box-shadow: 0 7px 25px 0 rgba(66, 181, 73, 0.2);
    border-radius: 4px;
    color: #FFF;
    border: none;
    transition: all 0.2s ease;
    &:hover {
        background-image: linear-gradient(103deg, darken(#42b549, 10%), darken(#6dcf73, 10%));
        border: none;
        color: #FFF;
    }
    &:focus {
        color: #FFF;
        text-decoration: none;
    }
}

.btn--ghost {
    background-color: #FFF;
    color: rgba(0, 0, 0, 0.54);
    border: 1px solid #E0E0E0;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: #F5F5F5;
        border: 1px solid #F5F5F5;
        color: rgba(0, 0, 0, 0.54);
    }
    &:focus {
        color:rgba(0, 0, 0, 0.54);
        text-decoration: none;
    }
}

.btn--ghost-green {
    background-color: #FFF;
    color: #42B549;
    border: 1px solid #42B549;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: #42B549;
        border: 1px solid #42B549;
        color: #FFF;
    }
    &:focus {
        color: #FFF;
        text-decoration: none;
    }
}

.btn--disabled {
    background-color: #E0E0E0;
    color: rgba(0, 0, 0, .26);
    border: 1px solid #E0E0E0;
    cursor: not-allowed;
    &:hover {
        color: rgba(0, 0, 0, .26); 
    }
    &:focus {
        color: rgba(0, 0, 0, .26);
        text-decoration: none;
    }
}

.btn--small {
    font-size: 11px;
    padding: 6.5px;
}

.btn--medium {
    font-size: 13px;
    padding: 10px;
}

.btn--big {
    font-size: 14px;
    padding: 15px;
}

.btn--big-streak {
    font-size: 14px;
    padding: 15px;
    line-height: 22px;
    min-width: 220px;
}

.btn--block {
    display: block;
    width: 100%;
}