.modal--comm-overlay {
    display: block;
    position: fixed;
    background-color: rgba(0 , 0, 0, .7);
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.modal--comm {
    background-color: #fff;
    border-radius: 12px;
    // overflow: hidden;
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    &.active {
        transform: translateY(-50%) scale(1);
        opacity: 1;
        visibility: visible;
        // transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        @include breakpoint(xs) {
                display: flex;
                // flex-direction: column-reverse;
                flex-direction: column;
                width: 90%;
                height: 90%;
        }
        @include breakpoint(sm) {
                display: table;
                width: 90%;
        }
        @include breakpoint(md) {
                display: table;
                width: 100%;
        }
    }
    &-left {
        // float: left;
        @include breakpoint(xs) {
            width: 100%;
            // height: 50%;
            overflow: hidden;
            flex: 1;
        }
        @include breakpoint(sm) {
            display: table-cell;
            // width: 75%;
            width: 70%;
            vertical-align: top;
        }
    }
    &-right {
        // float: left;
        overflow: hidden;
        position: relative;
        @include breakpoint(xs) {
            // height: 100%;
            width: 100%;
            border-left: none;
            // border-bottom: 1px solid #ececec;
            margin-bottom: 12px;
            overflow: auto;
            // flex: 1;
        }
        @include breakpoint(sm) {
            display: table-cell;
            // width: 25%;
            width: 30%;
            vertical-align: top;
            border-left: solid 1px #ececec;
        }
        &-img {
            border-radius: 0 12px 0 0;
            // max-width: 280px;
            // height: 350px;
            overflow: hidden;
            // margin-top: -1px;
            margin-right: -1px;
            margin-top: 15px;
            // margin-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            @include breakpoint(xs) {
                height: 150px;
                margin-top: 0;
                margin-right: 0;
                max-width: 100%;
                display: none;
            }
            &__img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: auto;
                transform: translateX(-50%);
                position: relative;
                left: 50%;
                @include breakpoint(xs) {
                    width: 100%;
                    border-radius: 12px 12px 0 0;
                }
            }
        }
    }
    &-lc {
        max-height: 500px;
        overflow: auto;
        position: relative;
        @include breakpoint(xs) {
            // padding-left: 15px;
            // padding-right: 15px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 15px;
        }
        @include breakpoint(sm) {
            padding: 32px 16px 32px 32px;
        }
        @include breakpoint(md) {
            // padding: 32px 32px 32px 62px;
            padding: 32px;
        }
        & h2 {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 800;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.7);
            margin-bottom: 8px;
            @include breakpoint(xs) {
                font-size: 16px;
            }
            @include breakpoint(sm) {
                font-size: 20px;
            }
            @include breakpoint(md) {
                font-size: 20px;
            }
        }
        & p {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 2;
            color: rgba(0, 0, 0, 0.54);
            margin-bottom: 32px;
        }
        &:after {
            content: "";
            position: fixed;
            bottom: 0;
            left: 0;
            height: 4em;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
            border-radius: 0 0 12px 12px;
            @include breakpoint(xs) {
                width: 100%;
            }
            @include breakpoint(sm) {
                width: 75%;
            }
        }
    }
    &-rc {
        text-align: center;
        width: 100%;
        position: relative;
        overflow: hidden;
        @include breakpoint(xs) {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 15px;
            padding-top: 24px;
        }
        @include breakpoint(sm) {
            padding: 0 15px 46px 15px;
        }
        @include breakpoint(md) {
            padding: 0 32px 46px 32px;
        }
        &__title {
            text-align: left;
            font-family: 'Montserrat';
            font-weight: 700;
            margin-bottom: 8px;
            color: rgba(32, 30, 30, 0.7);
            @include breakpoint(xs) {
                font-size: 17px;
            }
            @include breakpoint(sm) {
                font-size: 17px;
            }
            @include breakpoint(md) {
                font-size: 17px;
            }
        }
        &__date {
            text-align: left;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 700;
            line-height: 2;
            color: #16a11e;
            margin-bottom: 17px;
            &.passed {
                color: rgba(0, 0, 0, 0.38);
            }
        }
    }
    &__closebtn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: -15px;
        right: -15px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 7px 25px 0 rgba(0,0,0,.05);
        @include breakpoint(xs) {
            width: 30px;
            height: 30px;
            top: -10px;
            right: -10px;
            padding: 8px;
            cursor: pointer;
        }
    }
    &-separator {
        width: 2px;
        height: 999999%;
        background: #ececec;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.modal--video {
    background-color: #fff;
    // border-radius: 12px;
    padding: 0;
    // overflow: hidden;
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) scale(0.8);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: transparent;
    visibility: hidden;
    opacity: 0;
    @include breakpoint(xs) {
        width: 85%;
    }
    @include breakpoint(sm) {
        width: 90%;
    }
    @include breakpoint(md) {
        width: 100%;
    }
    &.active {
        transform: translateY(-50%) scale(1);
        opacity: 1;
        visibility: visible;
    }
    & video {
        width: 100%;
        height: auto;
        // border-radius: 12px;
    }
    & iframe {
        display: block;
        margin: auto;
    }
    &__closebtn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: -15px;
        right: -15px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 7px 25px rgba(0,0,0, 0.1);
    }
}