.fa-angle-times::before {
    content: "\F105\F104";
    letter-spacing: -0.15em;
}

.tkpd-overlay{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background:black;
  transition: all .3s ease;
  opacity:0;
  visibility: hidden;
  &.active{
  opacity: .7;
  visibility: visible;
  }
}

.tkpd-modal{
  position: fixed;
  background: #fff;
  z-index: 99;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  padding:30px 40px;
  border-radius:9px;
  border:2px solid rgba(0,0,0,.3);
  transition: all .3s ease;
  opacity: 0;
  text-align: center;
  @include breakpoint(max480) {
    width: 100%;
    padding: 40px 10px 20px 10px;
  }
  & iframe {
    @include breakpoint(max350) {
      max-width: 240px;
    }
  }
  &.active{
    transform:translate(-50%,-50%) scale(1);
    opacity: 1;
  }
  & .tkpd-close{
    position: absolute;
    top:10px;
    right:10px;
    border-radius: 50%;
    border:2px solid #42b549;
    height: 30px;
    text-align: center;
    width: 30px;
    cursor:pointer;
    & i{
      line-height: 25px;
      color: #42b549;
      font-size:20px;
      transform:translateX(-2px);
    }
  }
}

.tkpd-modal h2{
  color:rgba(0,0,0,.7);
  margin:10px 0 20px 0;
}

.tkpd-modal p{
  color:rgba(0,0,0,.52);
}
