// Search
.search-title {
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    text-align: center;
    // MQ
    @include breakpoint(smd) {
        margin-bottom: 10px;
    }
}

.search-title__hero {
    font-family: "Montserrat";
    font-size: 48px;
    margin-bottom: 10px;
    // MQ
    @include breakpoint(smd) {
        font-size: 20px;
    }
}

.search-title__small {
    max-width: 50%;
    margin: auto;
    // MQ
    @include breakpoint(smd) {
        max-width: 100%;
    }
}

//  Section Search
.section_search {
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
    margin-top: -47.5px;
    z-index: 2;
    top: -95px;
    // MQ
    @include breakpoint(smd) {
        // top: -72px;
        transform: none;
        // margin-top: -72px;
    }
    &-header {
        padding-top: 40px;
        @include breakpoint(md) {
            display: none;
        }
        &__title {
            font-size: 22px;
            text-align: center;
            font-weight: 800;
            padding: 0 16px;
            &:after {
                content: "";
                display: block;
                width: 30px;
                height: 6px;
                border-radius: 999px;
                background: #38bc25;
                margin: 6px auto 10px auto;
            }
        }
        &__copy {
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.85;
            text-align: center;
            color: rgba(0, 0, 0, 0.5);
            padding: 0 16px;
        }
    }
}

// Centering Banner Container for Mobile
/////////////////////////////////////////
.container-center {
    @include breakpoint(smd) {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

// Fixed Search bar When Scrolled
///////////////////////////////////
.section_search.fixed {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    top: 105px;
    left: 0;
    z-index: 11;
    transition: top .5s cubic-bezier(0.645, 0.045, 0.355, 1), left .5s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    &.hid {
        @include breakpoint(md) {
            top: 46px;
            box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.1);
        }
    }
    & .search-bar {
        box-shadow: none;
        margin-top: 0;
    }
    & .search-bar-wrapbar {
        padding: 20px 20px 18px 0;
        @include breakpoint(smd) {
            padding: 20px 0 18px 0;
        }
    }
    & .buttons-wrap {
        padding: 20px 0 18px 0;
    }
    & .search-bar-thebar,
    & .search-bar-theloc {
        // height: 45px;
        height: 40px;
        // overflow: hidden;
    }
    & .search-bar-thebar-image {
        margin-top: 1px;
    }
    & .search-bar__icon {
        height: 20px;
        // margin-top: -5px;
    }
    & .search-bar__label {
        display: none;
    }
    & .search-bar__thebar,
    & .search-bar__theloc {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        width: 90%;
    }
    & .search-bar-theloc-ul,
    & .search-bar-thebar-ul {
        top: 46px;
    }
    & .btn-search,
    & .btn-view {
        padding: 8px;
        // min-height: 40px;
        height: 40px;
    }
}

.search {
    &-wrap {
        position: relative;
        z-index: 2;
    }
    &-bar {
        text-align: center;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        margin-top: 60px;
    }
    &-bar__want {
        margin-top: 3px;
    }
    &-bar-wrapbar {
        position: relative;
        width: 100%;
        padding: 15px 0 15px 20px;
        background-color: #FFF;
        border-radius: 12px 0 0 12px;
        // MQ
        @include breakpoint(smd) {
            padding: 20px 20px 0 20px;
            border-radius: 3px 3px 0 0;
        }
        // float: left;
    }
    &-bar-wrapbar>* {
        // display: block;
        // border: none;
        // outline: none;
        // margin: 0;
        // padding: 0;
    }
    &-bar-wrapbar>input {
        padding: 9px;
        position: relative;
        float: left;
    }
    &-bar-thebar {
        width: calc(65% - 20px);
        float: left;
        position: relative;
        border-radius: 3px;
        // background-color: #ffffff;
        border: solid 2px #EBEBEB;
        border-radius: 24px;
        margin-right: 20px;
        padding: 8.5px 15px;
        max-height: 62px;
        height: 40px;
        background-color: #fafafa;
        font-family: Montserrat;
        &:focus {
            border: solid 1px #38BC25;
        }
        @include breakpoint(smd) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    &-bar-theloc {
        width: 35%;
        float: left;
        position: relative;
        border-radius: 3px;
        // background-color: #ffffff;
        border: solid 2px #EBEBEB;
        border-radius: 24px;
        // margin-right: 20px;
        padding: 8.5px 15px;
        max-height: 62px;
        height: 40px;
        background-color: #fafafa;
        font-family: Montserrat;
        @include breakpoint(smd) {
            width: 100%;
        }
    }
    &-bar-thebar-image {
        /* float: left; */
        /* height: inherit */
        height: 100%;
        /* margin-top: 9px; */
        /* margin-right: 15px; */
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }
    &-bar-thebar-group {
        // float: left;
        // text-align: left;
        // width: 80%;
        float: left;
        text-align: left;
        width: 100%;
        padding-left: calc(15px + 28px);
    }
    &-bar__thebar,
    &-bar__theloc {
        position: relative;
        border: none;
        outline: none;
        text-transform: capitalize;
        color: rgba(0,0,0,0.54);
        &::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.24);
            font-weight: 600;
            font-family: 'Montserrat';
            font-size: 13px;
        }
        &::-moz-placeholder {
            color: rgba(0, 0, 0, 0.24);
            font-weight: 600;
            font-family: 'Montserrat';
            font-size: 13px;
        }
        &:-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.24);
            font-weight: 600;
            font-family: 'Montserrat';
            font-size: 13px;
        }
        &:-moz-placeholder {
            color: rgba(0, 0, 0, 0.24);
            font-weight: 600;
            font-family: 'Montserrat';
            font-size: 13px;
        }
    }
    &-bar__theloc {
        display: block;
        width: 100%;
        background-color: transparent;
        font-size: 14px;
        padding: 0;
        margin: 0;
        height: 100%;
        padding-left: 40px;
    }
    // Input ->
    &-bar__icon {
        vertical-align: middle;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        // transform: translateY(-50%);
        // margin: 0 15px;
        &--scroll {
            display: none;
        }
    }
    &-bar__label {
        display: block;
        // height: 14px;
        margin-bottom: 3px;
        @include breakpoint(smd) {
            // height: 12px;
            margin-bottom: 3px;
        }
    }
    &-bar__thebar {
        display: block;
        width: 100%;
        background-color: transparent;
        font-size: 14px;
        padding: 0;
        margin: 0;
        height: 100%;
        padding-left: 40px;
    }
    &-bar__theloc {
        width: 100%;
        cursor: pointer;
        background-color: transparent;
    }
    // Input <-
    // Arrow and Map Marker ->
    &-bar__thelocarrow,
    &-bar__thelocmarker {
        position: absolute;
        color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
    &-bar__thelocarrow {
        right: 12px;
        // top: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
    &-bar__thelocmarker {
        left: 0;
        top: 12px;
    }
    // Arrow and Map Marker <-
    // Search Bar Selection ->
    &-bar-thebar-ul {
        visibility: hidden;
        opacity: 0;
        background-color: #fff;
        border-radius: 12px;
        border: solid 1px #e0e0e0;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
        position: absolute;
        z-index: 10;
        width: 100%;
        overflow-y: hidden;
        top: 50px;
        left: 0;
        font-family: Montserrat;
        // padding: 0 15px;
        transition: all .6s cubic-bezier(.075, .82, .165, 1);
        max-height: 240px;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    &-bar-thebar__li {
        text-align: left;
        // border-bottom: 1px solid #E0E0E0;
        background-color: #FFF;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
        line-height: 1;
        // padding: 15px 0;
        cursor: pointer;
        &:hover {
            background-color: #FAFAFA;
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
    &-bar-thebar__lijob {
        display: inline-block;
        max-width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 15px;
    }
    &-bar-thebar__liwrapper {
        padding: 15px 0;
        margin: 0 15px;
        border-bottom: 1px solid #e0e0e0;
        font-size: 13px;
    }
    // Search Bar Selection <-
    // Location Selection ->
    &-bar-theloc-ul {
        visibility: hidden;
        opacity: 0;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #ebebeb;
        position: absolute;
        z-index: 10;
        width: 100%;
        // overflow-y: scroll;
        top: 50px;
        left: 0;
        // padding: 0 15px;
        transition: all .6s cubic-bezier(.075, .82, .165, 1);
        max-height: 172px;
        overflow: hidden;
        &.active {
            visibility: visible;
            opacity: 1;
            box-shadow: 0 30px 50px 0 rgba(29,65,98,.2);
        }
    }
    &-bar-theloc__li {
        text-align: left;
        // border-bottom: 1px solid #E0E0E0;
        background-color: #FFF;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
        // padding: 10px;
        cursor: pointer;
        &:hover {
            // background-color: #FAFAFA;
            background-color: #F4F7FD;
        }
        &:last-of-type {
            & div {
                border-bottom: none;
            }
        }
        &:first-of-type {
            & .search-bar-theloc__liloc {
                font-weight: 600;
            }
        }
    }
    &-bar-theloc__liloc {
        display: inline-block;
        max-width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 15px;
        text-transform: capitalize;
        font-family: Montserrat;
    }
    &-bar-theloc__liwrapper {
        padding: 15px 0;
        margin: 0 15px;
        // border-bottom: 1px solid #e0e0e0;
        font-size: 13px;
    }
    // Location Selection <-
    // Popular Jobs ->
    &-popular__text {
        margin-top: 10px;
    }
    &-popularlist {
        position: relative;
        z-index: 1 & a {
            text-decoration: none;
        }
        &__li {
            display: inline-block;
            color: $tkpd-white;
            padding: 3px 8px;
            background-color: rgba(255, 255, 255, 0.50);
            border-radius: 100px;
            margin-top: 10px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
    //  Popular Jobs <-
}

.btn-search {
    display: inline-block;
    width: calc(50% - 30px);
    margin-right: 20px;
    margin-left: -4px;
    font-size: 16px;
    // padding: 19px;
    // min-height: 45px;
    height: 40px;
    &:before {
        width: 100%;
    }
    @include breakpoint(smd) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 8px;
    }
}

.btn-view {
    display: inline-block;
    width: calc(50% - 36px);
    font-size: 16px;
    height: 45px;
    margin-left: 20px;
    // padding: 19px;
    // min-height: 62px;
    height: 40px;
    @include breakpoint(smd) {
        width: 100%;
        margin-left: 0;
        margin-top: 8px;
    }
}

.col-search-60 {
    float: left;
    position: relative;
    width: 60%;
    @include breakpoint(smd) {
        width: 100%;
    }
}

.col-search-40 {
    float: left;
    position: relative;
    width: 40%;
    @include breakpoint(smd) {
        width: 100%;
    }
}

.col-search-btn,
.col-view-btn {
    float: left;
    position: relative;
    width: 50%;
    @include breakpoint(smd) {
        width: 100%;
    }
}

.buttons-wrap {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    background-color: #FFF;
    border-radius: 0 3px 3px 0;
    font-family: Montserrat;
    @include breakpoint(smd) {
        padding: 20px 20px 20px 20px;
        border-radius: 0 0 3px 3px;
    }
}

.search-or {
    // background-color: #fff;
    background-color: transparent;
    // border: solid 1px #e0e0e0;
    border: none;
    border-radius: 50%;
    color: rgba(0,0,0,.38);
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 600;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    padding: 11px;
    /* right: 0; */
    left: 50%;
    max-width: 45px;
    margin: auto;
    z-index: 6;
    @include breakpoint(xs) {
        display: none;
    }
}

.search-or-line {
    width: 1px;
    height: 100%;
    background-color: #E0E0E0;
    // display: block;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // transform: translate
    margin: auto;
    z-index: 5;
    @include breakpoint(smd) {
        width: calc(100% - 40px);
        height: 1px;
        bottom: 0;
    }
}

/* ========================
   === Mobile Search ===
=========================*/

.section_mobile-search {
    position: fixed;
    bottom: -100%;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    overflow: visible;
    display: block;
    transition: bottom 0.2s ease;
    &.active {
        bottom: 0;
    }
}

.search-bar-thebar-ul--m {
    @extend .search-bar-thebar-ul;
    position: relative;
    top: 0;
    border: none;
    box-shadow: none;
    max-height: 286px;
    overflow: hidden;
}

.search-bar__thebar--m {
    @extend .search-bar__thebar;
    width: calc(100% - 67px);
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    overflow: visible;
    display: inline-block;
    float: none;
    padding-left: 5px;
    // max-height: 16px;
}

.m-searchbar {
    padding: 15px 20px;
    background-color: #FFF;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.m-searchbar-arrow {
    margin-right: 20px;
    float: none;
    display: inline-block;
    &__arrow {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

.m-searchbar-lens {
    margin-right: 5px;
    float: none;
    display: inline-block;
    &__lens {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

.m-searchcopy__copy {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #F8F8F8;
    color: rgba(0, 0, 0, 0.38);
}


/* ========================
   === Mobile Location ===
=========================*/

.section_mobile-location {
    position: fixed;
    bottom: -100%;
    z-index: 10;
    // height: 100%;
    width: 100%;
    background-color: #FFF;
    overflow: visible;
    display: block;
    transition: bottom 0.2s ease;
    &.active {
        bottom: 0;
    }
}

.search-bar-theloc-ul--m {
    @extend .search-bar-theloc-ul;
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    overflow-y: auto;
    top: 0;
    border: none;
    & li div {
        border: none;
    }
}

.m-location {
    height: auto;
}

.m-location-copy {
    border-bottom: solid 1px #E0E0E0;
    padding: 20px;
    &__copy {
        font-weight: 600;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.38);
    }
}