#toaster-box {
    position: fixed;
    bottom: 35px;
    left: 235px;
    transform: translateX(-50%);
    z-index: 99999;
    @include breakpoint(xs) {
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        transform: none;
    }
}

.tp-toaster {
    z-index: 99999;
    position: relative;
    min-width: 234px;
    max-width: 400px;
    padding: 16px;
    padding-right: 62px;
    background-color: #333;
    color: #fff;
    opacity: 1;
    transition: all .5s ease;
    border-radius: 3px;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    display: block;
    margin-bottom: 15px;
    @include breakpoint(xs) {
        margin-bottom: 5px;
        max-width: 100%;
        border-radius: 0;
        min-width: 0;
        max-width: 100%;
    }
}

.tp-toaster__close {
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    cursor: pointer;
    &:after {
        font-family: FontAwesome;
        content: "\f00d";
        font-size: 16px;
    }
}
