.btn-tkpd {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0 16px;
    outline: none;
    border-radius: 100px;

    /* ========= */
    /* Modifiers */
    /* ========= */
    
    // Size
    // &--small {
    //     font-size: 0.785714rem;
    //     line-height: 16px;
    //     height: 32px;
    // }
    // &--medium {
    //     font-size: 0.928571rem;
    //     line-height: 24px;
    //     height: 40px;
    // }
    // &--large {
    //     font-size: 1rem;
    //     line-height: 32px;
    //     height: 48px;
    // }

    // SIZE
    &--green, &--orange, &--lgreen {
      &.btn-tkpd--small {
        font-size: 11px;
        padding: 10px;
      }
      &.btn-tkpd--medium {
        font-size: 13px;
        padding: 11px;
      }
      &.btn-tkpd--large {
        font-size: 14px;
        padding: 13.5px;
      }
    }

    &--sgreen,
    &--sgrey, 
    &--sgray,
    &:disabled {
      &.btn-tkpd--small {
        font-size: 11px;
        padding: 9px;
      }
      &.btn-tkpd--medium {
        font-size: 13px;
        padding: 10px;
      }
      &.btn-tkpd--large {
        font-size: 14px;
        padding: 12.5px;
      }
    }

    
    // Main Colors
    &--green {
        // background: #42B549;
        background: linear-gradient(to right, #14a01d, #6dcf73);
        color: #FAFAFA;
        transition: background 0.3s linear;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            transition: opacity 0.3s linear;
            width: 100%;
            height: 100%;
            background: linear-gradient(to left, rgba(0,0,0, 0.10) 0%,rgba(0,0,0,0.3) 100%);
            top: 0;
            left: 0;
            opacity: 0;
        }
        &:hover {
          color: #FAFAFA;
            &:before {
                transition: opacity 0.3s linear;
                opacity: 1;
            }
        }
        &:active, &:visited {
          color: #FAFAFA;
          text-decoration: none;
        }
    }
    &--orange {
        // background: #FF5722;
        background: linear-gradient(to left, #ff9047, #ff5722);
        color: #FAFAFA;
        transition: background 0.3s linear;
        &:before {
            content: "";
            position: absolute;
            transition: opacity 0.3s linear;
            width: 100%;
            height: 100%;
            background: linear-gradient(to left, rgba(0,0,0, 0.10) 0%,rgba(0,0,0,0.3) 100%);
            top: 0;
            left: 0;
            opacity: 0;
        }
        &:hover {
            color: #FAFAFA;
            &:before {
                opacity: 1;
            }
        }
        &:active, &:visited {
          color: #FAFAFA;
          text-decoration: none;
        }
    }

    // Secondary Colors
    &--sgreen {
        background: transparent;
        border: solid 1px #42b549;
        color: #42B549;
        transition: background 0.3s ease;
        &:hover {
            color: #42B549;
            background: #EDFEEE;
        }
        &:active, &:visited {
            color: #42B549;
            background: transparent;
            text-decoration: none;
        }
    }
    &--sgrey, &--sgray {
        background: transparent;
        border: 1px solid rgba(0,0,0,.12);
        color: rgba(0, 0, 0, 0.54);
        transition: background 0.3s ease;
        &:hover {
            background: #e6e6e6;
            color: #606060;
        }
        &:active, &:visited {
            color: #606060;
            background: transparent;
            text-decoration: none;
        }
    }

    // Low Colors
    &--lgreen {
        background: transparent;
        color: #42B549;
        &:hover {
            color: #42B549;
            transition: background 0.3s linear;
            background: #EDFEEE;
        }
        &:active, &:visited {
          color: #42B549;
          background: transparent;
          text-decoration: none;
        }
    }

    // Disabled
    &:disabled {
        color: rgba(0, 0, 0, 0.38);
        background-color: #e0e0e0;
        border: solid 1px #e0e0e0;
        cursor: not-allowed;
    }

    // Width
    &--w200 {
        width: 202px;
    }

    &__text {
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 0.3s linear, top 0.3s linear;
        vertical-align: middle;
    }
    &__icon {
        max-width: 24px;
        max-height: 24px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
}

.mb32 {
    margin-bottom: 32px;
}